<!-- INCLUDE ucp_header.html -->
</form>

	<table class="tablebg" width="100%" cellspacing="1">
		<tr>
			<th colspan="4">{L_TITLE}</th>
		</tr>
		<tr>
			<td class="row1" colspan="4"><p class="genmed">{L_TITLE_EXPLAIN}</p></td>
		</tr>

	</table>
	<br />

	<form id="ucp_gallery" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>
		<table class="tablebg" width="100%" cellspacing="1">
			<tr>
				<!-- IF DISP_FAKE_THUMB --><th width="4%" nowrap="nowrap">&nbsp;</th><!-- ENDIF -->
				<th nowrap="nowrap">{L_IMAGES}</th>
				<th width="5%" nowrap="nowrap">&nbsp;{L_MARK}&nbsp;</th>
			</tr>
			<!-- IF TOTAL_IMAGES -->
				<tr>
					<td class="row3" colspan="4">
						<table width="100%" cellspacing="1">
						<tr>
							<td class="nav" valign="middle" nowrap="nowrap">&nbsp;{PAGE_NUMBER}<br /></td>
							<td class="gensmall" nowrap="nowrap">&nbsp;[ {TOTAL_IMAGES} ]&nbsp;</td>
							<td class="gensmall" width="100%" align="{S_CONTENT_FLOW_END}" nowrap="nowrap"><!-- INCLUDE pagination.html --></td>
						</tr>
						</table>
					</td>
				</tr>
			<!-- ENDIF -->
			<!-- BEGIN image_row -->
			<tr>
				<!-- IF image_row.UC_FAKE_THUMBNAIL --><td class="row1" width="{FAKE_THUMB_SIZE}" align="center"><span style="float: left; text-align: center; width: {FAKE_THUMB_SIZE}px; padding-right: 5px;">{image_row.UC_FAKE_THUMBNAIL}</span></td><!-- ENDIF -->
				<td class="row1">
					{image_row.UC_IMAGE_NAME}<br />
					<span>{L_POST_BY_AUTHOR} {image_row.UPLOADER}<br />
					{image_row.IMAGE_TIME}<br />
					{L_ALBUM}: <a href="{image_row.U_VIEW_ALBUM}" style="font-weight: bold;">{image_row.ALBUM_NAME}</a></span>
				</td>
				<td class="row2" align="center">&nbsp;<input type="checkbox" name="image_id_ary[]" value="{image_row.IMAGE_ID}" />&nbsp;</td>
			</tr>
			<!-- BEGINELSE -->
			<tr>
				<td class="row1" colspan="3">
					<span>{L_NO_FAVORITES}</span>
				</td>
			</tr>
			<!-- END image_row -->
			<tr>
				<td class="cat" colspan="6" align="right">
					<select name="action">
						<option value="" selected="selected">{L_CHOOSE_ACTION}</option>
						<option value="remove_favorite">{L_REMOVE_FROM_FAVORITES}</option>
					</select>
					<input class="btnmain" type="submit" value="{L_SUBMIT}" />
				</td>
			</tr>
		</table>
		<table width="100%" cellspacing="2" cellpadding="2" border="0" align="center">
			<tr>
				<td align="right" valign="top" nowrap="nowrap"><b class="gensmall"><a href="#" onclick="marklist('ucp_gallery', 'image_id_ary', true); return false;">{L_MARK_ALL}</a> :: <a href="#" onclick="marklist('ucp_gallery', 'image_id_ary', false); return false;">{L_UNMARK_ALL}</a></b></td>
			</tr>
		</table>
	</form>


<!--
	I request you retain the full copyright notice below including the link to www.flying-bits.org.
	This not only gives respect to the large amount of time given freely by the developer
	but also helps build interest, traffic and use of phpBB Gallery. If you (honestly) cannot retain
	the full copyright I ask you at least leave in place the "Powered by phpBB Gallery" line, with
	"phpBB Gallery" linked to www.flying-bits.org. If you refuse to include even this then support on my
	forums may be affected.

	phpBB Gallery, nickvergessen : 2009
//-->
<div style="text-align: center; clear: both;"><span class="copyright">
	Powered by <a href="http://www.flying-bits.org/">phpBB Gallery</a> &copy; 2007, 2009 <a href="http://www.flying-bits.org/">nickvergessen</a>
	<!-- IF GALLERY_TRANSLATION_INFO --><br />{GALLERY_TRANSLATION_INFO}<!-- ENDIF -->
</span></div>
<br clear="all" />
<form name="ucp" id="ucp" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>
<!-- INCLUDE ucp_footer.html -->