.gallery-icon, .gallery-icon a		{ background: none top left no-repeat; }
ul.profile-icons li.gallery-icon	{ width: 20px; height: 20px; }
.gallery-icon, .gallery-icon a		{ background-image: url("{T_IMAGESET_PATH}/icon_contact_gallery.gif"); }

.buttons div.upload-icon	{ width: {IMG_BUTTON_UPLOAD_IMAGE_WIDTH}px; height: {IMG_BUTTON_UPLOAD_IMAGE_HEIGHT}px; }
.upload-icon span	{ background-image: url("{T_IMAGESET_LANG_PATH}/button_upload_image.gif"); }

.icon-gallery {
	background-position: 0 50%;
	background-repeat: no-repeat;
	padding: 1px 0 0 17px;
	background-image: url("{T_THEME_PATH}/images/icon_gallery.gif");
}

dd.g_lastimage {
	padding-left: 5px;
	width: 30%;
}

dd.g_moderation {
	width: 35%;
}

dd.g_rating, dd.g_comments {
	width: 12%;
	text-align: center;
	font-size: 1.1em;
}

dd.g_status {
	width: 15%;
	text-align: center;
	font-size: 1.1em;
}

span.reported-images-number {
	color: red;
}

.g_unapproved {
	background-position: 100% 0;
	background-repeat: no-repeat;
	background-image: url("{T_IMAGESET_PATH}/icon_gallery_unapproved.gif");
}

.g_locked {
	background-position: 100% 0;
	background-repeat: no-repeat;
	background-image: url("{T_IMAGESET_PATH}/icon_gallery_locked.gif");
}

.g_reported {
	background-position: 100% 0;
	background-repeat: no-repeat;
	background-image: url("{T_IMAGESET_PATH}/icon_gallery_reported.gif");
}