<!-- INCLUDE overall_header.html -->

<form action="{S_ALBUM_ACTION}" method="post">
<table width="100%" cellspacing="2" cellpadding="2" border="0">
  <tr>
	<td class="nav"><span class="nav"><a href="{U_INDEX}" class="nav">{L_INDEX}</a> -> <a class="nav" href="{U_ALBUM}">{L_ALBUM}</a></span></td>
  </tr>
</table>
<table width="100%" cellpadding="4" cellspacing="1" border="0" class="forumline">
	<tr>
	  <th height="25" class="thHead">{L_MOVE}</th>
	</tr>
	<tr>
	  <td class="bg1" align="center"><br /><span class="gen">{L_MOVE_TO_ALBUM}</span> &nbsp; {S_ALBUM_SELECT} &nbsp; <input class="mainoption" type="submit" name="move" value="{L_MOVE}" /><br />&nbsp;</td>
	</tr>
</table>
<!-- BEGIN pic_id_array -->
<input type="hidden" name="image_id[]" value="{pic_id_array.VALUE}" />
<!-- END pic_id_array -->
{S_FORM_TOKEN}
</form>

<br />

<!-- Please keep this little notice visible -->
<div class="copyright">Powered by <a href="http://phpbbgallery.ph.funpic.de">phpBB Gallery</a> & <a href="http://mods.flying-bits.org/">nickvergessen</a></div>

<!-- INCLUDE overall_footer.html -->