<!-- INCLUDE overall_header.html -->

<script type="text/javascript">
<!--
function checkRateForm() {
	if (document.rateform.rate.value == -1)
	{
		return false;
	}
	else
	{
		return true;
	}
}
// -->
</script>
<h2><a href="{S_ALBUM_ACTION}">{IMAGE_NAME}</a></h2>

<p class="{S_CONTENT_FLOW_END} rightside"><!-- IF U_NEXT --><a href="{U_NEXT}">{L_NEXT}</a><!-- ENDIF --></p>
<p><!-- IF U_PREVIOUS --><a href="{U_PREVIOUS}">{L_PREVIOUS}</a><!-- ENDIF -->&nbsp;</p>
<div class="post bg2">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<div style="text-align: center; padding: 20px;">
			<a href="{U_IMAGE}"<!-- IF S_GALLERY_HIGHSLIDE_JS --> class="highslide" onclick="return hs.expand(this)"<!-- ELSE --> rel="lytebox" class="image-resize"<!-- ENDIF -->><img src="{U_IMAGE}" alt="{IMAGE_NAME}" style="max-height: {IMAGE_RSZ_HEIGHT}px; max-width: {IMAGE_RSZ_WIDTH}px;" /></a>
		</div>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>

<div id="postingbox" class="panel">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<h3>{L_DETAILS}</h3>
		<!-- IF U_EDIT or U_DELETE or U_REPORT -->
		<div class="postbody">
			<ul class="profile-icons">
				<!-- IF U_EDIT --><li class="edit-icon"><a href="{U_EDIT}" title="{L_EDIT_IMAGE}"><span>{L_EDIT_IMAGE}</span></a></li><!-- ENDIF -->
				<!-- IF U_DELETE --><li class="delete-icon"><a href="{U_DELETE}" title="{L_DELETE_IMAGE}"><span>{L_DELETE_IMAGE}</span></a></li><!-- ENDIF -->
				<!-- IF U_REPORT --><li class="report-icon"><a href="{U_REPORT}" title="{L_REPORT_IMAGE}"><span>{L_REPORT_IMAGE}</span></a></li><!-- ENDIF -->
			</ul>
		</div>
		<br style="clear: both;" />
		<!-- ENDIF -->
		<fieldset class="fields1">
			<dl>
				<dt><label>{L_POSTER}:</label></dt>
				<dd>{POSTER}</dd>
			</dl>
			<dl>
				<dt><label>{L_IMAGE_TITLE}:</label></dt>
				<dd>{IMAGE_NAME}</dd>
			</dl>
			<!-- IF IMAGE_DESC -->
				<dl>
					<dt><label>{L_IMAGE_DESC}:</label></dt>
					<dd><div class="postbody"><div class="content">{IMAGE_DESC}</div></div></dd>
				</dl>
			<!-- ENDIF -->
			<dl>
				<dt><label>{L_IMAGE_BBCODE}:</label></dt>
				<dd><input type="text" size="28" value="{IMAGE_BBCODE}" class="inputbox autowidth" onclick="this.focus();this.select();" /></dd>
			</dl>
			<dl>
				<dt><label>{L_IMAGE_URL}:</label></dt>
				<dd><input type="text" size="28" value="{IMAGE_URL}" class="inputbox autowidth" onclick="this.focus();this.select();" /></dd>
			</dl>
			<dl>
				<dt><label>{L_POSTED}:</label></dt>
				<dd>{IMAGE_TIME}</dd>
			</dl>
			<dl>
				<dt><label>{L_VIEWS}:</label></dt>
				<dd>{IMAGE_VIEW}</dd>
			</dl>
			<!-- IF S_ALLOWED_TO_RATE or S_YOUR_RATING -->
				<dl>
					<dt><label>{L_RATING}:</label></dt>
					<dd>{IMAGE_RATING}<!-- IF S_YOUR_RATING --> ({L_YOUR_RATING}: {S_YOUR_RATING})<!-- ENDIF --></dd>
				</dl>
			<!-- ENDIF -->
		</fieldset>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>

<!-- IF S_EXIF_DATA -->
<script type="text/JavaScript">
function getElement(iElementId)
{
	if (document.all) 
	{
		return document.all[iElementId];
	}
	if (document.getElementById)
	{
		return document.getElementById(iElementId);
	}
}

function toggleElement(oElement)
{
	if (oElement.style.display == "none")
	{
		oElement.style.display = "";
	}
	else
	{
		oElement.style.display = "none";
	}
}
</script>
<div id="postingbox" class="panel">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<h3>{L_EXIF-DATA} - <a href="javascript: toggleElement( getElement('exif_data_fieldset'));">{L_SHOW_EXIF}</a></h3>
		<fieldset class="fields1" id="exif_data_fieldset">
			<dl>
				<dt><label>{L_EXIF_DATE}:</label></dt>
				<dd>{EXIF_DATE}</dd>
			</dl>
			<dl>
				<dt><label>{L_EXIF_FOCAL}:</label></dt>
				<dd>{EXIF_FOCAL} {L_EXIF_FOCAL_EXP}</dd>
			</dl>
			<dl>
				<dt><label>{L_EXIF_EXPOSURE}:</label></dt>
				<dd>{EXIF_EXPOSURE} {L_EXIF_EXPOSURE_EXP}</dd>
			</dl>
			<dl>
				<dt><label>{L_EXIF_APERTURE}:</label></dt>
				<dd>{EXIF_APERTURE}</dd>
			</dl>
			<dl>
				<dt><label>{L_EXIF_EXPOSURE_PROG}:</label></dt>
				<dd>{EXIF_EXPOSURE_PROG}</dd>
			</dl>
			<dl>
				<dt><label>{L_EXIF_EXPOSURE_BIAS}:</label></dt>
				<dd>{EXIF_EXPOSURE_BIAS}</dd>
			</dl>
			<dl>
				<dt><label>{L_EXIF_METERING_MODE}:</label></dt>
				<dd>{EXIF_METERING_MODE}</dd>
			</dl>
			<dl>
				<dt><label>{L_EXIF_ISO}:</label></dt>
				<dd>{EXIF_ISO}</dd>
			</dl>
			<dl>
				<dt><label>{L_EXIF_FLASH}:</label></dt>
				<dd>{EXIF_FLASH}</dd>
			</dl>
			<dl>
				<dt><label>{L_EXIF_WHITEB}:</label></dt>
				<dd>{WHITEB}</dd>
			</dl>
			<dl>
				<dt><label>{L_EXIF_CAM_MODEL}:</label></dt>
				<dd>{CAM_MODEL}</dd>
			</dl>
		</fieldset>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
<!-- ENDIF -->

<!-- IF not S_IS_BOT and (S_ALLOWED_TO_RATE or S_ALLOWED_TO_COMMENT) -->
<a name="rating"></a>
<form id="postform" action="{S_COMMENT_ACTION}" method="post" onsubmit="return checkCommentForm;">
<div id="postingbox" class="panel">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<h3><!-- IF S_ALLOWED_TO_RATE and S_ALLOWED_TO_COMMENT -->{L_POST_COMMENT_RATE_IMAGE}<!-- ELSEIF S_ALLOWED_TO_COMMENT -->{L_POST_COMMENT}<!-- ELSE -->{L_RATE_IMAGE}<!-- ENDIF --></h3>
		<fieldset class="fields1">
			<!-- IF S_ALLOWED_TO_RATE -->
				<dl>
					<dt><label>{L_YOUR_RATING}:</label></dt>
					<dd>
						<select name="rate">
						<!-- BEGIN rate_scale -->
							<!-- IF rate_scale.RATE_POINT == 1 --><option value="0">{L_DONT_RATE_IMAGE}</option><!-- ENDIF -->
							<option value="{rate_scale.RATE_POINT}">{rate_scale.RATE_POINT}</option>
						<!-- END rate_scale -->
						</select>
						<!-- IF not S_ALLOWED_TO_COMMENT -->
							<input type="submit" name="rate" value="{L_SUBMIT}" class="button1" />
						<!-- ENDIF -->
					</dd>
				</dl>
			<!-- ENDIF -->
			<!-- IF S_ALLOWED_TO_COMMENT -->
				<!-- IF not S_USER_LOGGED_IN -->
					<dl>
						<dt><label>{L_USERNAME}:</label></dt>
						<dd><input class="inputbox autowidth" type="text" name="username" maxlength="32" /></dd>
					</dl>
				<!-- ENDIF -->
				<!-- INCLUDE posting_buttons.html -->
				<div id="smiley-box">
					<!-- IF S_SMILIES_ALLOWED and .smiley -->
						<strong>{L_SMILIES}</strong><br />
						<!-- BEGIN smiley -->
							<a href="#" onclick="insert_text('{smiley.A_SMILEY_CODE}', true); return false;"><img src="{smiley.SMILEY_IMG}" width="{smiley.SMILEY_WIDTH}" height="{smiley.SMILEY_HEIGHT}" alt="{smiley.SMILEY_CODE}" title="{smiley.SMILEY_DESC}" /></a>
						<!-- END smiley -->
					<!-- ENDIF -->
					<!-- IF S_SHOW_SMILEY_LINK and S_SMILIES_ALLOWED-->
						<br /><a href="{U_MORE_SMILIES}" onclick="popup(this.href, 300, 350, '_phpbbsmilies'); return false;">{L_MORE_SMILIES}</a>
					<!-- ENDIF -->

					<!-- IF BBCODE_STATUS -->
					<!-- IF .smiley --><hr /><!-- ENDIF -->
					{BBCODE_STATUS}<br />
					<!-- IF S_BBCODE_ALLOWED -->
						{IMG_STATUS}<br />
						{FLASH_STATUS}<br />
						{URL_STATUS}<br />
						{SMILIES_STATUS}<hr />
					<!-- ENDIF -->
					<!-- ENDIF -->
					{L_COMMENT_LENGTH}
				</div>
				<div id="message-box">
					<textarea name="message" id="message" rows="10" cols="76" tabindex="3" onselect="storeCaret(this);" onclick="storeCaret(this);" onkeyup="storeCaret(this);" class="inputbox"></textarea>
				</div>
				<input type="submit" name="submit" value="{L_SUBMIT}" class="button1" />
			</fieldset>
		<!-- ENDIF -->
		{S_FORM_TOKEN}
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
</form>
<!-- ENDIF -->

<!-- IF S_ALLOWED_READ_COMMENTS -->
<a name="comments"></a>
<!-- IF not .commentrow -->
	<div id="postingbox" class="panel">
		<div class="inner">
			<span class="corners-top"><span></span></span>
			<h3>{L_COMMENTS}</h3>
			<fieldset class="fields1">
				<dl>
					<dt><label>{L_COMMENTS}:</label></dt>
					<dd>{L_NO_COMMENTS}</dd>
				</dl>
			</fieldset>
			<span class="corners-bottom"><span></span></span>
		</div>
	</div>
<!-- ELSE -->
	<div class="topic-actions">
		<div class="pagination">
			{IMAGE_COMMENTS} {L_COMMENTS} &bull; {PAGE_NUMBER}<!-- IF PAGINATION --> &bull; <span>{PAGINATION}</span><!-- ENDIF -->
		</div>
	</div>
	<!-- BEGIN commentrow -->
	<a id="{commentrow.COMMENT_ID}"></a>
	<div class="post <!-- IF commentrow.S_ROW_COUNT is odd -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">
		<div class="inner">
			<span class="corners-top"><span></span></span>
			<div class="postbody">
				<!-- IF commentrow.U_DELETE or commentrow.U_EDIT or commentrow.U_INFO -->
					<ul class="profile-icons">
						<!-- IF commentrow.U_EDIT --><li class="edit-icon"><a href="{commentrow.U_EDIT}" title="{L_EDIT_POST}"><span>{L_EDIT_POST}</span></a></li><!-- ENDIF -->
						<!-- IF commentrow.U_DELETE --><li class="delete-icon"><a href="{commentrow.U_DELETE}" title="{L_DELETE_POST}"><span>{L_DELETE_POST}</span></a></li><!-- ENDIF -->
						<!-- IF commentrow.U_INFO --><li class="info-icon"><a href="{commentrow.U_INFO}" title="{L_VIEW_INFO}" onclick="popup(this.href, 750, 500); return false;"><span>{L_VIEW_INFO}</span></a></li><!-- ENDIF -->
					</ul>
				<!-- ENDIF -->
				<p class="author"><a href="{commentrow.U_COMMENT}">{MINI_POST_IMG}</a>&nbsp;{L_POST_BY_AUTHOR} <strong>{commentrow.POST_AUTHOR_FULL}</strong> {L_POSTED_ON_DATE} {commentrow.TIME} </p>
				<div class="content">{commentrow.TEXT}</div>
				<!-- IF commentrow.EDIT_INFO --><div class="notice">{commentrow.EDIT_INFO}</div><!-- ENDIF -->
				<!-- IF commentrow.SIGNATURE --><div id="sig{commentrow.COMMENT_ID}" class="signature">{commentrow.SIGNATURE}</div><!-- ENDIF -->
			</div>
			<dl class="postprofile" id="profile{commentrow.COMMENT_ID}">
				<dt>
					<!-- IF commentrow.POSTER_AVATAR -->
						<!-- IF commentrow.U_POST_AUTHOR --><a href="{commentrow.U_POST_AUTHOR}">{commentrow.POSTER_AVATAR}</a><!-- ELSE -->{commentrow.POSTER_AVATAR}<!-- ENDIF --><br />
					<!-- ENDIF -->
					<!-- IF not commentrow.U_POST_AUTHOR --><strong>{commentrow.POST_AUTHOR_FULL}</strong><!-- ELSE -->{commentrow.POST_AUTHOR_FULL}<!-- ENDIF -->
				</dt>

				<!-- IF commentrow.RANK_TITLE or commentrow.RANK_IMG --><dd>{commentrow.RANK_TITLE}<!-- IF commentrow.RANK_TITLE and commentrow.RANK_IMG --><br /><!-- ENDIF -->{commentrow.RANK_IMG}</dd><!-- ENDIF -->
			</dl>
			<span class="corners-bottom"><span></span></span>
		</div>
	</div>
	<!-- END commentrow -->

	<form action="{S_ALBUM_ACTION}" method="post">
	<fieldset class="display-options" style="margin-top: 0; ">
		<label>{L_ORDER}: <select name="sort_order"><option value="ASC"<!-- IF SORT_ASC --> selected="selected"<!-- ENDIF -->>{L_SORT_ASCENDING}</option><option value="DESC"<!-- IF not SORT_ASC --> selected="selected"<!-- ENDIF -->>{L_SORT_DESCENDING}</option></select>&nbsp;<input type="submit" name="submit" value="{L_GO}" class="button2" /></label>
	</fieldset>
	</form>
	<hr />

	<div class="topic-actions">
		<div class="pagination">
			{IMAGE_COMMENTS} {L_COMMENTS} &bull; {PAGE_NUMBER}<!-- IF PAGINATION --> &bull; <span>{PAGINATION}</span><!-- ENDIF -->
		</div>
	</div>
<!-- ENDIF -->
<!-- ENDIF -->

<p></p><p><a href="{U_RETURN_LINK}" class="left-box {S_CONTENT_FLOW_BEGIN}" accesskey="r">{L_RETURN_TO} {S_RETURN_LINK}</a></p>
<form method="post" id="jumpbox" action="{S_JUMPBOX_ACTION}" onsubmit="if(document.jumpbox.album_id.value == -1){return false;}">
	<fieldset class="jumpbox">
		<label for="album_id" accesskey="album_id">{L_JUMP_TO}:</label>
		<select name="album_id" id="album_id" onchange="if(this.options[this.selectedIndex].value != -1){ document.forms['jumpbox'].submit() }">
			{ALBUM_JUMPBOX}
		</select>
		<input type="submit" value="{L_GO}" class="button2" />
	</fieldset>
</form>

<!-- Please keep this little notice visible -->
<div class="copyright">Powered by <!-- port started by tsr: http://phpbbgallery.ph.funpic.de --><a href="http://www.flying-bits.org/">nickvergessen</a></div>
<!-- INCLUDE overall_footer.html -->