<!-- INCLUDE overall_header.html -->

<div class="topic-actions">
	<div class="pagination">
		{PAGE_NUMBER}<!-- IF PAGINATION --> &bull; <span>{PAGINATION}</span><!-- ENDIF -->
	</div>
</div>
<!-- IF .memberrow -->
<div class="forabg">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<ul class="topiclist">
			<li class="header">
				<dl class="icon">
					<dt>{L_USERS_PERSONAL_ALBUMS}</dt>
					<dd class="posts">{L_IMAGES}</dd>
					<dd class="lastpost"><span>{L_LAST_IMAGE}</span></dd>
				</dl>
			</li>
		</ul>
		<!-- BEGIN memberrow -->
		<ul class="topiclist forums">
			<li class="row">
				<dl class="icon" style="background-image: url({memberrow.ALBUM_FOLDER_IMG_SRC}); background-repeat: no-repeat;">
					<dt>
						<!-- IF memberrow.ALBUM_IMAGE --><span class="forum-image">{memberrow.ALBUM_IMAGE}</span><!-- ENDIF -->
						<a href="{memberrow.U_VIEWGALLERY}" class="forumtitle">{memberrow.USERNAME}</a><br />
						<!-- IF memberrow.ALBUM_DESC -->{memberrow.ALBUM_DESC}<!-- ELSE -->{L_JOINED} {memberrow.JOINED}<!-- ENDIF -->
					</dt>
					<dd class="posts">{memberrow.IMAGES} <dfn>{L_IMAGES}</dfn></dd>
					<dd class="lastpost"><span>
						<!-- IF memberrow.U_LAST_IMAGE -->
							<a href="{memberrow.U_LAST_IMAGE}" style="font-weight: bold;">{memberrow.LAST_IMAGE_NAME}</a> <a href="{memberrow.U_LAST_IMAGE}">{LAST_POST_IMG}</a><br />
							{L_POSTED_ON_DATE} {memberrow.LAST_IMAGE_TIME}
						<!-- ELSE -->{L_NO_IMAGES}<!-- ENDIF -->
					</span></dd>
				</dl>
			</li>
		</ul>
		<!-- END memberrow -->
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
<!-- ENDIF -->
<form method="post" action="{S_MODE_ACTION}">
<fieldset class="display-options">
	<label>{L_SELECT_SORT_METHOD}: 
		{S_MODE_SELECT}
	</label>
	<label>{L_ORDER}: 
		{S_ORDER_SELECT}
		<input type="submit" name="sort" value="{L_SORT}" class="button2" />
	</label>
</fieldset>
</form>

<hr />

<div class="topic-actions">
	<div class="pagination">
		{PAGE_NUMBER}<!-- IF PAGINATION --> &bull; <span>{PAGINATION}</span><!-- ENDIF -->
	</div>
</div>

<!-- Please keep this little notice visible -->
<div class="copyright">Powered by <a href="http://phpbbgallery.ph.funpic.de">phpBB Gallery</a> &amp; <a href="http://www.flying-bits.org/">nickvergessen</a></div>

<!-- INCLUDE overall_footer.html -->