<!-- INCLUDE overall_header.html -->

<script type="text/javascript">
<!--
function checkAlbumForm() {
	formErrors = false;

	if (document.editform.pic_title.value.length < 2)
	{
		formErrors = "{L_UPLOAD_NO_TITLE}";
	}
	else if (document.editform.pic_desc.value.length > {S_IMAGE_DESC_MAX_LENGTH})
	{
		formErrors = "{L_DESC_TOO_LONG}";
	}

	if (formErrors)
	{
		alert(formErrors);
		return false;
	}
	else
	{
		return true;
	}
}
// -->
</script>

<h2><a href="#">{IMAGE_NAME}</a></h2>

<div class="post bg2">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<div style="text-align: center; padding: 20px;"><img src="{U_IMAGE}" alt="{IMAGE_NAME}" title="{IMAGE_NAME}" /></div>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>

<form id="editform" action="{S_ALBUM_ACTION}" method="post" onsubmit="return checkAlbumForm()">

<div class="panel" id="postingbox">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<h3>{L_EDIT_IMAGE_INFO}</h3>
		<fieldset>
			<dl>
				<dt><label for="pic_title">{L_IMAGE_TITLE}:</label></dt>
				<dd><input class="inputbox autowidth" type="text" id="pic_title" name="pic_title" value="{IMAGE_NAME}" /></dd>
			</dl>
			<dl>
				<dt><label for="pic_desc">{L_IMAGE_DESC}:</label><br />{L_PLAIN_TEXT_ONLY}<br />{L_MAX_LENGTH}: <b>{S_IMAGE_DESC_MAX_LENGTH}</b></dt>
				<dd><textarea class="inputbox" cols="60" rows="4" id="pic_desc" name="pic_desc">{IMAGE_DESC}</textarea></dd>
			</dl>
		</fieldset>
		
		<span class="corners-bottom"><span></span></span>
	</div>
</div>

<div class="panel bg2">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<fieldset class="submit-buttons">
			<input type="reset" accesskey="r" tabindex="8" value="{L_RESET}" class="button2" />&nbsp;
			<input type="submit" accesskey="s" tabindex="6" name="submit" value="{L_SUBMIT}" class="button1" />&nbsp;
		</fieldset>
		{S_FORM_TOKEN}
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
</form>

<br />

<!-- Please keep this little notice visible -->
<div class="copyright">Powered by <a href="http://phpbbgallery.ph.funpic.de">phpBB Gallery</a> &amp; <a href="http://mods.flying-bits.org/">nickvergessen</a></div>

<!-- INCLUDE overall_footer.html -->