<script type="text/JavaScript">
function getElement(iElementId)
{
	if (document.all) 
	{
		return document.all[iElementId];
	}
	if (document.getElementById)
	{
		return document.getElementById(iElementId);
	}
}

function toggleElement(oElement)
{
	if (oElement.style.display == "none")
	{
		oElement.style.display = "";
	}
	else
	{
		oElement.style.display = "none";
	}
}
</script>
<!-- IF .recent -->
<div class="forumbg">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<ul class="topiclist">
			<li class="header">
				<dl class="icon">
					<dt>{L_RECENT_IMAGES}</dt>
				</dl>
			</li>
		</ul>
		<ul class="topiclist topics">
			<li class="bg2">
				<table width="100%" cellpadding="2" cellspacing="10" border="0" class="forumline">
					<!-- BEGIN recent -->
					<tr>
						<!-- BEGIN image -->
						<td class="bg2" valign="top" style="width: {S_COL_WIDTH};">
							<table width="100%" cellpadding="2" cellspacing="5" border="0" class="forumline">
								<tr>
									<td align="center" style="height: {S_THUMBNAIL_SIZE}px;" class="bg1<!-- IF recent.image.S_UNAPPROVED --> unapproved<!-- ENDIF --><!-- IF recent.image.S_REPORTED --> reported<!-- ENDIF -->">
										<span class="genmed">
											<a href="{recent.image.U_IMAGE}"<!-- IF S_GALLERY_HIGHSLIDE_JS --> class="highslide" onclick="return hs.expand(this)"<!-- ELSE --> rel="lytebox" class="image-resize"<!-- ENDIF -->>
												<img src="{recent.image.U_THUMBNAIL}" alt="{recent.image.IMAGE_NAME}" title="{recent.image.IMAGE_NAME}" />
											</a>
										</span>
									</td>
								</tr>
								<tr>
									<td class="bg2" valign="top">
										<div class="gensmall" style="overflow: hidden;">
											<!-- IF recent.image.IMAGE_NAME -->{L_IMAGE_NAME}: <a href="{recent.image.U_IMAGE_PAGE}" style="font-weight: bold;" title="{recent.image.IMAGE_NAME_FULL}">{recent.image.IMAGE_NAME}</a><br /><!-- ENDIF -->
											<!-- IF recent.image.U_ALBUM -->{L_ALBUM_NAME}: <a href="{recent.image.U_ALBUM}" style="font-weight: bold;">{recent.image.ALBUM_NAME}</a><br /><!-- ENDIF -->
											<!-- IF recent.image.POSTER -->{L_POSTER}: {recent.image.POSTER}<br /><!-- ENDIF -->
											<!-- IF recent.image.TIME -->{L_POSTED}: {recent.image.TIME}<br /><!-- ENDIF -->
											<!-- IF recent.image.VIEW -->{L_VIEWS}: {recent.image.VIEW}<br /><!-- ENDIF -->
											<!-- IF recent.image.S_RATINGS -->{L_RATING}: <a href="{recent.image.U_RATINGS}">{recent.image.S_RATINGS}</a><br /><!-- ENDIF -->
											<!-- IF recent.image.S_COMMENTS -->{recent.image.L_COMMENTS}: <a href="{recent.image.U_COMMENTS}">{recent.image.S_COMMENTS}</a><br /><!-- ENDIF -->
											<!-- IF recent.image.S_IP -->{L_IP}: {recent.image.S_IP} &#187; <a href="{recent.image.U_WHOIS}" onclick="popup(this.href, 750, 500); return false;">{L_WHOIS}</a><br /><!-- ENDIF -->
											<!-- IF recent.image.U_REPORT or recent.image.U_STATUS or recent.image.U_MOVE or  recent.image.U_EDIT or recent.image.U_DELETE -->
											<a href="javascript: toggleElement( getElement('moderate_{recent.image.IMAGE_ID}'));">{L_MODERATE}</a>
											<div id="moderate_{recent.image.IMAGE_ID}" style="display: none;">
												<!-- IF recent.image.U_REPORT -->&#187; <a href="{recent.image.U_REPORT}" class="reported-images-number">{L_READ_REPORT}</a><br /><!-- ENDIF -->
												<!-- IF recent.image.U_STATUS -->&#187; <a href="{recent.image.U_STATUS}">{recent.image.L_STATUS}</a><br /><!-- ENDIF -->
												<!-- IF recent.image.U_MOVE -->&#187; <a href="{recent.image.U_MOVE}">{L_MOVE}</a><br /><!-- ENDIF -->
												<!-- IF recent.image.U_EDIT -->&#187; <a href="{recent.image.U_EDIT}">{L_EDIT_IMAGE}</a><br /><!-- ENDIF -->
												<!-- IF recent.image.U_DELETE -->&#187; <a href="{recent.image.U_DELETE}">{L_DELETE_IMAGE}</a><br /><!-- ENDIF -->
											</div>
											<!-- ENDIF -->
										</div>
									</td>
								</tr>
							</table>
						</td>
						<!-- END image -->
						<!-- BEGIN no_image --> 
							<td class="bg2" valign="top" style="width: {S_COL_WIDTH};">
								<table width="100%" cellpadding="2" cellspacing="10" border="0" class="forumline"><tr>
								<td style="height: {S_THUMBNAIL_SIZE}px;" class="bg1"></td>
								</tr></table>
							</td> 
						<!-- END no_image -->
					</tr>
					<!-- END recent -->
				</table>
			</li>
		</ul>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
<!-- ELSEIF S_RECENT -->
<div class="panel">
	<div class="inner">
		<span class="corners-top"><span></span></span>
			{L_NO_IMAGES}
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
<!-- ENDIF -->

<!-- IF .random -->
<div class="forumbg">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<ul class="topiclist">
			<li class="header">
				<dl class="icon">
					<dt>{L_RANDOM_IMAGES}</dt>
				</dl>
			</li>
		</ul>
		<ul class="topiclist topics">
			<li class="bg2">
				<table width="100%" cellpadding="2" cellspacing="10" border="0" class="forumline">
					<!-- BEGIN random -->
					<tr>
						<!-- BEGIN image -->
						<td class="bg2" valign="top" style="width: {S_COL_WIDTH};">
							<table width="100%" cellpadding="2" cellspacing="5" border="0" class="forumline">
								<tr>
									<td align="center" style="height: {S_THUMBNAIL_SIZE}px;" class="bg1<!-- IF random.image.S_UNAPPROVED --> unapproved<!-- ENDIF --><!-- IF random.image.S_REPORTED --> reported<!-- ENDIF -->">
										<span class="genmed">
											<a href="{random.image.U_IMAGE}"<!-- IF S_GALLERY_HIGHSLIDE_JS --> class="highslide" onclick="return hs.expand(this)"<!-- ELSE --> rel="lytebox" class="image-resize"<!-- ENDIF -->>
												<img src="{random.image.U_THUMBNAIL}" alt="{random.image.IMAGE_NAME}" title="{random.image.IMAGE_NAME}" />
											</a>
										</span>
									</td>
								</tr>
								<tr>
									<td class="bg2" valign="top">
										<div class="gensmall" style="overflow: hidden;">
											<!-- IF random.image.IMAGE_NAME -->{L_IMAGE_NAME}: <a href="{random.image.U_IMAGE_PAGE}" style="font-weight: bold;" title="{random.image.IMAGE_NAME_FULL}">{random.image.IMAGE_NAME}</a><br /><!-- ENDIF -->
											<!-- IF random.image.U_ALBUM -->{L_ALBUM_NAME}: <a href="{random.image.U_ALBUM}" style="font-weight: bold;">{random.image.ALBUM_NAME}</a><br /><!-- ENDIF -->
											<!-- IF random.image.POSTER -->{L_POSTER}: {random.image.POSTER}<br /><!-- ENDIF -->
											<!-- IF random.image.TIME -->{L_POSTED}: {random.image.TIME}<br /><!-- ENDIF -->
											<!-- IF random.image.VIEW -->{L_VIEWS}: {random.image.VIEW}<br /><!-- ENDIF -->
											<!-- IF random.image.S_RATINGS -->{L_RATING}: <a href="{random.image.U_RATINGS}">{random.image.S_RATINGS}</a><br /><!-- ENDIF -->
											<!-- IF random.image.S_COMMENTS -->{random.image.L_COMMENTS}: <a href="{random.image.U_COMMENTS}">{random.image.S_COMMENTS}</a><br /><!-- ENDIF -->
											<!-- IF random.image.S_IP -->{L_IP}: {random.image.S_IP} &#187; <a href="{random.image.U_WHOIS}" onclick="popup(this.href, 750, 500); return false;">{L_WHOIS}</a><br /><!-- ENDIF -->
											<!-- IF random.image.U_REPORT or random.image.U_STATUS or random.image.U_MOVE or  random.image.U_EDIT or random.image.U_DELETE -->
											<a href="javascript: toggleElement( getElement('moderate_{random.image.IMAGE_ID}'));">{L_MODERATE}</a>
											<div id="moderate_{random.image.IMAGE_ID}" style="display: none;">
												<!-- IF random.image.U_REPORT -->&#187; <a href="{random.image.U_REPORT}" class="reported-images-number">{L_READ_REPORT}</a><br /><!-- ENDIF -->
												<!-- IF random.image.U_STATUS -->&#187; <a href="{random.image.U_STATUS}">{random.image.L_STATUS}</a><br /><!-- ENDIF -->
												<!-- IF random.image.U_MOVE -->&#187; <a href="{random.image.U_MOVE}">{L_MOVE}</a><br /><!-- ENDIF -->
												<!-- IF random.image.U_EDIT -->&#187; <a href="{random.image.U_EDIT}">{L_EDIT_IMAGE}</a><br /><!-- ENDIF -->
												<!-- IF random.image.U_DELETE -->&#187; <a href="{random.image.U_DELETE}">{L_DELETE_IMAGE}</a><br /><!-- ENDIF -->
											</div>
											<!-- ENDIF -->
										</div>
									</td>
								</tr>
							</table>
						</td>
						<!-- END image -->
						<!-- BEGIN no_image --> 
							<td class="bg2" valign="top" style="width: {S_COL_WIDTH};">
								<table width="100%" cellpadding="2" cellspacing="10" border="0" class="forumline"><tr>
								<td style="height: {S_THUMBNAIL_SIZE}px;" class="bg1"></td>
								</tr></table>
							</td> 
						<!-- END no_image -->
					</tr>
					<!-- END random -->
				</table>
			</li>
		</ul>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
<!-- ELSEIF S_RANDOM -->
<div class="panel">
	<div class="inner">
		<span class="corners-top"><span></span></span>
			{L_NO_IMAGES}
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
<!-- ENDIF -->

<!-- Please keep this little notice visible -->
<div class="copyright"<!-- IF S_IN_GALLERY --> style="display: none;"<!-- ENDIF -->>Powered by <!-- port started by tsr: http://phpbbgallery.ph.funpic.de --><a href="http://www.flying-bits.org/">nickvergessen</a></div>
<br />