<script type="text/JavaScript">
function getElement(iElementId)
{
	if (document.all) 
	{
		return document.all[iElementId];
	}
	if (document.getElementById)
	{
		return document.getElementById(iElementId);
	}
}

function toggleElement(oElement)
{
	if (oElement.style.display == "none")
	{
		oElement.style.display = "";
	}
	else
	{
		oElement.style.display = "none";
	}
}
</script>
<!-- IF .recent -->
<div class="forumbg">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<ul class="topiclist">
			<li class="header">
				<dl class="icon">
					<dt>{L_RECENT_IMAGES}</dt>
				</dl>
			</li>
		</ul>
		<ul class="topiclist topics">
			<li class="bg2">
				<table width="100%" cellpadding="2" cellspacing="10" border="0" class="forumline">
					<!-- BEGIN recent -->
					<tr>
						<!-- BEGIN image -->
						<td class="bg2" valign="top" style="width: {S_COL_WIDTH};">
							<table width="100%" cellpadding="2" cellspacing="5" border="0" class="forumline">
								<tr>
									<td align="center" style="height: {S_THUMBNAIL_SIZE}px;" class="bg1<!-- IF recent.image.S_UNAPPROVED --> g_unapproved<!-- ENDIF --><!-- IF recent.image.S_LOCKED --> g_locked<!-- ENDIF --><!-- IF recent.image.S_REPORTED --> g_reported<!-- ENDIF -->">
										<span class="genmed">{recent.image.UC_THUMBNAIL}</span>
									</td>
								</tr>
								<tr>
									<td class="bg2" valign="top">
										<div class="gensmall" style="overflow: hidden;">
											<!-- IF recent.image.UC_IMAGE_NAME -->{L_IMAGE_NAME}: {recent.image.UC_IMAGE_NAME}<br /><!-- ENDIF -->
											<!-- IF recent.image.U_ALBUM -->{L_ALBUM_NAME}: <a href="{recent.image.U_ALBUM}" style="font-weight: bold;">{recent.image.ALBUM_NAME}</a><br /><!-- ENDIF -->
											<!-- IF recent.image.POSTER -->{L_UPLOADED_BY_USER}: {recent.image.POSTER}<br /><!-- ENDIF -->
											<!-- IF recent.image.TIME -->{L_UPLOADED_ON_DATE}: {recent.image.TIME}<br /><!-- ENDIF -->
											<!-- IF recent.image.VIEW > -1 -->{L_VIEWS}: {recent.image.VIEW}<br /><!-- ENDIF -->
											<!-- IF recent.image.S_RATINGS -->{L_RATING}: <a href="{recent.image.U_RATINGS}">{recent.image.S_RATINGS}</a><br /><!-- ENDIF -->
											<!-- IF recent.image.S_COMMENTS -->{recent.image.L_COMMENTS}: <a href="{recent.image.U_COMMENTS}">{recent.image.S_COMMENTS}</a><br /><!-- ENDIF -->
											<!-- IF recent.image.S_IP -->{L_IP}: {recent.image.S_IP} &#187; <a href="{recent.image.U_WHOIS}" onclick="popup(this.href, 750, 500); return false;">{L_WHOIS}</a><br /><!-- ENDIF -->
											<!-- IF recent.image.U_REPORT or recent.image.U_STATUS or recent.image.U_MOVE or  recent.image.U_EDIT or recent.image.U_DELETE -->
											<a href="javascript: toggleElement( getElement('moderate_{recent.image.IMAGE_ID}'));">{L_MODERATE}</a>
											<div id="moderate_{recent.image.IMAGE_ID}" style="display: none;">
												<!-- IF recent.image.U_REPORT -->&#187; <a href="{recent.image.U_REPORT}" class="reported-images-number">{L_READ_REPORT}</a><br /><!-- ENDIF -->
												<!-- IF recent.image.U_STATUS -->&#187; <a href="{recent.image.U_STATUS}">{recent.image.L_STATUS}</a><br /><!-- ENDIF -->
												<!-- IF recent.image.U_MOVE -->&#187; <a href="{recent.image.U_MOVE}">{L_MOVE}</a><br /><!-- ENDIF -->
												<!-- IF recent.image.U_EDIT -->&#187; <a href="{recent.image.U_EDIT}">{L_EDIT_IMAGE}</a><br /><!-- ENDIF -->
												<!-- IF recent.image.U_DELETE -->&#187; <a href="{recent.image.U_DELETE}">{L_DELETE_IMAGE}</a><br /><!-- ENDIF -->
											</div>
											<!-- ENDIF -->
										</div>
									</td>
								</tr>
							</table>
						</td>
						<!-- END image -->
						<!-- BEGIN no_image --> 
							<td class="bg2" valign="top" style="width: {S_COL_WIDTH};">
								<table width="100%" cellpadding="2" cellspacing="10" border="0" class="forumline"><tr>
								<td style="height: {S_THUMBNAIL_SIZE}px;" class="bg1"></td>
								</tr></table>
							</td> 
						<!-- END no_image -->
					</tr>
					<!-- END recent -->
				</table>
			</li>
		</ul>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
<!-- ELSEIF S_RECENT -->
<div class="panel">
	<div class="inner">
		<span class="corners-top"><span></span></span>
			{L_NO_IMAGES}
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
<!-- ENDIF -->

<!-- IF .random -->
<div class="forumbg">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<ul class="topiclist">
			<li class="header">
				<dl class="icon">
					<dt>{L_RANDOM_IMAGES}</dt>
				</dl>
			</li>
		</ul>
		<ul class="topiclist topics">
			<li class="bg2">
				<table width="100%" cellpadding="2" cellspacing="10" border="0" class="forumline">
					<!-- BEGIN random -->
					<tr>
						<!-- BEGIN image -->
						<td class="bg2" valign="top" style="width: {S_COL_WIDTH};">
							<table width="100%" cellpadding="2" cellspacing="5" border="0" class="forumline">
								<tr>
									<td align="center" style="height: {S_THUMBNAIL_SIZE}px;" class="bg1<!-- IF random.image.S_UNAPPROVED --> g_unapproved<!-- ENDIF --><!-- IF random.image.S_LOCKED --> g_locked<!-- ENDIF --><!-- IF random.image.S_REPORTED --> g_reported<!-- ENDIF -->">
										<span class="genmed">{random.image.UC_THUMBNAIL}</span>
									</td>
								</tr>
								<tr>
									<td class="bg2" valign="top">
										<div class="gensmall" style="overflow: hidden;">
											<!-- IF random.image.UC_IMAGE_NAME -->{L_IMAGE_NAME}: {random.image.UC_IMAGE_NAME}<br /><!-- ENDIF -->
											<!-- IF random.image.U_ALBUM -->{L_ALBUM_NAME}: <a href="{random.image.U_ALBUM}" style="font-weight: bold;">{random.image.ALBUM_NAME}</a><br /><!-- ENDIF -->
											<!-- IF random.image.POSTER -->{L_UPLOADED_BY_USER}: {random.image.POSTER}<br /><!-- ENDIF -->
											<!-- IF random.image.TIME -->{L_UPLOADED_ON_DATE}: {random.image.TIME}<br /><!-- ENDIF -->
											<!-- IF random.image.VIEW > -1 -->{L_VIEWS}: {random.image.VIEW}<br /><!-- ENDIF -->
											<!-- IF random.image.S_RATINGS -->{L_RATING}: <a href="{random.image.U_RATINGS}">{random.image.S_RATINGS}</a><br /><!-- ENDIF -->
											<!-- IF random.image.S_COMMENTS -->{random.image.L_COMMENTS}: <a href="{random.image.U_COMMENTS}">{random.image.S_COMMENTS}</a><br /><!-- ENDIF -->
											<!-- IF random.image.S_IP -->{L_IP}: {random.image.S_IP} &#187; <a href="{random.image.U_WHOIS}" onclick="popup(this.href, 750, 500); return false;">{L_WHOIS}</a><br /><!-- ENDIF -->
											<!-- IF random.image.U_REPORT or random.image.U_STATUS or random.image.U_MOVE or  random.image.U_EDIT or random.image.U_DELETE -->
											<a href="javascript: toggleElement( getElement('moderate_{random.image.IMAGE_ID}'));">{L_MODERATE}</a>
											<div id="moderate_{random.image.IMAGE_ID}" style="display: none;">
												<!-- IF random.image.U_REPORT -->&#187; <a href="{random.image.U_REPORT}" class="reported-images-number">{L_READ_REPORT}</a><br /><!-- ENDIF -->
												<!-- IF random.image.U_STATUS -->&#187; <a href="{random.image.U_STATUS}">{random.image.L_STATUS}</a><br /><!-- ENDIF -->
												<!-- IF random.image.U_MOVE -->&#187; <a href="{random.image.U_MOVE}">{L_MOVE}</a><br /><!-- ENDIF -->
												<!-- IF random.image.U_EDIT -->&#187; <a href="{random.image.U_EDIT}">{L_EDIT_IMAGE}</a><br /><!-- ENDIF -->
												<!-- IF random.image.U_DELETE -->&#187; <a href="{random.image.U_DELETE}">{L_DELETE_IMAGE}</a><br /><!-- ENDIF -->
											</div>
											<!-- ENDIF -->
										</div>
									</td>
								</tr>
							</table>
						</td>
						<!-- END image -->
						<!-- BEGIN no_image --> 
							<td class="bg2" valign="top" style="width: {S_COL_WIDTH};">
								<table width="100%" cellpadding="2" cellspacing="10" border="0" class="forumline"><tr>
								<td style="height: {S_THUMBNAIL_SIZE}px;" class="bg1"></td>
								</tr></table>
							</td> 
						<!-- END no_image -->
					</tr>
					<!-- END random -->
				</table>
			</li>
		</ul>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
<!-- ELSEIF S_RANDOM -->
<div class="panel">
	<div class="inner">
		<span class="corners-top"><span></span></span>
			{L_NO_IMAGES}
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
<!-- ENDIF -->
<!-- IF .commentrow -->
	<h4><a href="javascript: toggleElement( getElement('recent-comments'));">{L_RECENT_COMMENTS}</a></h4>
	<div id="recent-comments" style="display: none;">
	<!-- BEGIN commentrow -->
	<a id="{commentrow.COMMENT_ID}"></a>
	<div class="post <!-- IF commentrow.S_ROW_COUNT is odd -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">
		<div class="inner">
			<span class="corners-top"><span></span></span>
			<div class="postbody">
				<!-- IF commentrow.U_DELETE or commentrow.U_EDIT or commentrow.U_INFO -->
					<ul class="profile-icons">
						<!-- IF commentrow.U_EDIT --><li class="edit-icon"><a href="{commentrow.U_EDIT}" title="{L_EDIT_COMMENT}"><span>{L_EDIT_COMMENT}</span></a></li><!-- ENDIF -->
						<!-- IF commentrow.U_DELETE --><li class="delete-icon"><a href="{commentrow.U_DELETE}" title="{L_DELETE_POST}"><span>{L_DELETE_POST}</span></a></li><!-- ENDIF -->
						<!-- IF commentrow.U_INFO --><li class="info-icon"><a href="{commentrow.U_INFO}" title="{L_VIEW_INFO}" onclick="popup(this.href, 750, 500); return false;"><span>{L_VIEW_INFO}</span></a></li><!-- ENDIF -->
					</ul>
				<!-- ENDIF -->
				<p class="author"><a href="{commentrow.U_COMMENT}">{MINI_POST_IMG}</a>&nbsp;{L_POST_BY_AUTHOR} <strong>{commentrow.POST_AUTHOR_FULL}</strong> &raquo; {commentrow.TIME} </p>
				<div class="content">{commentrow.TEXT}</div>
			</div>
			<dl class="postprofile" id="profile{commentrow.COMMENT_ID}">
				<dd>{L_COMMENT_ON}:</dd>
				<dd>{commentrow.UC_IMAGE_NAME}</dd>
				<dt>{commentrow.UC_THUMBNAIL}</dt><br />

				<dd>{L_UPLOADED_BY_USER} {commentrow.IMAGE_AUTHOR}</dd>
				<dd>{commentrow.IMAGE_TIME}</dd>
			</dl>
			<span class="corners-bottom"><span></span></span>
		</div>
	</div>
	<!-- END commentrow -->
	</div>
<!-- ELSEIF S_COMMENTS -->
	<div id="postingbox" class="panel">
		<div class="inner">
			<span class="corners-top"><span></span></span>
			<h3>{L_COMMENTS}</h3>
			<fieldset class="fields1">
				<dl>
					<dt><label>{L_COMMENTS}:</label></dt>
					<dd>{L_NO_COMMENTS}</dd>
				</dl>
			</fieldset>
			<span class="corners-bottom"><span></span></span>
		</div>
	</div>
<!-- ENDIF -->

<!-- Please keep this little notice visible -->
<div class="copyright"<!-- IF S_IN_GALLERY --> style="display: none;"<!-- ENDIF -->>Powered by <!-- port started by tsr: http://phpbbgallery.ph.funpic.de --><a href="http://www.flying-bits.org/">nickvergessen</a></div>
<br />