<!-- INCLUDE overall_header.html -->

<script type="text/javascript">
<!--
function checkRateForm() {
	if (document.rateform.rate.value == -1)
	{
		return false;
	}
	else
	{
		return true;
	}
}
// -->
</script>
<script type="text/javascript" src="{T_TEMPLATE_PATH}/gallery_lytebox.js"></script>
<script type="text/javascript" >
	if (window.addEventListener) {
		window.addEventListener("load",initLytebox,false);
	} else if (window.attachEvent) {
		window.attachEvent("onload",initLytebox);
	} else {
		window.onload = function() {initLytebox();}
	}
	function initLytebox() {
		var imgMaxWidth = {IMAGE_RSZ_WIDTH};
		var imgWarning = '';
		myLytebox = new LyteBox(imgMaxWidth, imgWarning);
	}
</script>
<h2><a href="#">{IMAGE_NAME}</a></h2>

<p class="{S_CONTENT_FLOW_END} rightside"><!-- IF U_NEXT --><a href="{U_NEXT}">{L_NEXT}</a><!-- ENDIF --></p>
<p><!-- IF U_PREVIOUS --><a href="{U_PREVIOUS}">{L_PREVIOUS}</a><!-- ENDIF -->&nbsp;</p>
<div class="post bg2">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<div style="text-align: center; padding: 20px;">
			<a href="{U_IMAGE}" rel="lytebox" title="{IMAGE_NAME}" class="image-resize"><img src="{U_IMAGE}" alt="{IMAGE_NAME}" title="{IMAGE_NAME}" style="max-height: {IMAGE_RSZ_HEIGHT}px; max-width: {IMAGE_RSZ_WIDTH}px;" /></a></div>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>

<h3>{L_DETAILS}</h3>
<br />
<div class="post bg2">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<fieldset class="fields1">
			<dl>
				<dt><label>{L_POSTER}:</label></dt>
				<dd>{POSTER}</dd>
			</dl>
			<dl>
				<dt><label>{L_IMAGE_TITLE}:</label></dt>
				<dd>{IMAGE_NAME}</dd>
			</dl>
			<!-- IF IMAGE_DESC -->
				<dl>
					<dt><label>{L_IMAGE_DESC}:</label></dt>
					<dd>{IMAGE_DESC}</dd>
				</dl>
			<!-- ENDIF -->
			<dl>
				<dt><label>{L_IMAGE_BBCODE}:</label></dt>
				<dd><input type="text" size="28" value="{IMAGE_BBCODE}" class="inputbox autowidth" onclick="this.focus();this.select();" /></dd>
			</dl>
			<dl>
				<dt><label>{L_POSTED}:</label></dt>
				<dd>{IMAGE_TIME}</dd>
			</dl>
			<dl>
				<dt><label>{L_VIEWS}:</label></dt>
				<dd>{IMAGE_VIEW}</dd>
			</dl>
		</fieldset>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>

<!-- IF RATING -->
<a name="rating"></a>
<h3>{L_RATING}</h3>
<br />
<form id="rateform" action="{S_ALBUM_ACTION}" method="post" onsubmit="return checkRateForm();">
<div class="post bg2">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<fieldset class="fields1">
			<dl>
				<dt><label>{L_RATING}:</label></dt>
				<dd>{IMAGE_RATING}</dd>
			</dl>
			<!-- IF YOUR_RATING -->
			<dl>
				<dt><label>{L_YOUR_RATING}:</label></dt>
				<dd>{S_RATEBOX}</dd>
			</dl>
			<!-- ENDIF -->
		</fieldset>
		{S_FORM_TOKEN}
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
</form>
<!-- ENDIF -->

<!-- IF COMMENTS -->
	<!-- IF POST_COMMENT and not S_IS_BOT -->
	<a name="rating"></a>
	<h3>{L_POST_COMMENT}</h3>
	<br />
	<form id="postform" action="{S_COMMENT_ACTION}" method="post" onsubmit="return checkCommentForm;">
	<div class="post bg2">
		<div class="inner">
			<span class="corners-top"><span></span></span>
			<fieldset class="fields1">
				<!-- IF not S_USER_LOGGED_IN -->
				<dl>
					<dt><label>{L_USERNAME}:</label></dt>
					<dd><input class="inputbox autowidth" type="text" name="username" maxlength="32" /></dd>
				</dl>
				<!-- ENDIF -->
				<dl>
					<dt><label>{L_YOUR_COMMENT}:</label></dt>
					<dd><!-- INCLUDE posting_buttons.html --></dd>
					<dd><textarea name="message" class="inputbox" cols="60" rows="4"></textarea></dd>
					<dd><input type="submit" name="submit" value="{L_SUBMIT}" class="button1" /></dd>
				</dl>
			</fieldset>
			{S_FORM_TOKEN}
			<span class="corners-bottom"><span></span></span>
		</div>
	</div>
	</form>
	<!-- ENDIF -->

	<a name="comments"></a>
	<h3>{L_COMMENTS}</h3>
	<!-- IF NO_COMMENTS -->
	<div class="post bg2">
		<div class="inner">
			<span class="corners-top"><span></span></span>
			<fieldset class="fields1">
				<dl>
					<dt><label>{L_COMMENTS}:</label></dt>
					<dd>{L_NO_COMMENTS}</dd>
				</dl>
			</fieldset>
			<span class="corners-bottom"><span></span></span>
		</div>
	</div>
	<!-- ELSE -->
	<div class="topic-actions">
		<div class="pagination">
			{IMAGE_COMMENTS} {L_COMMENTS} &bull; {PAGE_NUMBER}<!-- IF PAGINATION --> &bull; <span>{PAGINATION}</span><!-- ENDIF -->
		</div>
	</div>
	<!-- BEGIN commentrow -->
	<a name="{commentrow.ID}"></a>
	<div class="post <!-- IF commentrow.S_ROW_COUNT is odd -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">
		<div class="inner">
			<span class="corners-top"><span></span></span>
			<div class="postbody">
				<!-- IF commentrow.EDIT or  commentrow.DELETE -->
					<ul class="profile-icons">
						<!-- IF commentrow.EDIT --><li class="edit-icon"><a href="{commentrow.EDIT}" title="{L_EDIT_POST}"><span>{L_EDIT_POST}</span></a></li><!-- ENDIF -->
						<!-- IF commentrow.DELETE --><li class="delete-icon"><a href="{commentrow.DELETE}" title="{L_DELETE_POST}"><span>{L_DELETE_POST}</span></a></li><!-- ENDIF -->
					</ul>
				<!-- ENDIF -->
				<p class="author"><a href="#"><img src="{T_IMAGESET_PATH}/icon_post_target.gif" width="11" height="9" alt="{L_COMMENT}" title="{L_COMMENT}" /></a>{L_POST_BY_AUTHOR} <strong>{commentrow.POSTER}</strong> {L_POSTED_ON_DATE} {commentrow.TIME} </p>
				<div class="content">{commentrow.TEXT}</div>
				{commentrow.EDIT_INFO}
				<span class="genmed">{commentrow.IP}</span>
			</div>
			<span class="corners-bottom"><span></span></span>
		</div>
	</div>
	<!-- END commentrow -->

	<form action="{S_ALBUM_ACTION}" method="post">
	<fieldset class="display-options" style="margin-top: 0; ">
		<label>{L_ORDER}: <select name="sort_order"><option {SORT_ASC} value='ASC'>{L_SORT_ASCENDING}</option><option {SORT_DESC} value='DESC'>{L_SORT_DESCENDING}</option></select>&nbsp;<input type="submit" name="submit" value="{L_GO}" class="button2" /></label>
	</fieldset>
	</form>
	<hr />

	<div class="topic-actions">
		<!--div class="buttons">
			<div class="upload-icon"><a href="{U_UPLOAD_PIC}"><span>{L_UPLOAD_PIC}</span></a></div>
		</div-->
		<div class="pagination">
			{IMAGE_COMMENTS} {L_COMMENTS} &bull; {PAGE_NUMBER}<!-- IF PAGINATION --> &bull; <span>{PAGINATION}</span><!-- ENDIF -->
		</div>
	</div>
	<!-- ENDIF -->
<!-- ENDIF -->

<!-- Please keep this little notice visible -->
<div class="copyright">Powered by <!-- port started by tsr: http://phpbbgallery.ph.funpic.de --><a href="http://www.flying-bits.org/">nickvergessen</a></div>
<!-- INCLUDE overall_footer.html -->