<dl>
	<dt><label for="watch_favorites_enabled">{L_WATCH_FAVO}:</label></dt>
	<dd>
		<label for="watch_favorites_enabled"><input type="radio" name="watch_favorites" id="watch_favorites_enabled" value="1"<!-- IF S_WATCH_FAVORITES --> checked="checked"<!-- ENDIF --> /> {L_YES}</label> 
		<label for="watch_favorites_disabled"><input type="radio" name="watch_favorites" id="watch_favorites_disabled" value="0"<!-- IF not S_WATCH_FAVORITES --> checked="checked"<!-- ENDIF --> /> {L_NO}</label>
	</dd>
</dl>
