<!-- INCLUDE overall_header.html -->

<!-- IF U_MCP --><div style="float: right;">[<a href="{U_MCP}">{L_MCP}</a>&nbsp;]</div><br clear="all" /><!-- ENDIF -->

<!-- INCLUDE gallery_albumlist_body.html -->
<br />

<!-- IF U_USERS_PERSONAL_GALLERIES -->
<table class="tablebg" cellspacing="1" style="width: 100%">
	<tr>
		<td class="row1"><p class="breadcrumbs"><!-- IF S_PERSONAL_GALLERY --><a href="{U_GALLERY_MOD}" class="cattitle">{L_GALLERY}</a>&nbsp;&lsaquo;&nbsp;{L_USERS_PERSONAL_ALBUMS}<!-- ELSE -->{L_GALLERY}&nbsp;&lsaquo;&nbsp;<a href="{U_USERS_PERSONAL_GALLERIES}" class="cattitle">{L_USERS_PERSONAL_ALBUMS}</a><!-- ENDIF --><!-- IF U_YOUR_PERSONAL_GALLERY -->&nbsp;&raquo;&nbsp;<a href="{U_YOUR_PERSONAL_GALLERY}" class="cattitle">{L_YOUR_PERSONAL_ALBUM}</a><!-- ENDIF --></p></td>
	</tr>
</table>
<br />
<!-- ENDIF -->
<!-- INCLUDE gallery_recent_body.html -->
<br />

<!-- Please keep this little notice visible -->
<div class="copyright" style="text-align: center;">Powered by <!-- port started by tsr: http://phpbbgallery.ph.funpic.de --><a href="http://www.flying-bits.org/">nickvergessen</a></div>
<br clear="all" />
<!-- INCLUDE overall_footer.html -->