<!-- INCLUDE overall_header.html -->
<h2><a href="{U_VIEW_ALBUM}">{ALBUM_NAME}</a></h2>

<form name="upload" action="{S_ALBUM_ACTION}" method="post" enctype="multipart/form-data" onsubmit="return checkAlbumForm()">
	<table width="100%" cellpadding="3" cellspacing="1" border="0" class="tablebg">
		<tr>
			<th colspan="2"><!-- IF S_COMMENT -->{L_POST_COMMENT}<!-- ELSEIF S_UPLOAD -->{L_UPLOAD_IMAGE}<!-- ELSEIF S_EDIT -->{L_EDIT_IMAGE}<!-- ELSEIF S_REPORT -->{L_REPORT_IMAGE}<!-- ENDIF --></th>
		</tr>

		<!-- IF ERROR -->
			<tr>
				<td class="row2" colspan="2" align="center"><span class="genmed error">{ERROR}</span></td>
			</tr>
		<!-- ENDIF -->
		<!-- IF not S_USER_LOGGED_IN -->
			<tr>
				<td class="row1" width="22%" height="28"><b class="genmed">{L_USERNAME}:</b</td>
				<td class="row2"><input class="inputbox autowidth" type="text" name="username" value="{USERNAME}" size="60" maxlength="32" /></td>
			</tr>
		<!-- ENDIF -->
		<!-- IF S_IMAGE -->
			<tr>
				<td class="row1" width="22%" height="28"<b class="genmed">{L_IMAGE_TITLE}:</b></td>
				<td class="row2">
					<input class="inputbox autowidth" type="text" name="image_name" size="60" value="{IMAGE_NAME}" /><br /><br />
					<!-- IF S_MULTI_IMAGES --><input class="inputbox autowidth" type="text" name="image_num" size="5" value="1" /> {L_LOOP_EXP}<br /><br /><!-- ENDIF -->
					<!-- IF S_UPLOAD --><input type="checkbox" class="checkbox" name="filename" value="filename" /> {L_ORIG_FILENAME}<!-- ENDIF -->
				</td>
			</tr>
		<!-- ENDIF -->
		<!-- IF S_ALLOWED_TO_RATE -->
		<tr class="row1">
			<td class="row1" width="22%" height="28"><b class="genmed">{L_YOUR_RATING}:</b></td>
			<td><span class="genmed"><select name="rate">
				<!-- BEGIN rate_scale -->
					<!-- IF rate_scale.RATE_POINT == 1 --><option value="0">{L_DONT_RATE_IMAGE}</option><!-- ENDIF -->
					<option value="{rate_scale.RATE_POINT}">{rate_scale.RATE_POINT}</option>
				<!-- END rate_scale -->
				</select></span></td>
		</tr>
		<!-- ENDIF -->
		<tr>
			<td width="22%" class="row1" valign="top"><b class="genmed"><!-- IF S_COMMENT -->{L_YOUR_COMMENT}<!-- ELSEIF S_REPORT -->{L_REPORT_IMAGE}<!-- ELSE -->{L_IMAGE_DESC}<!-- ENDIF -->:</b><br />
				<span class="gensmall"><!-- IF S_UPLOAD or S_EDIT -->{L_DESCRIPTION_LENGTH}<!-- ELSEIF not S_REPORT -->{L_COMMENT_LENGTH}<!-- ENDIF --></span><br /><br />
			<!-- IF S_SMILIES_ALLOWED -->
				<table width="100%" cellspacing="5" cellpadding="0" border="0" align="center">
				<tr>
					<td class="gensmall" align="center"><b>{L_SMILIES}</b></td>
				</tr>
				<tr>
					<td align="center">
						<!-- BEGIN smiley -->
							<a href="#" onclick="insert_text('{smiley.A_SMILEY_CODE}', true); return false;" style="line-height: 20px;"><img src="{smiley.SMILEY_IMG}" width="{smiley.SMILEY_WIDTH}" height="{smiley.SMILEY_HEIGHT}" alt="{smiley.SMILEY_CODE}" title="{smiley.SMILEY_DESC}" hspace="2" vspace="2" /></a>
						<!-- END smiley -->
					</td>
				</tr>

				<!-- IF S_SHOW_SMILEY_LINK -->
					<tr>
						<td align="center"><a class="nav" href="{U_MORE_SMILIES}" onclick="popup(this.href, 300, 350, '_phpbbsmilies'); return false;">{L_MORE_SMILIES}</a></td>
					</tr>
				<!-- ENDIF -->

				</table>
			<!-- ENDIF -->
			</td>
			<td class="row2" valign="top">
				<script type="text/javascript">
				// <![CDATA[
					var form_name = 'upload';
					var text_name = 'message';
				// ]]>
				</script>

				<table width="100%" cellspacing="0" cellpadding="0" border="0">
				<!-- INCLUDE posting_buttons.html -->
				<tr>
					<td valign="top" style="width: 100%;"><textarea name="message" rows="10" cols="76" tabindex="3" onselect="storeCaret(this);" onclick="storeCaret(this);" onkeyup="storeCaret(this);" style="width: 98%;"></textarea></td>
					<!-- IF S_BBCODE_ALLOWED -->
					<td width="80" align="center" valign="top">
						<script type="text/javascript">
						// <![CDATA[
							colorPalette('v', 7, 6)
						// ]]>
						</script>
					</td>
					<!-- ENDIF -->
				</tr>
				</table>
			</td>
		</tr>
		<!-- IF S_UPLOAD -->
			<!-- BEGIN upload_image -->
				<tr>
					<td class="row1" height="28"><span class="gen">{L_FILE}:</span></td>
					<td class="row2"><input class="inputbox autowidth" type="file" name="image[]" size="60" /></td>
				</tr>
				<!-- IF not S_THUMBNAIL -->
					<tr>
						<td class="row1"><span class="gen">{L_UPLOAD_THUMBNAIL}:<br />
							</span><span class="gensmall">{L_UPLOAD_THUMBNAIL_EXPLAIN}</span></td>
						<td class="row2"><input class="post" type="file" name="thumbnail[]" size="49" /></td>
					</tr>
				<!-- ENDIF -->
			<!-- END upload_image -->
			<tr>
				<td class="row1" height="28"><span class="gen">{L_MAX_FILE_SIZE}:</span></td>
				<td class="row2"><span class="gen"><b>{S_MAX_FILESIZE}</b></span></td>
			</tr>
			<tr>
				<td class="row1" height="28"><span class="gen">{L_MAX_WIDTH}:</span></td>
				<td class="row2"><span class="gen"><b>{S_MAX_WIDTH}</b></span></td>
			</tr>
			<tr>
				<td class="row1" height="28"><span class="gen">{L_MAX_HEIGHT}:</span></td>
				<td class="row2"><span class="gen"><b>{S_MAX_HEIGHT}</b></span></td>
			</tr>
			<tr>
				<td class="row1" height="28"><span class="gen">{L_JPG_ALLOWED}:</span></td>
				<td class="row2"><span class="gen"><b>{S_JPG}</b></span></td>
			</tr>
			<tr>
				<td class="row1" height="28"><span class="gen">{L_PNG_ALLOWED}:</span></td>
				<td class="row2"><span class="gen"><b>{S_PNG}</b></span></td>
			</tr>
			<tr>
				<td class="row1" height="28"><span class="gen">{L_GIF_ALLOWED}:</span></td>
				<td class="row2"><span class="gen"><b>{S_GIF}</b></span></td>
			</tr>
		<!-- ENDIF -->
		<tr>
			<td class="cat" align="center" height="28" colspan="2"><input type="reset" accesskey="r" tabindex="8" value="{L_RESET}" class="btnlite" />
				&nbsp;<input type="submit" accesskey="s" tabindex="6" name="submit" value="{L_SUBMIT}" class="btnmain" /></td>
		</tr>
	</table>
	{S_FORM_TOKEN}
</form>
<br clear="all" />

<!-- Please keep this little notice visible -->
<div class="copyright" style="text-align: center;">Powered by <!-- port started by tsr: http://phpbbgallery.ph.funpic.de --><a href="http://www.flying-bits.org/">nickvergessen</a></div>
<br clear="all" />
<!-- INCLUDE overall_footer.html -->