<script type="text/JavaScript">
function getElement(iElementId)
{
	if (document.all) 
	{
		return document.all[iElementId];
	}
	if (document.getElementById)
	{
		return document.getElementById(iElementId);
	}
}

function toggleElement(oElement)
{
	if (oElement.style.display == "none")
	{
		oElement.style.display = "";
	}
	else
	{
		oElement.style.display = "none";
	}
}
</script>
<!-- IF .recent -->
<table class="tablebg" cellspacing="1" width="100%">
	<tr>
		<th align="center" colspan="{S_COLS}" nowrap="nowrap">{L_RECENT_IMAGES}</th>
	</tr>
	<!-- BEGIN recent -->
	<tr>
		<!-- BEGIN image -->
		<td class="row2" valign="top" style="width: {S_COL_WIDTH};">
			<table width="100%" cellpadding="2" cellspacing="5" border="0" class="forumline">
				<tr>
					<td align="center" class="row1" style="height: {S_THUMBNAIL_SIZE}px;">
					<span class="genmed">{recent.image.UC_THUMBNAIL}</span>
					</td>
				</tr>
				<tr>
					<td class="row2" valign="top">
					<div class="gensmall" style="overflow: hidden;">
					<!-- IF recent.image.S_UNAPPROVED and recent.image.U_STATUS --><a style="font-weight: bold;" class="reported-images-number" href="{recent.image.U_STATUS}">{recent.image.L_STATUS}</a><br /><br /><!-- ENDIF -->
					<!-- IF recent.image.S_REPORTED and recent.image.U_REPORT --><a style="font-weight: bold;" class="reported-images-number" href="{recent.image.U_REPORT}">{L_READ_REPORT}</a><br /><br /><!-- ENDIF -->
						<!-- IF recent.image.UC_IMAGE_NAME -->{L_IMAGE_NAME}: {recent.image.UC_IMAGE_NAME}<br /><!-- ENDIF -->
						<!-- IF recent.image.U_ALBUM -->{L_ALBUM_NAME}: <a href="{recent.image.U_ALBUM}" style="font-weight: bold;">{recent.image.ALBUM_NAME}</a><br /><!-- ENDIF -->
						<!-- IF recent.image.POSTER -->{L_POSTER}: {recent.image.POSTER}<br /><!-- ENDIF -->
						<!-- IF recent.image.TIME -->{L_POSTED}: {recent.image.TIME}<br /><!-- ENDIF -->
						<!-- IF recent.image.VIEW -->{L_VIEWS}: {recent.image.VIEW}<br /><!-- ENDIF -->
						<!-- IF recent.image.S_RATINGS -->{L_RATING}: <a href="{recent.image.U_RATINGS}">{recent.image.S_RATINGS}</a><br /><!-- ENDIF -->
						<!-- IF recent.image.S_COMMENTS -->{recent.image.L_COMMENTS}: <a href="{recent.image.U_COMMENTS}">{recent.image.S_COMMENTS}</a><br /><!-- ENDIF -->
						<!-- IF recent.image.S_IP -->{L_IP}: {recent.image.S_IP} &#187; <a href="{recent.image.U_WHOIS}" onclick="popup(this.href, 750, 500); return false;">{L_WHOIS}</a><br /><!-- ENDIF -->
						<!-- IF recent.image.U_REPORT or recent.image.U_STATUS or recent.image.U_MOVE or  recent.image.U_EDIT or recent.image.U_DELETE -->
						<a href="javascript: toggleElement( getElement('moderate_{recent.image.IMAGE_ID}'));">{L_MODERATE}</a>
						<div id="moderate_{recent.image.IMAGE_ID}" style="display: none;">
							<!-- IF recent.image.U_REPORT -->&#187; <a href="{recent.image.U_REPORT}" class="reported-images-number">{L_READ_REPORT}</a><br /><!-- ENDIF -->
							<!-- IF recent.image.U_STATUS -->&#187; <a href="{recent.image.U_STATUS}">{recent.image.L_STATUS}</a><br /><!-- ENDIF -->
							<!-- IF recent.image.U_MOVE -->&#187; <a href="{recent.image.U_MOVE}">{L_MOVE}</a><br /><!-- ENDIF -->
							<!-- IF recent.image.U_EDIT -->&#187; <a href="{recent.image.U_EDIT}">{L_EDIT_IMAGE}</a><br /><!-- ENDIF -->
							<!-- IF recent.image.U_DELETE -->&#187; <a href="{recent.image.U_DELETE}">{L_DELETE_IMAGE}</a><br /><!-- ENDIF -->
						</div>
						<!-- ENDIF -->
					</div>
					</td>
				</tr>
			</table>
		</td>
		<!-- END image -->
		<!-- BEGIN no_image --> 
			<td class="row2" valign="top" style="width: {S_COL_WIDTH};">
				<table width="100%" cellpadding="2" cellspacing="10" border="0" class="forumline"><tr>
				<td style="height: {S_THUMBNAIL_SIZE}px;" class="row1"></td>
				</tr></table>
			</td> 
		<!-- END no_image -->
	</tr>
	<!-- BEGINELSE -->
	<tr>
		<td class="row1" align="center" height="30"><span class="gen">{L_NO_IMAGES_LONG}</span></td>
	</tr>
	<!-- END recent -->
</table>
<br clear="all" />
<!-- ELSEIF S_RECENT -->
<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<th>{L_RECENT_IMAGES}</th>
	</tr>
	<tr>
		<td class="row1" align="center">{L_NO_IMAGES}</td>
	</tr>
</table>
<!-- ENDIF -->
<!-- IF .random -->
<table class="tablebg" cellspacing="1" width="100%">
	<tr>
		<th align="center" colspan="{S_COLS}" nowrap="nowrap">{L_RANDOM_IMAGES}</th>
	</tr>
	<!-- BEGIN random -->
	<tr>
		<!-- BEGIN image -->
		<td class="row2" valign="top" style="width: {S_COL_WIDTH};">
			<table width="100%" cellpadding="2" cellspacing="5" border="0" class="forumline">
				<tr>
					<td align="center" class="row1" style="height: {S_THUMBNAIL_SIZE}px;">
					<span class="genmed">{random.image.UC_THUMBNAIL}</span>
					</td>
				</tr>
				<tr>
					<td class="row2" valign="top">
					<div class="gensmall" style="overflow: hidden;">
					<!-- IF random.image.S_UNAPPROVED and random.image.U_STATUS --><a style="font-weight: bold;" class="reported-images-number" href="{random.image.U_STATUS}">{random.image.L_STATUS}</a><br /><br /><!-- ENDIF -->
					<!-- IF random.image.S_REPORTED and random.image.U_REPORT --><a style="font-weight: bold;" class="reported-images-number" href="{random.image.U_REPORT}">{L_READ_REPORT}</a><br /><br /><!-- ENDIF -->
						<!-- IF random.image.UC_IMAGE_NAME -->{L_IMAGE_NAME}: {random.image.UC_IMAGE_NAME}<br /><!-- ENDIF -->
						<!-- IF random.image.U_ALBUM -->{L_ALBUM_NAME}: <a href="{random.image.U_ALBUM}" style="font-weight: bold;">{random.image.ALBUM_NAME}</a><br /><!-- ENDIF -->
						<!-- IF random.image.POSTER -->{L_POSTER}: {random.image.POSTER}<br /><!-- ENDIF -->
						<!-- IF random.image.TIME -->{L_POSTED}: {random.image.TIME}<br /><!-- ENDIF -->
						<!-- IF random.image.VIEW -->{L_VIEWS}: {random.image.VIEW}<br /><!-- ENDIF -->
						<!-- IF random.image.S_RATINGS -->{L_RATING}: <a href="{random.image.U_RATINGS}">{random.image.S_RATINGS}</a><br /><!-- ENDIF -->
						<!-- IF random.image.S_COMMENTS -->{random.image.L_COMMENTS}: <a href="{random.image.U_COMMENTS}">{random.image.S_COMMENTS}</a><br /><!-- ENDIF -->
						<!-- IF random.image.S_IP -->{L_IP}: {random.image.S_IP} &#187; <a href="{random.image.U_WHOIS}" onclick="popup(this.href, 750, 500); return false;">{L_WHOIS}</a><br /><!-- ENDIF -->
						<!-- IF random.image.U_REPORT or random.image.U_STATUS or random.image.U_MOVE or  random.image.U_EDIT or random.image.U_DELETE -->
						<a href="javascript: toggleElement( getElement('moderate_{random.image.IMAGE_ID}'));">{L_MODERATE}</a>
						<div id="moderate_{random.image.IMAGE_ID}" style="display: none;">
							<!-- IF random.image.U_REPORT -->&#187; <a href="{random.image.U_REPORT}" class="reported-images-number">{L_READ_REPORT}</a><br /><!-- ENDIF -->
							<!-- IF random.image.U_STATUS -->&#187; <a href="{random.image.U_STATUS}">{random.image.L_STATUS}</a><br /><!-- ENDIF -->
							<!-- IF random.image.U_MOVE -->&#187; <a href="{random.image.U_MOVE}">{L_MOVE}</a><br /><!-- ENDIF -->
							<!-- IF random.image.U_EDIT -->&#187; <a href="{random.image.U_EDIT}">{L_EDIT_IMAGE}</a><br /><!-- ENDIF -->
							<!-- IF random.image.U_DELETE -->&#187; <a href="{random.image.U_DELETE}">{L_DELETE_IMAGE}</a><br /><!-- ENDIF -->
						</div>
						<!-- ENDIF -->
					</div>
					</td>
				</tr>
			</table>
		</td>
		<!-- END image -->
		<!-- BEGIN no_image --> 
			<td class="row2" valign="top" style="width: {S_COL_WIDTH};">
				<table width="100%" cellpadding="2" cellspacing="10" border="0" class="forumline"><tr>
				<td style="height: {S_THUMBNAIL_SIZE}px;" class="row1"></td>
				</tr></table>
			</td> 
		<!-- END no_image -->
	</tr>
	<!-- BEGINELSE -->
	<tr>
		<td class="row1" align="center" height="30"><span class="gen">{L_NO_IMAGES_LONG}</span></td>
	</tr>
	<!-- END random -->
</table>
<br clear="all" />
<!-- ELSEIF S_RANDOM -->
<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<th>{L_RANDOM_IMAGES}</th>
	</tr>
	<tr>
		<td class="row1" align="center">{L_NO_IMAGES}</td>
	</tr>
</table>
<br clear="all" />
<!-- ENDIF -->
<!-- Please keep this little notice visible -->
<div class="copyright"<!-- IF S_IN_GALLERY --> style="display: none;"<!-- ENDIF -->>Powered by <!-- port started by tsr: http://phpbbgallery.ph.funpic.de --><a href="http://www.flying-bits.org/">nickvergessen</a></div>
<br clear="all" />
