<!-- IF .picrow -->
<table class="tablebg" cellspacing="1" width="100%">
	<tr>
		<th align="center" colspan="{S_COLS}" nowrap="nowrap">{L_RECENT_IMAGES}</th>
	</tr>
	<!-- BEGIN no_pics -->
	<tr>
		<td class="row1" align="center" height="50"><span class="gen">{L_NO_PICS}</span></td>
	</tr>
	<!-- END no_pics -->
	<!-- BEGIN picrow -->
	<tr>
		<!-- BEGIN piccol -->
		<td align="center" width="{S_COL_WIDTH}" class="row1"><span class="genmed"><a href="{picrow.piccol.U_IMAGE}" rel="lightbox" {TARGET_BLANK}><img src="{picrow.piccol.THUMBNAIL}" border="0" alt="{picrow.piccol.DESC}" title="{picrow.piccol.DESC}" vspace="10" /></a><br />
			{picrow.piccol.APPROVAL}</span></td>
		<!-- END piccol -->
		<!-- BEGIN nopiccol -->
		<td align="center" width="{S_COL_WIDTH}" class="row1"><span></span></td>
		<!-- END nopiccol -->
	</tr>
	<tr>
		<!-- BEGIN pic_detail -->
		<td class="row2"><div style="overflow: hidden;">
			<!-- IF picrow.pic_detail.IMAGE_NAME -->{L_IMAGE_TITLE}: <a href="{picrow.pic_detail.U_IMAGE}" style="font-weight: bold;">{picrow.pic_detail.IMAGE_NAME}</a><br /><!-- ENDIF -->
			<!-- IF picrow.pic_detail.POSTER -->{L_POSTER}: {picrow.pic_detail.POSTER}<br /><!-- ENDIF -->
			<!-- IF picrow.pic_detail.TIME -->{L_POSTED}: {picrow.pic_detail.TIME}<br /><!-- ENDIF -->
			<!-- IF picrow.pic_detail.VIEWS -->{L_VIEWS}: {picrow.pic_detail.VIEWS}<br /><!-- ENDIF -->
			<!-- IF picrow.pic_detail.RATINGS -->{L_RATING}: {picrow.pic_detail.RATINGS}<br /><!-- ENDIF -->
			<!-- IF picrow.pic_detail.COMMENTS -->{picrow.pic_detail.L_COMMENT}: {picrow.pic_detail.COMMENTS}<br /><!-- ENDIF -->
			<!-- IF picrow.pic_detail.ALBUM -->{L_ALBUM}: <a href="{picrow.pic_detail.U_ALBUM}" style="font-weight: bold;">{picrow.pic_detail.ALBUM}</a><br /><!-- ENDIF -->
		</div></td>
		<!-- END pic_detail -->
		<!-- BEGIN picnodetail -->
		<td class="row2"><span></span></td>
		<!-- END picnodetail -->
	</tr>
	<!-- END picrow -->
</table>
<br clear="all" />
<!-- ELSE -->
<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<th>{L_ALBUM}</th>
	</tr>
	<tr>
		<td class="row1" align="center">{L_NO_IMAGES}</td>
	</tr>
</table>
<!-- ENDIF -->
<br clear="all" />
<!-- Please keep this little notice visible -->
<div class="copyright"<!-- IF S_IN_GALLERY --> style="display: none;"<!-- ENDIF -->>Powered by <!-- port started by tsr: http://phpbbgallery.ph.funpic.de --><a href="http://www.flying-bits.org/">nickvergessen</a></div>
<br clear="all" />
