<script type="text/JavaScript">
function getElement(iElementId)
{
	if (document.all) 
	{
		return document.all[iElementId];
	}
	if (document.getElementById)
	{
		return document.getElementById(iElementId);
	}
}

function toggleElement(oElement)
{
	if (oElement.style.display == "none")
	{
		oElement.style.display = "";
	}
	else
	{
		oElement.style.display = "none";
	}
}
</script>
<!-- IF .recent -->
<table class="tablebg" cellspacing="1" width="100%">
	<tr>
		<th align="center" colspan="{S_COLS}" nowrap="nowrap">{L_RECENT_IMAGES}</th>
	</tr>
	<!-- BEGIN recent -->
	<tr>
		<!-- BEGIN image -->
		<td class="row2" valign="top" style="width: {S_COL_WIDTH};">
			<table width="100%" cellpadding="2" cellspacing="5" border="0" class="forumline">
				<tr>
					<td align="center" class="row1" style="height: {S_THUMBNAIL_SIZE}px;">
					<span class="genmed">{recent.image.UC_THUMBNAIL}</span>
					</td>
				</tr>
				<tr>
					<td class="row2" valign="top">
					<div class="gensmall" style="overflow: hidden;">
					<!-- IF (recent.image.S_LOCKED or recent.image.S_UNAPPROVED) and recent.image.U_STATUS --><a style="font-weight: bold;" class="reported-images-number" href="{recent.image.U_STATUS}">{recent.image.L_STATUS}</a><br /><br /><!-- ENDIF -->
					<!-- IF recent.image.S_REPORTED and recent.image.U_REPORT --><a style="font-weight: bold;" class="reported-images-number" href="{recent.image.U_REPORT}">{L_READ_REPORT}</a><br /><br /><!-- ENDIF -->
						<!-- IF recent.image.UC_IMAGE_NAME -->{L_IMAGE_NAME}: {recent.image.UC_IMAGE_NAME}<br /><!-- ENDIF -->
						<!-- IF recent.image.U_ALBUM -->{L_ALBUM_NAME}: <a href="{recent.image.U_ALBUM}" style="font-weight: bold;">{recent.image.ALBUM_NAME}</a><br /><!-- ENDIF -->
						<!-- IF recent.image.POSTER -->{L_POSTER}: {recent.image.POSTER}<br /><!-- ENDIF -->
						<!-- IF recent.image.TIME -->{L_POSTED}: {recent.image.TIME}<br /><!-- ENDIF -->
						<!-- IF recent.image.VIEW > -1 -->{L_VIEWS}: {recent.image.VIEW}<br /><!-- ENDIF -->
						<!-- IF recent.image.S_RATINGS -->{L_RATING}: <a href="{recent.image.U_RATINGS}">{recent.image.S_RATINGS}</a><br /><!-- ENDIF -->
						<!-- IF recent.image.S_COMMENTS -->{recent.image.L_COMMENTS}: <a href="{recent.image.U_COMMENTS}">{recent.image.S_COMMENTS}</a><br /><!-- ENDIF -->
						<!-- IF recent.image.S_IP -->{L_IP}: {recent.image.S_IP} &#187; <a href="{recent.image.U_WHOIS}" onclick="popup(this.href, 750, 500); return false;">{L_WHOIS}</a><br /><!-- ENDIF -->
						<!-- IF recent.image.U_REPORT or recent.image.U_STATUS or recent.image.U_MOVE or  recent.image.U_EDIT or recent.image.U_DELETE -->
						<a href="javascript: toggleElement( getElement('moderate_{recent.image.IMAGE_ID}'));">{L_MODERATE}</a>
						<div id="moderate_{recent.image.IMAGE_ID}" style="display: none;">
							<!-- IF recent.image.U_REPORT -->&#187; <a href="{recent.image.U_REPORT}" class="reported-images-number">{L_READ_REPORT}</a><br /><!-- ENDIF -->
							<!-- IF recent.image.U_STATUS -->&#187; <a href="{recent.image.U_STATUS}">{recent.image.L_STATUS}</a><br /><!-- ENDIF -->
							<!-- IF recent.image.U_MOVE -->&#187; <a href="{recent.image.U_MOVE}">{L_MOVE}</a><br /><!-- ENDIF -->
							<!-- IF recent.image.U_EDIT -->&#187; <a href="{recent.image.U_EDIT}">{L_EDIT_IMAGE}</a><br /><!-- ENDIF -->
							<!-- IF recent.image.U_DELETE -->&#187; <a href="{recent.image.U_DELETE}">{L_DELETE_IMAGE}</a><br /><!-- ENDIF -->
						</div>
						<!-- ENDIF -->
					</div>
					</td>
				</tr>
			</table>
		</td>
		<!-- END image -->
		<!-- BEGIN no_image --> 
			<td class="row2" valign="top" style="width: {S_COL_WIDTH};">
				<table width="100%" cellpadding="2" cellspacing="10" border="0" class="forumline"><tr>
				<td style="height: {S_THUMBNAIL_SIZE}px;" class="row1"></td>
				</tr></table>
			</td> 
		<!-- END no_image -->
	</tr>
	<!-- BEGINELSE -->
	<tr>
		<td class="row1" align="center" height="30"><span class="gen">{L_NO_IMAGES_LONG}</span></td>
	</tr>
	<!-- END recent -->
</table>
<br clear="all" />
<!-- ELSEIF S_RECENT -->
<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<th>{L_RECENT_IMAGES}</th>
	</tr>
	<tr>
		<td class="row1" align="center">{L_NO_IMAGES}</td>
	</tr>
</table>
<!-- ENDIF -->
<!-- IF .random -->
<table class="tablebg" cellspacing="1" width="100%">
	<tr>
		<th align="center" colspan="{S_COLS}" nowrap="nowrap">{L_RANDOM_IMAGES}</th>
	</tr>
	<!-- BEGIN random -->
	<tr>
		<!-- BEGIN image -->
		<td class="row2" valign="top" style="width: {S_COL_WIDTH};">
			<table width="100%" cellpadding="2" cellspacing="5" border="0" class="forumline">
				<tr>
					<td align="center" class="row1" style="height: {S_THUMBNAIL_SIZE}px;">
					<span class="genmed">{random.image.UC_THUMBNAIL}</span>
					</td>
				</tr>
				<tr>
					<td class="row2" valign="top">
					<div class="gensmall" style="overflow: hidden;">
					<!-- IF (random.image.S_LOCKED or random.image.S_UNAPPROVED) and random.image.U_STATUS --><a style="font-weight: bold;" class="reported-images-number" href="{random.image.U_STATUS}">{random.image.L_STATUS}</a><br /><br /><!-- ENDIF -->
					<!-- IF random.image.S_REPORTED and random.image.U_REPORT --><a style="font-weight: bold;" class="reported-images-number" href="{random.image.U_REPORT}">{L_READ_REPORT}</a><br /><br /><!-- ENDIF -->
						<!-- IF random.image.UC_IMAGE_NAME -->{L_IMAGE_NAME}: {random.image.UC_IMAGE_NAME}<br /><!-- ENDIF -->
						<!-- IF random.image.U_ALBUM -->{L_ALBUM_NAME}: <a href="{random.image.U_ALBUM}" style="font-weight: bold;">{random.image.ALBUM_NAME}</a><br /><!-- ENDIF -->
						<!-- IF random.image.POSTER -->{L_POSTER}: {random.image.POSTER}<br /><!-- ENDIF -->
						<!-- IF random.image.TIME -->{L_POSTED}: {random.image.TIME}<br /><!-- ENDIF -->
						<!-- IF random.image.VIEW > -1 -->{L_VIEWS}: {random.image.VIEW}<br /><!-- ENDIF -->
						<!-- IF random.image.S_RATINGS -->{L_RATING}: <a href="{random.image.U_RATINGS}">{random.image.S_RATINGS}</a><br /><!-- ENDIF -->
						<!-- IF random.image.S_COMMENTS -->{random.image.L_COMMENTS}: <a href="{random.image.U_COMMENTS}">{random.image.S_COMMENTS}</a><br /><!-- ENDIF -->
						<!-- IF random.image.S_IP -->{L_IP}: {random.image.S_IP} &#187; <a href="{random.image.U_WHOIS}" onclick="popup(this.href, 750, 500); return false;">{L_WHOIS}</a><br /><!-- ENDIF -->
						<!-- IF random.image.U_REPORT or random.image.U_STATUS or random.image.U_MOVE or  random.image.U_EDIT or random.image.U_DELETE -->
						<a href="javascript: toggleElement( getElement('moderate_{random.image.IMAGE_ID}'));">{L_MODERATE}</a>
						<div id="moderate_{random.image.IMAGE_ID}" style="display: none;">
							<!-- IF random.image.U_REPORT -->&#187; <a href="{random.image.U_REPORT}" class="reported-images-number">{L_READ_REPORT}</a><br /><!-- ENDIF -->
							<!-- IF random.image.U_STATUS -->&#187; <a href="{random.image.U_STATUS}">{random.image.L_STATUS}</a><br /><!-- ENDIF -->
							<!-- IF random.image.U_MOVE -->&#187; <a href="{random.image.U_MOVE}">{L_MOVE}</a><br /><!-- ENDIF -->
							<!-- IF random.image.U_EDIT -->&#187; <a href="{random.image.U_EDIT}">{L_EDIT_IMAGE}</a><br /><!-- ENDIF -->
							<!-- IF random.image.U_DELETE -->&#187; <a href="{random.image.U_DELETE}">{L_DELETE_IMAGE}</a><br /><!-- ENDIF -->
						</div>
						<!-- ENDIF -->
					</div>
					</td>
				</tr>
			</table>
		</td>
		<!-- END image -->
		<!-- BEGIN no_image --> 
			<td class="row2" valign="top" style="width: {S_COL_WIDTH};">
				<table width="100%" cellpadding="2" cellspacing="10" border="0" class="forumline"><tr>
				<td style="height: {S_THUMBNAIL_SIZE}px;" class="row1"></td>
				</tr></table>
			</td> 
		<!-- END no_image -->
	</tr>
	<!-- BEGINELSE -->
	<tr>
		<td class="row1" align="center" height="30"><span class="gen">{L_NO_IMAGES_LONG}</span></td>
	</tr>
	<!-- END random -->
</table>
<br clear="all" />
<!-- ELSEIF S_RANDOM -->
<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<th>{L_RANDOM_IMAGES}</th>
	</tr>
	<tr>
		<td class="row1" align="center">{L_NO_IMAGES}</td>
	</tr>
</table>
<br clear="all" />
<!-- ENDIF -->

<!-- IF S_COMMENTS -->
<h3><a href="javascript: toggleElement( getElement('recent-comments'));">{L_RECENT_COMMENTS}</a></h3>
<div id="recent-comments" style="display: none;">
<!-- BEGIN commentrow -->
	<table class="tablebg" width="100%" cellspacing="1">
	<!-- IF commentrow.S_FIRST_ROW -->
		<tr>
			<th>{L_AUTHOR}</th>
			<th>{L_RECENT_COMMENTS}</th>
		</tr>
	<!-- ENDIF -->
	<!-- IF commentrow.S_ROW_COUNT is even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF -->

	<!-- IF commentrow.S_IGNORE_POST -->
			<td class="gensmall" colspan="2" height="25" align="center"><!-- IF commentrow.S_FIRST_UNREAD --><a name="unread"></a><!-- ENDIF --><a name="p{commentrow.POST_ID}"></a>{commentrow.L_IGNORE_POST}</td>
	<!-- ELSE -->

			<td align="center" valign="middle">
				<!-- IF commentrow.S_FIRST_UNREAD --><a name="unread"></a><!-- ENDIF --><a name="p{commentrow.POST_ID}"></a>
				<b class="postauthor"<!-- IF commentrow.POST_AUTHOR_COLOUR --> style="color: {commentrow.POST_AUTHOR_COLOUR}"<!-- ENDIF -->>{commentrow.POST_AUTHOR}</b>
			</td>
			<td width="100%" height="25">
				<table width="100%" cellspacing="0">
				<tr>
					<td class="gensmall"><div style="float: {S_CONTENT_FLOW_END};"><!-- IF S_IS_BOT -->{MINI_POST_IMG}<!-- ELSE --><a href="{commentrow.U_COMMENT}">{MINI_POST_IMG}</a><!-- ENDIF --><b>{L_POSTED}:</b> {commentrow.TIME}&nbsp;</div></td>
				</tr>
				</table>
			</td>
		</tr>
		
		<!-- IF commentrow.S_ROW_COUNT is even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF -->

			<td valign="top" class="profile">
				<table cellspacing="4" align="center" width="150">
				<tr>
					<td>{L_COMMENT_ON}:<br />
						{commentrow.UC_IMAGE_NAME}</td>
				</tr>
				<tr>
					<td>{commentrow.UC_THUMBNAIL}</td>
				</tr>
				<tr>
					<td>{L_POST_BY_AUTHOR} {commentrow.IMAGE_AUTHOR}<br />
						{L_POSTED_ON_DATE} {commentrow.IMAGE_TIME}</td>
				</tr>
				</table>
			</td>
			<td valign="top">
				<table width="100%" cellspacing="5">
				<tr>
					<td>
						<div class="postbody">{commentrow.TEXT}</div>

					<br clear="all" /><br />

						<table width="100%" cellspacing="0">
						<tr valign="middle">
							<td class="gensmall" align="{S_CONTENT_FLOW_END}">
							<!-- IF not S_IS_BOT -->
								<!-- IF commentrow.U_INFO --><a href="{commentrow.U_INFO}" onclick="popup(this.href, 750, 500); return false;">{INFO_IMG}</a> <!-- ENDIF --> 
								<!-- IF commentrow.U_DELETE --><a href="{commentrow.U_DELETE}">{DELETE_IMG}</a> <!-- ENDIF -->
							<!-- ENDIF -->
							</td>
						</tr>
						</table>
					</td>
				</tr>
				</table>
			</td>
		</tr>

		<!-- IF commentrow.S_ROW_COUNT is even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF -->

			<td class="profile"></td>
			<td><div class="gensmall" style="float: {S_CONTENT_FLOW_BEGIN};">&nbsp;<!-- IF commentrow.U_POST_AUTHOR --><a href="{commentrow.U_POST_AUTHOR}">{PROFILE_IMG}</a> <!-- ENDIF --></div> <div class="gensmall" style="float: {S_CONTENT_FLOW_END};"><!-- IF not S_IS_BOT and commentrow.U_EDIT --><a href="{commentrow.U_EDIT}">{EDIT_IMG}</a><!-- ENDIF -->&nbsp;</div></td>
	<!-- ENDIF -->
		</tr>
		<tr>
			<td class="spacer" colspan="2" height="1"><img src="images/spacer.gif" alt="" width="1" height="1" /></td>
		</tr>
	</table>
<!-- END commentrow -->
</div>
<!-- ENDIF -->

<!-- Please keep this little notice visible -->
<div class="copyright"<!-- IF S_IN_GALLERY --> style="display: none;"<!-- ENDIF -->>Powered by <!-- port started by tsr: http://phpbbgallery.ph.funpic.de --><a href="http://www.flying-bits.org/">nickvergessen</a></div>
<br clear="all" />
