<!-- INCLUDE overall_header.html -->
<script type="text/JavaScript">
function getElement(iElementId)
{
	if (document.all) 
	{
		return document.all[iElementId];
	}
	if (document.getElementById)
	{
		return document.getElementById(iElementId);
	}
}

function toggleElement(oElement)
{
	if (oElement.style.display == "none")
	{
		oElement.style.display = "";
	}
	else
	{
		oElement.style.display = "none";
	}
}
</script>

<!-- IF S_HAS_SUBALBUM -->
	<!-- INCLUDE gallery_albumlist_body.html -->
	<br clear="all" />
<!-- ENDIF -->

<!-- IF S_IS_POSTABLE or S_NO_READ_ACCESS -->
	<div id="pageheader">
		<h2><a class="titles" href="{U_VIEW_ALBUM}">{ALBUM_NAME}</a></h2>

		<!-- IF MODERATORS -->
			<p class="moderators"><!-- IF S_SINGLE_MODERATOR -->{L_MODERATOR}<!-- ELSE -->{L_MODERATORS}<!-- ENDIF -->: {MODERATORS}</p>
		<!-- ENDIF -->
		<!-- IF U_MCP -->
			<p class="linkmcp">[ <a href="{U_MCP}">{L_MCP}</a> ]</p>
		<!-- ENDIF -->
		<!-- IF U_EDIT_ALBUM --><p class="linkmcp">[ <a href="{U_EDIT_ALBUM}">{L_EDIT_ALBUM}</a> ]<!-- IF U_MCP -->&nbsp;<!-- ENDIF --></p><!-- ENDIF -->
		<!-- IF U_CREATE_ALBUM --><p class="linkmcp">[ <a href="{U_CREATE_ALBUM}">{L_CREATE_SUBALBUM}</a> ]&nbsp;</p><!-- ENDIF -->
	</div>

	<br clear="all" /><br />
<!-- ENDIF -->

<div id="pagecontent">

<!-- IF S_IS_POSTABLE -->
	<!-- IF U_UPLOAD_IMAGE or TOTAL_IMAGES -->
		<table width="100%" cellspacing="1">
		<tr>
			<!-- IF U_UPLOAD_IMAGE -->
				<td align="{S_CONTENT_FLOW_BEGIN}" valign="middle"><a href="{U_UPLOAD_IMAGE}">{UPLOAD_IMG}</a></td>
			<!-- ENDIF -->
			<!-- IF TOTAL_IMAGES -->
				<td class="nav" valign="middle" nowrap="nowrap">&nbsp;{PAGE_NUMBER}<br /></td>
				<td class="gensmall" nowrap="nowrap">&nbsp;[ {TOTAL_IMAGES} ]&nbsp;</td>
				<td class="gensmall" width="100%" align="{S_CONTENT_FLOW_END}" nowrap="nowrap"><!-- INCLUDE pagination.html --></td>
			<!-- ENDIF -->
		</tr>
		</table>
	<!-- ENDIF -->

<!-- IF S_IS_POSTABLE or .image_row -->
<table class="tablebg" cellspacing="1" width="100%">
	<tr>
		<td class="cat" colspan="{S_COLS}">
				<table width="100%" cellspacing="0">
				<tr class="nav">
					<td valign="middle"><!-- IF S_IS_POSTABLE and U_SLIDE_SHOW and not S_IS_BOT -->&nbsp;<a href="{U_SLIDE_SHOW}">{L_SLIDE_SHOW}</a>&nbsp;<!-- IF U_WATCH_TOPIC --> &bull; <!-- ENDIF --><!-- ENDIF -->&nbsp;<!-- IF U_WATCH_TOPIC --><a href="{U_WATCH_TOPIC}" title="{L_WATCH_TOPIC}">{L_WATCH_TOPIC}</a><!-- IF U_PRINT_TOPIC or U_EMAIL_TOPIC or U_BUMP_TOPIC or U_BOOKMARK_TOPIC --> | <!-- ENDIF --><!-- ENDIF --></td>
					<td align="{S_CONTENT_FLOW_END}" valign="middle">&nbsp;</td>
				</tr>
				</table>
		</td>
	</tr>
	<tr>
		<th align="center" colspan="{S_COLS}" nowrap="nowrap">{L_ALBUM} - {ALBUM_NAME}</th>
	</tr>
	<!-- BEGIN image_row -->
	<tr>
		<!-- BEGIN image -->
		<td class="row2" valign="top" style="width: {S_COL_WIDTH};">
			<table width="100%" cellpadding="2" cellspacing="5" border="0" class="forumline">
				<tr>
					<td align="center" class="row1" style="height: {S_THUMBNAIL_SIZE}px;">
					<span class="genmed">{image_row.image.UC_THUMBNAIL}</span>
					</td>
				</tr>
				<tr>
					<td class="row2" valign="top">
					<div class="gensmall" style="overflow: hidden;">
					<!-- IF (image_row.image.S_LOCKED or image_row.image.S_UNAPPROVED) and image_row.image.U_STATUS --><a style="font-weight: bold;" class="reported-images-number" href="{image_row.image.U_STATUS}">{image_row.image.L_STATUS}</a><br /><br /><!-- ENDIF -->
					<!-- IF image_row.image.S_REPORTED and image_row.image.U_REPORT --><a style="font-weight: bold;" class="reported-images-number" href="{image_row.image.U_REPORT}">{L_READ_REPORT}</a><br /><br /><!-- ENDIF -->
						{L_IMAGE_NAME}: {image_row.image.UC_IMAGE_NAME}<br />
						{L_UPLOADED_BY_USER}: {image_row.image.POSTER}<br />
						{L_UPLOADED_ON_DATE}: {image_row.image.TIME}<br />
						{L_VIEWS}: {image_row.image.VIEW}<br />
						<!-- IF image_row.image.S_RATINGS -->{L_RATING}: <a href="{image_row.image.U_RATINGS}">{image_row.image.S_RATINGS}</a><br /><!-- ENDIF -->
						<!-- IF image_row.image.S_COMMENTS -->{image_row.image.L_COMMENTS}: <a href="{image_row.image.U_COMMENTS}">{image_row.image.S_COMMENTS}</a><br /><!-- ENDIF -->
						<!-- IF image_row.image.S_IP -->{L_IP}: {image_row.image.S_IP} &#187; <a href="{image_row.image.U_WHOIS}" onclick="popup(this.href, 750, 500); return false;">{L_WHOIS}</a><br /><!-- ENDIF -->
						<!-- IF image_row.image.U_REPORT or image_row.image.U_STATUS or image_row.image.U_MOVE or  image_row.image.U_EDIT or image_row.image.U_DELETE -->
						<a href="javascript: toggleElement( getElement('moderate_{image_row.image.IMAGE_ID}'));">{L_MODERATE}</a>
						<div id="moderate_{image_row.image.IMAGE_ID}" style="display: none;">
							<!-- IF image_row.image.U_REPORT -->&#187; <a href="{image_row.image.U_REPORT}" class="reported-images-number">{L_READ_REPORT}</a><br /><!-- ENDIF -->
							<!-- IF image_row.image.U_STATUS -->&#187; <a href="{image_row.image.U_STATUS}">{image_row.image.L_STATUS}</a><br /><!-- ENDIF -->
							<!-- IF image_row.image.U_MOVE -->&#187; <a href="{image_row.image.U_MOVE}">{L_MOVE}</a><br /><!-- ENDIF -->
							<!-- IF image_row.image.U_EDIT -->&#187; <a href="{image_row.image.U_EDIT}">{L_EDIT_IMAGE}</a><br /><!-- ENDIF -->
							<!-- IF image_row.image.U_DELETE -->&#187; <a href="{image_row.image.U_DELETE}">{L_DELETE_IMAGE}</a><br /><!-- ENDIF -->
						</div>
						<!-- ENDIF -->
					</div>
					</td>
				</tr>
			</table>
		</td>
		<!-- END image -->
		<!-- BEGIN no_image --> 
			<td class="row2" valign="top" style="width: {S_COL_WIDTH};">
				<table width="100%" cellpadding="2" cellspacing="10" border="0" class="forumline"><tr>
				<td style="height: {S_THUMBNAIL_SIZE}px;" class="row1"></td>
				</tr></table>
			</td> 
		<!-- END no_image -->
	</tr>
	<!-- BEGINELSE -->
	<tr>
		<td class="row1" align="center" height="30"><span class="gen">{L_NO_IMAGES_LONG}</span></td>
	</tr>
	<!-- END image_row -->
	<tr>
		<td class="cat" colspan="{S_COLS}" align="center" height="28">
			<form action="{S_ALBUM_ACTION}" method="post"><span class="gensmall">{L_SORT_BY}</span> {S_SELECT_SORT_KEY} {S_SELECT_SORT_DIR}&nbsp;<input class="btnlite" type="submit" name="sort" value="{L_GO}" /></form>
		</td>
	</tr>
</table>
<!-- ENDIF -->

	<!-- IF U_UPLOAD_IMAGE or TOTAL_IMAGES -->
		<table width="100%" cellspacing="1">
		<tr>
			<!-- IF U_UPLOAD_IMAGE -->
				<td align="{S_CONTENT_FLOW_BEGIN}" valign="middle"><a href="{U_UPLOAD_IMAGE}">{UPLOAD_IMG}</a></td>
			<!-- ENDIF -->
			<!-- IF TOTAL_IMAGES -->
				<td class="nav" valign="middle" nowrap="nowrap">&nbsp;{PAGE_NUMBER}<br /></td>
				<td class="gensmall" nowrap="nowrap">&nbsp;[ {TOTAL_IMAGES} ]&nbsp;</td>
				<td class="gensmall" width="100%" align="{S_CONTENT_FLOW_END}" nowrap="nowrap"><!-- INCLUDE pagination.html --></td>
			<!-- ENDIF -->
		</tr>
		</table>
	<!-- ENDIF -->
<!-- ENDIF -->

		<br clear="all" />
</div>

<!-- INCLUDE breadcrumbs.html -->

<!-- IF S_DISPLAY_ONLINE_LIST -->
	<br clear="all" />

	<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<td class="cat"><h4>{L_WHO_IS_ONLINE}</h4></td>
	</tr>
	<tr>
		<td class="row1"><p class="gensmall"><!-- IF CHEAT_LOGGED_IN_USER_LIST -->{CHEAT_LOGGED_IN_USER_LIST}<!-- ELSE -->{LOGGED_IN_USER_LIST}<!-- ENDIF --></p></td>
	</tr>
	</table>
<!-- ENDIF -->
<!-- IF S_IS_POSTABLE -->

	<br clear="all" />

	<table width="100%" cellspacing="0">
	<tr>
		<td align="{S_CONTENT_FLOW_END}"><span class="gensmall"><!-- BEGIN rules -->{rules.RULE}<br /><!-- END rules --></span></td>
	</tr>
	</table>
<!-- ENDIF -->

<br clear="all" />

<table width="100%" cellspacing="0">
<tr>
	<td><!-- IF S_DISPLAY_SEARCHBOX --><!-- INCLUDE searchbox.html --><!-- ENDIF --></td>
	<td align="{S_CONTENT_FLOW_END}">
	<form method="post" id="jumpbox" action="{S_JUMPBOX_ACTION}" onsubmit="if(document.jumpbox.album_id.value == -1){return false;}">

	<table cellspacing="0" cellpadding="0" border="0">
	<tr>
		<td nowrap="nowrap"><span class="gensmall">{L_JUMP_TO}:</span>&nbsp;<select name="album_id" id="album_id" onchange="if(this.options[this.selectedIndex].value != -1){ document.forms['jumpbox'].submit() }">
				{ALBUM_JUMPBOX}
			</select>&nbsp;<input class="btnlite" type="submit" value="{L_GO}" /></td>
	</tr>
	</table>

	</form>
	</td>
</tr>
</table>

<!-- Please keep this little notice visible -->
<div class="copyright" style="text-align: center;">Powered by <!-- port started by tsr: http://phpbbgallery.ph.funpic.de --><a href="http://www.flying-bits.org/">nickvergessen</a></div>
<br clear="all" />
<!-- INCLUDE overall_footer.html -->
