<!-- INCLUDE overall_header.html -->
<script type="text/javascript" src="{T_TEMPLATE_PATH}/gallery_lytebox.js"></script>
<script type="text/javascript" >
	if (window.addEventListener) {
		window.addEventListener("load",initLytebox,false);
	} else if (window.attachEvent) {
		window.attachEvent("onload",initLytebox);
	} else {
		window.onload = function() {initLytebox();}
	}
	function initLytebox() {
		var imgMaxWidth = {IMAGE_RSZ_WIDTH};
		var imgWarning = '';
		myLytebox = new LyteBox(imgMaxWidth, imgWarning);
	}
</script>
<h2><a href="{U_VIEW_ALBUM}">{ALBUM_NAME}</a></h2>

<form name="upload" action="{S_ALBUM_ACTION}" method="post" enctype="multipart/form-data" onsubmit="return checkAlbumForm()">
	<table width="100%" cellpadding="3" cellspacing="1" border="0" class="tablebg">
		<tr>
			<th colspan="2"><!-- IF S_COMMENT -->{L_POST_COMMENT}<!-- ELSEIF S_UPLOAD -->{L_UPLOAD_IMAGE}<!-- ELSE -->{L_EDIT_IMAGE}<!-- ENDIF --></th>
		</tr>

		<!-- IF ERROR -->
			<tr>
				<td class="row2" colspan="2" align="center"><span class="genmed error">{ERROR}</span></td>
			</tr>
		<!-- ENDIF -->
			<!-- IF REQ_USERNAME -->
			<tr>
				<td class="row1" width="30%" height="28"><span class="gen">{L_USERNAME}:</span></td>
				<td class="row2"><input class="inputbox autowidth" type="text" name="username" value="{USERNAME}" size="60" maxlength="32" /></td>
			</tr>
		<!-- ENDIF -->
		<!-- IF S_IMAGE -->
			<tr>
				<td class="row1" height="28"><span class="gen">{L_IMAGE_TITLE}:</span></td>
				<td class="row2">
					<input class="inputbox autowidth" type="text" name="image_name" size="60" value="{IMAGE_NAME}" /><br /><br />
					<!-- IF S_MULTI_IMAGES --><input class="inputbox autowidth" type="text" name="image_num" size="5" value="1" /> {L_LOOP_EXP}<br /><br /><!-- ENDIF -->
					<!-- IF S_UPLOAD --><input type="checkbox" class="checkbox" name="filename" value="filename" /> {L_ORIG_FILENAME}<!-- ENDIF -->
				</td>
			</tr>
		<!-- ENDIF -->
		<tr>
			<td class="row1" height="28"><span class="gen"><!-- IF S_COMMENT -->{L_YOUR_COMMENT}<!-- ELSE -->{L_IMAGE_DESC}<!-- ENDIF -->:<br />
				{L_MAX_LENGTH}: <strong>{S_PIC_DESC_MAX_LENGTH}</strong></span></td>
			<td class="row2"><textarea name="message" id="message" rows="15" cols="76" tabindex="3" onselect="storeCaret(this);" onclick="storeCaret(this);" onkeyup="storeCaret(this);" class="inputbox">{MESSAGE}</textarea></td>
		</tr>
		<!-- IF S_UPLOAD -->
			<!-- BEGIN upload_image -->
				<tr>
					<td class="row1" height="28"><span class="gen">{L_FILE}:</span></td>
					<td class="row2"><input class="inputbox autowidth" type="file" name="image[]" size="60" /></td>
				</tr>
				<!-- IF not S_THUMBNAIL -->
					<tr>
						<td class="row1"><span class="gen">{L_UPLOAD_THUMBNAIL}:<br />
							</span><span class="gensmall">{L_UPLOAD_THUMBNAIL_EXPLAIN}</span></td>
						<td class="row2"><input class="post" type="file" name="thumbnail[]" size="49" /></td>
					</tr>
				<!-- ENDIF -->
			<!-- END upload_image -->
			<tr>
				<td class="row1" height="28"><span class="gen">{L_MAX_FILE_SIZE}:</span></td>
				<td class="row2"><span class="gen"><b>{S_MAX_FILESIZE}</b></span></td>
			</tr>
			<tr>
				<td class="row1" height="28"><span class="gen">{L_MAX_WIDTH}:</span></td>
				<td class="row2"><span class="gen"><b>{S_MAX_WIDTH}</b></span></td>
			</tr>
			<tr>
				<td class="row1" height="28"><span class="gen">{L_MAX_HEIGHT}:</span></td>
				<td class="row2"><span class="gen"><b>{S_MAX_HEIGHT}</b></span></td>
			</tr>
			<tr>
				<td class="row1" height="28"><span class="gen">{L_JPG_ALLOWED}:</span></td>
				<td class="row2"><span class="gen"><b>{S_JPG}</b></span></td>
			</tr>
			<tr>
				<td class="row1" height="28"><span class="gen">{L_PNG_ALLOWED}:</span></td>
				<td class="row2"><span class="gen"><b>{S_PNG}</b></span></td>
			</tr>
			<tr>
				<td class="row1" height="28"><span class="gen">{L_GIF_ALLOWED}:</span></td>
				<td class="row2"><span class="gen"><b>{S_GIF}</b></span></td>
			</tr>
		<!-- ENDIF -->
		<tr>
			<td class="cat" align="center" height="28" colspan="2"><input type="reset" accesskey="r" tabindex="8" value="{L_RESET}" class="button2" />
				&nbsp;<input type="submit" accesskey="s" tabindex="6" name="submit" value="{L_SUBMIT}" class="button2" /></td>
		</tr>
	</table>
	{S_FORM_TOKEN}
</form>
<br clear="all" />

<!-- Please keep this little notice visible -->
<div class="copyright" style="text-align: center;">Powered by <!-- port started by tsr: http://phpbbgallery.ph.funpic.de --><a href="http://www.flying-bits.org/">nickvergessen</a></div>
<br clear="all" />
<!-- INCLUDE overall_footer.html -->