<!-- INCLUDE overall_header.html -->

<!-- IF not S_MOVING_IMAGES -->

<div id="pageheader">
	<p class="linkmcp">
		[ <a href="{U_VIEW_ALBUM}">{ALBUM_NAME}</a> | <a href="{U_MOD_ALBUM}">{L_MODERATE_ALBUM}</a> ]
	</p>
	<h2><a class="titles" href="{U_VIEW_ALBUM}">{ALBUM_NAME}</a></h2>
</div>

<br clear="all" />

<div id="pagecontent">

	<table width="100%" cellspacing="0" cellpadding="0" border="0">
	<tr>
		<td width="20%" valign="top">

			<table class="tablebg" width="100%" cellspacing="1">
			<tr>
				<th>{L_OPTIONS}</th>
			</tr>
			<!-- BEGIN tabs -->
				<tr>
				<!-- IF tabs.TAB_ACTIVE -->
					<td class="row1"><b class="nav">{tabs.TAB_NAME}</b>
					<ul class="nav" style="margin: 0; padding: 0; list-style-type: none; line-height: 175%;">
					<!-- BEGIN modes -->
						<li>&#187; <!-- IF tabs.modes.MODE_ACTIVE --><b>{tabs.modes.MODE_NAME}</b><!-- ELSE --><a href="{tabs.modes.U_MODE}">{tabs.modes.MODE_NAME}</a><!-- ENDIF --></li>
					<!-- END modes -->
					</ul>
				<!-- ELSE -->
					<td class="row2" nowrap="nowrap" onmouseover="this.className='row1'" onmouseout="this.className='row2'" onclick="location.href=this.firstChild.href;"><a class="nav" href="{tabs.U_TAB}">{tabs.TAB_NAME}</a>
					<!-- BEGIN modes -->
						<li>&#187; <!-- IF tabs.modes.MODE_ACTIVE --><b>{tabs.modes.MODE_NAME}</b><!-- ELSE --><a href="{tabs.modes.U_MODE}">{tabs.modes.MODE_NAME}</a><!-- ENDIF --></li>
					<!-- END modes -->
				<!-- ENDIF -->
					</td>
				</tr>
			<!-- END tabs -->
			</table>
		</td>
		<td><img src="{T_IMAGES_PATH}spacer.gif" width="4" alt="" /></td>
		<td width="80%" valign="top">
		<!-- IF S_GALLERY_MCP_VIEWALBUM or S_QUEUE_LIST or S_REPORT_LIST -->

			<form method="post" id="mcp" action="{S_MCP_ACTION}">

			<table class="tablebg" width="100%" cellspacing="1">
			<tr>
				<td class="cat" colspan="6" align="center"><span class="gensmall">
				<span class="gensmall">{L_SORT_BY}</span>
					<select name="sk">
						<option<!-- IF S_SORT_KEY == 'image_time' --> selected="selected"<!-- ENDIF --> value='image_time'>{L_TIME}</option>
						<option<!-- IF S_SORT_KEY == 'image_name' --> selected="selected"<!-- ENDIF --> value='image_name'>{L_IMAGE_NAME}</option>
						<option<!-- IF S_SORT_KEY == 'image_username' --> selected="selected"<!-- ENDIF --> value='image_username'>{L_SORT_USERNAME}</option>
						<!-- IF not S_REPORT_LIST or S_QUEUE_LIST -->
							<option<!-- IF S_SORT_KEY == 'image_view_count' --> selected="selected"<!-- ENDIF --> value='image_view_count'>{L_VIEWS}</option>
						<!-- ENDIF -->
						<!-- IF S_REPORT_LIST -->
							<option<!-- IF S_SORT_KEY == 'reporter_name' --> selected="selected"<!-- ENDIF --> value='reporter_name'>{L_REPORTER}</option>
							<option<!-- IF S_SORT_KEY == 'mod_username' --> selected="selected"<!-- ENDIF --> value='mod_username'>{L_MODERATOR}</option>
						<!-- ENDIF -->
						<!-- IF S_RATINGS -->
							<option<!-- IF S_SORT_KEY == 'image_rate_avg' --> selected="selected"<!-- ENDIF --> value='image_rate_avg'>{L_RATING}</option>
						<!-- ENDIF -->
						<!-- IF S_COMMENTS -->
							<option<!-- IF S_SORT_KEY == 'image_comments' --> selected="selected"<!-- ENDIF --> value='image_comments'>{L_COMMENTS}</option>
							<option<!-- IF S_SORT_KEY == 'image_last_comment' --> selected="selected"<!-- ENDIF --> value='image_last_comment'>{L_LAST_COMMENT}</option>
						<!-- ENDIF -->
					</select>
					<select name="sd">
						<option<!-- IF S_SORT_DESC --> selected="selected"<!-- ENDIF --> value='DESC'>{L_SORT_DESCENDING}</option>
						<option<!-- IF not S_SORT_DESC --> selected="selected"<!-- ENDIF --> value='ASC'>{L_SORT_ASCENDING}</option>
					</select>
					<input class="btnlite" type="submit" name="sort" value="{L_GO}" />
				</td>
			</tr>
			<tr>
				<!-- IF DISP_FAKE_THUMB --><th width="4%" nowrap="nowrap">&nbsp;</th><!-- ENDIF -->
				<th nowrap="nowrap">{L_IMAGES}</th>
				<!-- IF S_COMMENTS --><th nowrap="nowrap">&nbsp;{L_COMMENTS}&nbsp;</th><!-- ENDIF -->
				<!-- IF S_RATINGS --><th width="8%" nowrap="nowrap">&nbsp;{L_RATING}&nbsp;</th><!-- ENDIF -->
				<!-- IF S_REPORTER --><th width="17%" nowrap="nowrap">&nbsp;{L_REPORTER_AND_ALBUM}&nbsp;</th><!-- ENDIF -->
				<!-- IF S_STATUS --><th width="17%" nowrap="nowrap">&nbsp;{L_STATUS}&nbsp;</th><!-- ENDIF -->
				<!-- IF S_MARK --><th width="5%" nowrap="nowrap">&nbsp;{L_MARK}&nbsp;</th><!-- ENDIF -->
			</tr>
			<!-- BEGIN image_row -->
			<tr>

				<!-- IF DISP_FAKE_THUMB and image_row.THUMBNAIL --><td class="row1" width="{FAKE_THUMB_SIZE}" align="center"><span style="float: left; text-align: center; width: {FAKE_THUMB_SIZE}px; padding-right: 5px;">{image_row.THUMBNAIL}</span></td><!-- ENDIF -->
				<td class="row1">
					<a href="<!-- IF not S_REPORT -->{image_row.U_IMAGE_PAGE}<!-- ELSE -->{image_row.U_REPORT}<!-- ENDIF -->" class="topictitle">{image_row.IMAGE_NAME}</a><!-- IF image_row.S_REPORTED --> <a href="{image_row.U_REPORT}">{REPORTED_IMG}</a><!-- ENDIF --><!-- IF image_row.S_UNAPPROVED --> <a href="{image_row.U_QUEUE}">{UNAPPROVED_IMG}</a><!-- ENDIF --><br />
					<span>{L_POST_BY_AUTHOR} {image_row.UPLOADER}<br />
					{image_row.IMAGE_TIME}
					<!-- IF image_row.REPORT_MOD --><br />{L_REPORT_MOD} {image_row.REPORT_MOD}<!-- ENDIF -->
				</td>
				<!-- IF S_COMMENTS --><td class="row1" width="50" align="center">&nbsp;{image_row.COMMENTS}&nbsp;</td><!-- ENDIF -->
				<!-- IF S_RATINGS --><td class="row1" width="50" align="center">&nbsp;{image_row.RATING}&nbsp;</td><!-- ENDIF -->
				<!-- IF S_REPORTER --><td class="row1" width="150" align="center">&nbsp;
					{L_REPORT_BY} {image_row.REPORTER}<br />
					{image_row.REPORT_TIME}<br />
					{L_ALBUM}: <a href="{U_VIEW_ALBUM}" style="font-weight: bold;">{ALBUM_NAME}</a>
				&nbsp;</td><!-- ENDIF -->
				<!-- IF S_STATUS --><td class="row1" width="150" align="center">&nbsp;{image_row.STATUS}<!-- IF image_row.S_REPORTED --><br />{L_IMAGE_REPORTED}<!-- ENDIF -->&nbsp;</td><!-- ENDIF -->
				<!-- IF S_MARK --><td class="row2" align="center">&nbsp;<input type="checkbox" name="image_id_ary[]" value="<!-- IF not S_REPORT_LIST -->{image_row.IMAGE_ID}<!-- ELSE -->{image_row.REPORT_ID}<!-- ENDIF -->" />&nbsp;</td><!-- ENDIF -->
			</tr>
			<!-- END image_row -->
			<tr>
				<td class="cat" colspan="6" align="right">
					<select name="action">
						<option value="" selected="selected">{L_CHOOSE_ACTION}</option>
						<!-- IF not S_REPORT_LIST and not S_QUEUE_LIST -->
							<option value="images_move">{L_QUEUES_A_MOVE}</option>
						<!-- ENDIF -->
						<!-- IF not S_REPORT_LIST -->
							<option value="images_unapprove">{L_QUEUE_A_UNAPPROVE}</option>
							<option value="images_approve">{L_QUEUE_A_APPROVE}</option>
							<option value="images_lock">{L_QUEUE_A_LOCK}</option>
							<option value="images_delete">{L_QUEUE_A_DELETE}</option>
						<!-- ELSE -->
							<option value="reports_close">{L_REPORT_A_CLOSE}</option>
							<option value="reports_open">{L_REPORT_A_OPEN}</option>
							<option value="reports_delete">{L_REPORT_A_DELETE}</option>
						<!-- ENDIF -->
					</select>
					<input class="btnmain" type="submit" value="{L_SUBMIT}" />
				</td>
			</tr>
			</table>
			</form>

			<table width="100%" cellspacing="2" cellpadding="2" border="0" align="center">
			<tr>
				<td align="right" valign="top" nowrap="nowrap"><b class="gensmall"><a href="#" onclick="marklist('mcp', 'image_id_ary', true); return false;">{L_MARK_ALL}</a> :: <a href="#" onclick="marklist('mcp', 'image_id_ary', false); return false;">{L_UNMARK_ALL}</a></b></td>
			</tr>
			</table>
		<!-- ENDIF -->

		<!-- IF S_GALLERY_MCP_REPO_DETAIL or S_GALLERY_MCP_QUEUE_DETAIL -->
			<form method="post" action="{S_MCP_ACTION}">
			<table class="tablebg" width="100%" cellspacing="1">
			<tr>
				<th nowrap="nowrap">{IMAGE_NAME}</th>
			</tr>
			<tr>
				<td class="row1">
					{L_POST_BY_AUTHOR} {UPLOADER}<br />
					{IMAGE_TIME}<br />
					{L_ALBUM}: <a href="{U_VIEW_ALBUM}" style="font-weight: bold;">{ALBUM_NAME}</a><br />
					{L_STATUS}: <span style="font-weight: bold;">{STATUS}</span>
				</td>
			</tr>
			<tr>
				<td class="row2">

						<table width="100%" cellspacing="0">
						<tr valign="middle">
							<td class="gensmall" align="{S_CONTENT_FLOW_END}">
								<a href="{U_EDIT_IMAGE}">{EDIT_IMG}</a>
								<a href="{U_DELETE_IMAGE}">{DELETE_IMG}</a>
							</td>
						</tr>
						</table>
					<div style="text-align: center; padding: 20px;">{UC_IMAGE}</div>
					<!-- IF IMAGE_DESC -->
						<hr />
						<span style="font-weight: bold;">{L_IMAGE_DESC}:</span><br />
						{IMAGE_DESC}
					<!-- ENDIF -->
				</td>
			</tr>

			<!-- IF S_GALLERY_MCP_REPO_DETAIL -->
				<tr>
					<td class="row1">
						<p class="author">{L_REPORT_BY} {REPORTER} &raquo; {REPORT_TIME}</p><hr />
						<div class="postbody">{REPORT_NOTE}</div>
					</td>
				</tr>
			<!-- ENDIF -->
			<tr>
				<td class="cat" align="right">
					<select name="action">
						<option value="" selected="selected">{L_CHOOSE_ACTION}</option>
						<!-- IF S_GALLERY_MCP_QUEUE_DETAIL -->
							<!-- IF IMAGE_STATUS == 0 -->
								<option value="images_approve">{L_QUEUE_A_APPROVE}</option>
								<option value="images_lock">{L_QUEUE_A_LOCK}</option>
							<!-- ELSEIF IMAGE_STATUS == 1 -->
								<option value="images_unapprove">{L_QUEUE_A_UNAPPROVE}</option>
								<option value="images_lock">{L_QUEUE_A_LOCK}</option>
							<!-- ELSE -->
								<option value="images_unapprove">{L_QUEUE_A_UNAPPROVE}</option>
								<option value="images_approve">{L_QUEUE_A_APPROVE}</option>
							<!-- ENDIF -->
							<option value="images_delete">{L_QUEUE_A_DELETE}</option>
						<!-- ELSE -->
							<!-- IF REPORT_STATUS -->
								<option value="reports_close">{L_REPORT_A_CLOSE}</option>
							<!-- ELSE -->
								<option value="reports_open">{L_REPORT_A_OPEN}</option>
							<!-- ENDIF -->
							<option value="reports_delete">{L_REPORT_A_DELETE}</option>
						<!-- ENDIF -->
					</select>
					<input class="button2" type="submit" value="{L_SUBMIT}" />
					<input type="hidden" value="{REPORT_ID}" name="image_id_ary[{REPORT_ID}]" />
				</td>
			</tr>
			</table>
			</form>
		<!-- ENDIF -->

		</td>
	</tr>
	</table>
	<!-- IF PAGINATION -->
		<table width="80%" align="{S_CONTENT_FLOW_END}" cellspacing="1">
		<tr>
			<td class="nav" valign="middle" nowrap="nowrap">&nbsp;{PAGE_NUMBER}<br /></td>
			<td class="gensmall" nowrap="nowrap">&nbsp;[ <!-- IF TOTAL_IMAGES -->{TOTAL_IMAGES}<!-- ENDIF --> ]&nbsp;</td>
			<td class="gensmall" width="100%" align="{S_CONTENT_FLOW_END}" nowrap="nowrap"><!-- INCLUDE pagination.html --></td>
		</tr>
		</table>
		<br />
	<!-- ENDIF -->
</div>
<!-- ELSE -->
<form method="post" id="mcp" action="{S_MCP_ACTION}">
	<div id="pagecontent">
		<table class="tablebg" width="100%" cellspacing="1">
		<tr>
			<th>{L_MOVE}</th>
		</tr>
		<tr>
			<td class="row1" align="center"><br /><p class="gen">{L_MOVE_TO_ALBUM}&nbsp; {S_ALBUM_SELECT}</p><br />
			{S_HIDDEN_FIELDS}
			<input type="submit" name="move" value="{L_MOVE}" class="btnmain" /></td>
		</tr>
		</table>
	</div>
</form>
<!-- ENDIF -->

<br clear="all" />


<!-- Please keep this little notice visible -->
<div class="copyright" style="text-align: center;">Powered by <!-- port started by tsr: http://phpbbgallery.ph.funpic.de --><a href="http://www.flying-bits.org/">nickvergessen</a></div>
<br clear="all" />
<!-- INCLUDE overall_footer.html -->