<!-- INCLUDE overall_header.html -->
<!-- IF .albumrow -->
<table class="tablebg" cellspacing="1" width="100%">
	<tr>
		<th colspan="2" height="20">{L_ALBUM}</th>
		<th style="width: 60px;">{L_IMAGES}</th>
		<th style="width: 300px;">{L_LAST_IMAGE}</th>
	</tr>
	<!-- BEGIN albumrow -->
	<tr>
		<td class="row1" style="align: center; width: 50px;"><img src="{albumrow.ALBUM_FOLDER_IMG_SRC}" alt="{albumrow.ALBUM_NAME}" /></td>
		<td height="28" class="row1"><span class="gen">
			<!-- IF albumrow.ALBUM_IMAGE -->
			<span class="forum-image">{albumrow.ALBUM_IMAGE}</span>
			<!-- ENDIF -->
			<strong><a href="{albumrow.U_VIEW_ALBUM}" class="forumtitle">{albumrow.ALBUM_NAME}</a></strong><br />
			<span class="gensmall">{albumrow.ALBUM_DESC}</span>
			<!-- IF albumrow.MODERATORS -->
			<p class="forumdesc"><strong>{albumrow.L_MODERATORS}:</strong> {albumrow.MODERATORS}</p>
			<!-- ENDIF -->
			<!-- IF albumrow.SUBALBUMS -->
			<p class="forumdesc"><strong>{albumrow.L_SUBALBUMS}:</strong> {albumrow.SUBALBUMS}</p>
			<!-- ENDIF -->
		</td>
		<td class="row1" style="text-align: center;"><span class="gen">{albumrow.IMAGES}</span></td>
		<td class="row1">
			<span class="gen">
				<!-- IF albumrow.U_LAST_IMAGE -->
					<a href="{albumrow.U_LAST_IMAGE}" style="font-weight: bold;">{albumrow.LAST_IMAGE_NAME}</a><br />
					{L_POST_BY_AUTHOR} {albumrow.LAST_IMAGE_AUTHOR} <a href="{albumrow.U_LAST_IMAGE}">{LAST_POST_IMG}</a><br />
					{L_POSTED_ON_DATE} {albumrow.LAST_IMAGE_TIME}
				<!-- ELSE -->{L_NO_IMAGES}<!-- ENDIF -->
			</span>
		</td>
	</tr>
	<!-- END albumrow -->
	<tr>
		<td class="cat" colspan="{S_COLS}" height="1"><img src="images/spacer.gif" alt="" width="1" height="1" /></td>
	</tr>
</table>
<br />
<!-- ENDIF -->


<!-- IF U_MCP --><div style="float: right;">[<a href="{U_MCP}">{L_MCP}</a>&nbsp;]</div><br clear="all" /><!-- ENDIF -->
<h2><a href="{U_VIEW_ALBUM}">{ALBUM_NAME}</a></h2>
	<!-- IF U_EDIT_ALBUM --><br /><br /><strong><a href="{U_EDIT_ALBUM}">{L_EDIT_ALBUM}</a></strong><br /><!-- IF not U_CREATE_ALBUM --><br /><!-- ENDIF --><!-- ENDIF -->
	<!-- IF U_CREATE_ALBUM --><strong><a href="{U_CREATE_ALBUM}">{L_CREATE_SUBALBUM}</a></strong><br /><br /><!-- ENDIF -->
<table width="100%" cellspacing="1">
	<tr>
		<td align="{S_CONTENT_FLOW_BEGIN}" valign="middle" nowrap="nowrap"><!-- IF S_MODE == 2 && U_UPLOAD_IMAGE --><a href="{U_UPLOAD_IMAGE}" title="{L_UPLOAD_IMAGE}"><img src="{T_IMAGESET_LANG_PATH}/button_upload_image.gif" alt="{L_UPLOAD_IMAGE}" />{UPLOAD_IMG}</a><!-- ENDIF --></td>
		<td class="gensmall" width="100%" align="{S_CONTENT_FLOW_END}" nowrap="nowrap">{PAGE_NUMBER}<!-- IF PAGINATION --> &bull; <span>{PAGINATION}</span><!-- ENDIF --></td>
	</tr>
</table>
<br clear="all" />

<!-- IF .picrow -->
<table class="tablebg" cellspacing="1" width="100%">
	<tr>
		<th align="center" colspan="{S_COLS}" nowrap="nowrap">{L_ALBUM} - {ALBUM_NAME}</th>
	</tr>
	<!-- BEGIN no_pics -->
	<tr>
		<td class="row1" align="center" height="50"><span class="gen">{L_NO_PICS}</span></td>
	</tr>
	<!-- END no_pics -->
	<!-- BEGIN picrow -->
	<tr>
		<!-- BEGIN piccol -->
		<td align="center" width="{S_COL_WIDTH}" class="row1"><span class="genmed"><a href="{picrow.piccol.U_IMAGE}" rel="lightbox" {TARGET_BLANK}><img src="{picrow.piccol.THUMBNAIL}" border="0" alt="{picrow.piccol.DESC}" title="{picrow.piccol.DESC}" vspace="10" /></a><br />
			{picrow.piccol.APPROVAL}</span></td>
		<!-- END piccol -->
		<!-- BEGIN nopiccol -->
		<td align="center" width="{S_COL_WIDTH}" class="row1"><span></span></td>
		<!-- END nopiccol -->
	</tr>
	<tr>
		<!-- BEGIN pic_detail -->
		<td class="row2"><span class="gensmall"> {L_IMAGE_TITLE}: {picrow.pic_detail.TITLE}<br />
			{L_POSTER}: {picrow.pic_detail.POSTER}<br />
			{L_POSTED}: {picrow.pic_detail.TIME}<br />
			{L_VIEWS}: {picrow.pic_detail.VIEW}<br />
			{picrow.pic_detail.RATING}
			{picrow.pic_detail.COMMENTS}
			{picrow.pic_detail.IP}
			{picrow.pic_detail.EDIT}	{picrow.pic_detail.DELETE}	{picrow.pic_detail.LOCK}	{picrow.pic_detail.MOVE} </span> </td>
		<!-- END pic_detail -->
		<!-- BEGIN picnodetail -->
		<td class="row2"><span></span></td>
		<!-- END picnodetail -->
	</tr>
	<!-- END picrow -->
	<tr>
		<td class="cat" colspan="{S_COLS}" align="center" height="28">
			<form action="{S_ALBUM_ACTION}" method="post">
				<span class="gensmall">{L_SELECT_SORT_METHOD}:</span>
				<select name="sort_method">
					<option {SORT_TIME} value='image_time'>{L_TIME}</option>
					<option {SORT_IMAGE_TITLE} value='image_name'>{L_IMAGE_TITLE}</option>
					<option {SORT_USERNAME} value='image_username'>{L_USERNAME}</option>
					<option {SORT_VIEW} value='image_view_count'>{L_VIEWS}</option>
				{SORT_RATING_OPTION}
				{SORT_COMMENTS_OPTION}
				{SORT_NEW_COMMENT_OPTION}
				 </select>
				<span class="gensmall">{L_ORDER}:</span>
				<select name="sort_order">
					<option {SORT_ASC} value='ASC'>{L_ASCENDING}</option>
					<option {SORT_DESC} value='DESC'>{L_DESCENDING}</option>
				</select>
				<input type="submit" name="sort" value="{L_SORT}" class="button2" />
			</form>
		</td>
	</tr>
</table>
<br clear="all" />
<!-- ELSEIF S_MODE == 2 -->
<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<th>{L_ALBUM}</th>
	</tr>
	<tr>
		<td class="row1" align="center">{L_NO_IMAGES}</td>
	</tr>
</table>
<!-- ENDIF -->
<table width="100%" cellspacing="0" border="0">
<tr>
	<td align="{S_CONTENT_FLOW_END}">{ALBUM_JUMPBOX}</td>
</tr>
</table>
<br clear="all" />

<table width="100%" cellspacing="1">
	<tr>
		<td align="{S_CONTENT_FLOW_BEGIN}" valign="middle" nowrap="nowrap"><!-- IF S_MODE == 2 && U_UPLOAD_IMAGE --><a href="{U_UPLOAD_IMAGE}" title="{L_UPLOAD_IMAGE}"><img src="{T_IMAGESET_LANG_PATH}/button_upload_image.gif" alt="{L_UPLOAD_IMAGE}" />{UPLOAD_IMG}</a><!-- ENDIF --></td>
		<td class="gensmall" width="100%" align="{S_CONTENT_FLOW_END}" nowrap="nowrap">{PAGE_NUMBER}<!-- IF PAGINATION --> &bull; <span>{PAGINATION}</span><!-- ENDIF --></td>
	</tr>
</table>
<br clear="all" />

<!-- IF S_DISPLAY_ONLINE_LIST -->
	<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<td class="cat"><h4>{L_WHO_IS_ONLINE}</h4></td>
	</tr>
	<tr>
		<td class="row1"><p class="gensmall">{LOGGED_IN_USER_LIST}</p></td>
	</tr>
	</table>
<br clear="all" />
<!-- ENDIF -->
<table width="100%" cellspacing="1">
<tr>
	<td width="40%"></td>
	<td align="{S_CONTENT_FLOW_END}" valign="top" nowrap="nowrap"><span class="gensmall">{S_AUTH_LIST}</span></td>
</tr>
</table>
<br clear="all" />

<!-- Please keep this little notice visible -->
<div class="copyright" style="text-align: center;">Powered by <!-- port started by tsr: http://phpbbgallery.ph.funpic.de --><a href="http://www.flying-bits.org/">nickvergessen</a></div>
<br clear="all" />
<!-- INCLUDE overall_footer.html -->
