<!-- INCLUDE overall_header.html -->

<script type="text/javascript">
<!--
function checkRateForm() {
	if (document.rateform.rate.value == -1)
	{
		return false;
	}
	else
	{
		return true;
	}
}

function checkCommentForm() {
	formErrors = false;

	if (document.commentform.comment.value.length < 2)
	{
		formErrors = "{L_COMMENT_NO_TEXT}";
	}
	else if (document.commentform.comment.value.length > {S_MAX_LENGTH})
	{
		formErrors = "{L_COMMENT_TOO_LONG}";
	}

	if (formErrors) {
		alert(formErrors);
		return false;
	} else {
		return true;
	}
}
// -->
</script>

<h2><a href="#">{IMAGE_NAME}</a></h2>

<table class="tablebg" cellspacing="1" width="100%">
	<tr>
		<td class="cat">
			<table width="100%" cellspacing="0">
			<tr>
				<td class="nav" nowrap="nowrap"><!-- IF U_PREVIOUS --><a href="{U_PREVIOUS}">{L_PREVIOUS}</a><!-- ENDIF --></td>
				<td class="nav" align="{S_CONTENT_FLOW_END}" nowrap="nowrap"><!-- IF U_NEXT --><a href="{U_NEXT}">{L_NEXT}</a>&nbsp;<!-- ENDIF --></td>
			</tr>
			</table>
		</td>
	</tr>
	<tr>
		<th colspan="2">{L_DETAILS}</th>
	</tr>
	<tr>
		<td class="row1" style="align: center;"><div style="text-align: center; padding: 20px;">
		<img style="border: 1px solid; border-color: #A0A0A4; padding: 5px 5px 5px 5px; background-color: #FFFBF0;" src="{U_IMAGE}" border="0" vspace="10" alt="{IMAGE_NAME}" title="{IMAGE_NAME}" /></div></td>
	</tr>
	<tr>
		<td class="row2">
		
<table class="tablebg" cellspacing="1" width="100%">
	<tr>
		<th colspan="2">{L_DETAILS}</th>
	</tr>
	<tr class="row1">
		<td width="25%" align="right"><span class="genmed">{L_POSTER}:</span></td>
		<td><span class="genmed">{POSTER}</span></td>
	</tr>
	<tr class="row1">
		<td width="25%" align="right"><span class="genmed">{L_IMAGE_TITLE}:</span></td>
		<td><span class="genmed">{IMAGE_NAME}</span></td>
	</tr>
	<tr class="row1">
		<td width="25%" align="right"><span class="genmed">{L_IMAGE_DESC}:</span></td>
		<td><span class="genmed">{IMAGE_DESC}</span></td>
	</tr>
	<tr class="row1">
		<td width="25%" align="right"><span class="genmed">{L_IMAGE_BBCODE}:</span></td>
		<td><span class="genmed">{IMAGE_BBCODE}</span></td>
	</tr>
	<tr class="row1">
		<td width="25%" align="right"><span class="genmed">{L_POSTED}:</span></td>
		<td><span class="genmed">{IMAGE_TIME}</span></td>
	</tr>
	<tr class="row1">
		<td width="25%" align="right"><span class="genmed">{L_VIEWS}:</span></td>
		<td><span class="genmed">{IMAGE_VIEW}</span></td>
	</tr>
</table>
<br clear="all" />

<!-- IF RATING -->
<a name="rating"></a>
<form name="rateform" action="{S_ALBUM_ACTION}" method="post" onsubmit="return checkRateForm();">
<table class="tablebg" cellspacing="1" width="100%">
	<tr>
		<th colspan="2" style="align: center;">{L_RATING}</th>
	</tr>
	<tr class="row1">
		<td width="25%" align="right"><span class="genmed">{L_RATING}:</span></td>
		<td><span class="genmed">{IMAGE_RATING}</span></td>
	</tr>
	<!-- IF YOUR_RATING -->
	<tr class="row1">
		<td width="25%" align="right"><span class="genmed">{L_YOUR_RATING}:</span></td>
		<td><span class="genmed">{S_RATEBOX}</span></td>
	</tr>
	<!-- ENDIF -->
</table>
{S_FORM_TOKEN}
</form>
<br clear="all" />
<!-- ENDIF -->

<!-- IF COMMENTS -->
	<!-- IF POST_COMMENT -->
		<a name="rating"></a>
		<form name="commentform" action="{S_ALBUM_ACTION}" method="post" onsubmit="return checkCommentForm;">
			<table class="tablebg" cellspacing="1" width="100%">
				<tr>
					<th colspan="2" style="align: center;">{L_POST_COMMENT}</th>
				</tr>
				<!-- IF not S_USER_LOGGED_IN and not S_IS_BOT and S_CAN_COMMENT -->
				<tr class="row1">
					<td width="25%" align="right"><span class="genmed">{L_USERNAME}:</span></td>
					<td><span class="genmed">
						<input class="inputbox autowidth" type="text" name="comment_username" maxlength="32" />
						</span></td>
				</tr>
				<!-- ENDIF -->
				<tr class="row1">
					<td width="25%" align="right"><span class="genmed">{L_YOUR_COMMENT}:</span></td>
					<td><span class="genmed">{S_COMMENTBOX}</span></td>
				</tr>
			</table>
			{S_FORM_TOKEN}
		</form>
		<br clear="all" />
	<!-- ENDIF -->
	<a name="comments"></a>
	<table class="tablebg" cellspacing="1" width="100%">
		<tr>
			<th style="align: center;">{L_COMMENTS}</th>
		</tr>
		<!-- IF commentrow -->
			<tr class="cat">
				<td align="right">{IMAGE_COMMENTS} {L_COMMENTS} &bull; {PAGE_NUMBER}
					<!-- IF PAGINATION --> &bull; <span>{PAGINATION}</span><!-- ENDIF --></td>
			</tr>
			<!-- BEGIN commentrow -->
			<tr class="<!-- IF commentrow.S_ROW_COUNT is odd -->row2<!-- ELSE -->row1<!-- ENDIF -->">
				<td>
					{L_POST_BY_AUTHOR} {commentrow.POSTER} {L_POSTED_ON_DATE} {commentrow.TIME}<br />
					<br />
						<div>{commentrow.TEXT}</div>
					<!-- IF commentrow.EDIT_INFO --><br />{commentrow.EDIT_INFO}<!-- ENDIF -->
				</td>
			</tr>
			<!-- END commentrow -->
		<!-- ELSE -->
			<tr class="row1">
				<td><span class="genmed">{L_NO_COMMENTS}</span></td>
			</tr>
		<!-- ENDIF -->
	</table>
<!-- ENDIF -->

	</td>
	</tr>
</table>
<br clear="all" />

<!-- Please keep this little notice visible -->
<div class="copyright" style="align: center;">Powered by <a href="http://phpbbgallery.ph.funpic.de">phpBB Gallery</a> &amp; <a href="http://www.flying-bits.org/">nickvergessen</a></div>
<br clear="all" />

<!-- INCLUDE overall_footer.html -->
