<!-- INCLUDE overall_header.html -->

<h2><a href="{U_PERSONAL_GALLERY}">{PERSONAL_GALLERY_OF_USER}</a></h2>
<!-- IF U_MCP --><div style="float: right;">[<a href="{U_MCP}">{L_MCP}</a>&nbsp;]</div><br clear="all" /><!-- ENDIF -->
<table width="100%" cellspacing="1">
	<tr>
		<td align="{S_CONTENT_FLOW_BEGIN}" valign="middle" nowrap="nowrap"><!-- IF S_YOUR_PERSONAL_GALLERY --><a href="{U_UPLOAD_PIC}"><img src="{T_IMAGESET_LANG_PATH}/button_upload_image.gif" alt="{L_UPLOAD_IMAGE}" />{UPLOAD_IMG}</a><!-- ENDIF --></td>
		<td class="gensmall" width="100%" align="{S_CONTENT_FLOW_END}" nowrap="nowrap">{PAGE_NUMBER}<!-- IF PAGINATION --> &bull; <span>{PAGINATION}</span><!-- ENDIF --></td>
	</tr>
</table>
<br clear="all" />

<table class="tablebg" cellspacing="1" width="100%">
	<tr>
		<th colspan="{S_COLS}">{PERSONAL_GALLERY_OF_USER}</th>
	</tr>
	<!-- BEGIN no_pics -->
	<tr>
		<td class="row1" align="center" height="50"><span class="gen">{PERSONAL_ALBUM_NOT_CREATED}</span></td>
	</tr>
	<!-- END no_pics -->
	<!-- BEGIN picrow -->
	<tr>
		<!-- BEGIN piccol -->
		<td align="center" width="{S_COL_WIDTH}" class="row1"><span class="genmed"><a href="{picrow.piccol.U_PIC}" rel="lightbox" {TARGET_BLANK}><img src="{picrow.piccol.THUMBNAIL}" border="0" alt="{picrow.piccol.DESC}" title="{picrow.piccol.DESC}" vspace="10" /></a></span></td>
		<!-- END piccol -->
		<!-- BEGIN nopiccol -->
		<td align="center" width="{S_COL_WIDTH}" class="row1">&nbsp;</td>
		<!-- END nopiccol -->
	</tr>
	<tr>
		<!-- BEGIN pic_detail -->
		<td class="row2"><span class="gensmall"> {L_IMAGE_TITLE}: {picrow.pic_detail.TITLE}<br />
			{L_POSTED}: {picrow.pic_detail.TIME}<br />
			{L_VIEWS}: {picrow.pic_detail.VIEW}<br />
			{picrow.pic_detail.RATING}
			{picrow.pic_detail.COMMENTS}
			{picrow.pic_detail.IP}
			{picrow.pic_detail.EDIT}	{picrow.pic_detail.DELETE}	{picrow.pic_detail.LOCK} </span> </td>
		<!-- END pic_detail -->
		<!-- BEGIN picnodetail -->
		<td class="row2">&nbsp;</td>
		<!-- END picnodetail -->
	</tr>
	<!-- END picrow -->
	<tr>
		<td class="cat" colspan="{S_COLS}" align="center" height="28">
			<form action="{U_PERSONAL_GALLERY}" method="post">
				<span class="gensmall">{L_SELECT_SORT_METHOD}:</span>
				<select name="sort_method">
					<option {SORT_TIME} value='image_time'>{L_TIME}</option>
					<option {SORT_IMAGE_TITLE} value='image_name'>{L_IMAGE_TITLE}</option>
					<option {SORT_USERNAME} value='username'>{L_USERNAME}</option>
					<option {SORT_VIEW} value='image_view_count'>{L_VIEWS}</option>
				{SORT_RATING_OPTION}
				{SORT_COMMENTS_OPTION}
				{SORT_NEW_COMMENT_OPTION}
				</select>
				<span class="gensmall">{L_ORDER}:</span>
				<select name="sort_order">
					<option {SORT_ASC} value='ASC'>{L_ASCENDING}</option>
					<option {SORT_DESC} value='DESC'>{L_DESCENDING}</option>
				</select>
				<input type="submit" name="sort" value="{L_SORT}" class="button2" />
			</form>
		</td>
	</tr>
</table>
<br clear="all" />

<table width="100%" cellspacing="1">
	<tr>
		<td align="{S_CONTENT_FLOW_BEGIN}" valign="middle" nowrap="nowrap"><!-- IF S_YOUR_PERSONAL_GALLERY --><a href="{U_UPLOAD_PIC}"><img src="{T_IMAGESET_LANG_PATH}/button_upload_image.gif" alt="{L_UPLOAD_IMAGE}" />{UPLOAD_IMG}</a><!-- ENDIF --></td>
		<td class="gensmall" width="100%" align="{S_CONTENT_FLOW_END}" nowrap="nowrap">{PAGE_NUMBER}<!-- IF PAGINATION --> &bull; <span>{PAGINATION}</span><!-- ENDIF --></td>
	</tr>
</table>
<br clear="all" />


{ALBUM_JUMPBOX}

<!-- IF S_DISPLAY_ONLINE_LIST -->
	<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<td class="cat"><h4>{L_WHO_IS_ONLINE}</h4></td>
	</tr>
	<tr>
		<td class="row1"><p class="gensmall">{LOGGED_IN_USER_LIST}</p></td>
	</tr>
	</table>
<br clear="all" />
<!-- ENDIF -->

<!-- Please keep this little notice visible -->
<div class="copyright" align="center">Powered by <a href="http://phpbbgallery.ph.funpic.de">phpBB Gallery</a> &amp; <a href="http://www.flying-bits.org/">nickvergessen</a></div>
<br clear="all" />

<!-- INCLUDE overall_footer.html -->
