<!-- INCLUDE overall_header.html -->

<form action="{S_ALBUM_ACTION}" method="post">
	<table class="tablebg" cellspacing="1" width="100%">
		<tr>
			<th height="25" class="thHead">{L_MOVE}</th>
		</tr>
		<tr>
			<td class="row1" align="center"><br />
				<span class="gen">{L_MOVE_TO_ALBUM}</span> &nbsp; {S_ALBUM_SELECT} &nbsp;
				<input class="mainoption" type="submit" name="move" value="{L_MOVE}" />
				<br />
				&nbsp;</td>
		</tr>
		<tr>
			<td class="cat" colspan="{S_COLS}" height="1"><img src="images/spacer.gif" alt="" width="1" height="1" /></td>
		</tr>
	</table>
	<!-- BEGIN pic_id_array -->
	<input type="hidden" name="image_id[]" value="{pic_id_array.VALUE}" />
	<!-- END pic_id_array -->
{S_FORM_TOKEN}
</form>
<br clear="all" />

<!-- Please keep this little notice visible -->
<div class="copyright" align="center">Powered by <a href="http://phpbbgallery.ph.funpic.de">phpBB Gallery</a> &amp; <a href="http://www.flying-bits.org/">nickvergessen</a></div>
<br clear="all" />

<!-- INCLUDE overall_footer.html -->
