<!-- INCLUDE overall_header.html -->
<script type="text/javascript">
function getElement(iElementId)
{
	if (document.all) 
	{
		return document.all[iElementId];
	}
	if (document.getElementById)
	{
		return document.getElementById(iElementId);
	}
}

function toggleElement(oElement)
{
	if (oElement.style.display == "none")
	{
		oElement.style.display = "";
	}
	else
	{
		oElement.style.display = "none";
	}
}
</script>
<!-- IF U_MCP --><p>[&nbsp;<a href="{U_MCP}">{L_MCP}</a>&nbsp;]</p><!-- ENDIF -->
<h2><a href="{U_VIEW_ALBUM}">{ALBUM_NAME}</a></h2>

<!-- IF ALBUM_DESC or MODERATORS or U_MCP -->
<p>
	<!-- NOTE: remove the style="display: none" when you want to have the forum description on the forum body -->
	<!-- IF ALBUM_DESC --><span style="display: none">{ALBUM_DESC}<br /></span><!-- ENDIF -->
	<!-- IF ALBUM_CONTEST_START --><span>{ALBUM_CONTEST_START}<br /></span><!-- ENDIF -->
	<!-- IF ALBUM_CONTEST_END --><span>{ALBUM_CONTEST_END}<br /><br /></span><!-- ENDIF -->
	<!-- IF MODERATORS --><strong>{L_MODERATORS}:</strong> {MODERATORS}<br /><!-- ENDIF -->
	<!-- IF U_EDIT_ALBUM --><br /><strong><a href="{U_EDIT_ALBUM}">{L_EDIT_ALBUM}</a></strong><!-- ENDIF -->
	<!-- IF U_CREATE_ALBUM --><br /><strong><a href="{U_CREATE_ALBUM}">{L_CREATE_SUBALBUM}</a></strong><!-- ENDIF -->
</p>
<!-- ENDIF -->

<!-- IF .albumrow -->
	<!-- IF not S_IS_BOT and U_MARK_ALBUMS -->
	<ul class="linklist">
		<li class="rightside"><a href="{U_MARK_ALBUMS}">{L_MARK_ALBUMS_READ}</a></li>
	</ul>
	<!-- ENDIF -->
	<!-- INCLUDE gallery/albumlist_body.html -->
<!-- ENDIF -->
<!-- IF S_IS_POSTABLE and (U_UPLOAD_IMAGE or PAGINATION or TOTAL_POSTS or TOTAL_TOPICS) -->
	<div class="topic-actions" <!-- IF S_HAS_SUBALBUM -->style="margin-top: 2em;"<!-- ENDIF -->>

	<!-- IF U_UPLOAD_IMAGE -->
		<div class="buttons">
			<div class="<!-- IF S_IS_LOCKED -->locked-icon<!-- ELSE -->upload-icon<!-- ENDIF -->"><a href="{U_UPLOAD_IMAGE}" title="<!-- IF S_IS_LOCKED -->{L_ALBUM_LOCKED}<!-- ELSE -->{L_UPLOAD_IMAGE}<!-- ENDIF -->"><span></span><!-- IF S_IS_LOCKED -->{L_ALBUM_LOCKED}<!-- ELSE -->{L_UPLOAD_IMAGE}<!-- ENDIF --></a></div>
		</div>
	<!-- ENDIF -->

	<!-- IF PAGINATION or TOTAL_IMAGES -->
		<div class="pagination">
			{TOTAL_IMAGES}<!-- IF PAGINATION --> &bull; <a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a> &bull; <span>{PAGINATION}</span><!-- ENDIF -->
		</div>
	<!-- ENDIF -->

	<!-- IF S_IS_POSTABLE and U_SLIDE_SHOW and not S_IS_BOT -->
		<div class="pagination"><a href="{U_SLIDE_SHOW}">{L_SLIDE_SHOW}</a><!-- IF PAGINATION or TOTAL_IMAGES or U_SLIDE_SHOW --> &bull;&nbsp;<!-- ENDIF --></div>
	<!-- ENDIF -->

	</div>
<!-- ENDIF -->

<!-- IF .image_row -->
<div class="forumbg">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<ul class="topiclist">
			<li class="header">
				<dl class="icon">
					<dt>{L_ALBUM} - {ALBUM_NAME}</dt>
				</dl>
			</li>
		</ul>
		<ul class="topiclist topics">
			<li class="bg2">
				<table width="100%" cellpadding="2" cellspacing="10" border="0" class="forumline">
					<!-- BEGIN image_row -->
					<tr>
						<!-- BEGIN image -->
						<td class="bg2" valign="top" style="width: {S_COL_WIDTH};">
							<table width="100%" cellpadding="2" cellspacing="5" border="0" class="forumline">
								<tr>
									<td align="center" style="height: {S_THUMBNAIL_SIZE}px;" class="bg1<!-- IF image_row.image.S_UNAPPROVED --> g_unapproved<!-- ENDIF --><!-- IF image_row.image.S_LOCKED --> g_locked<!-- ENDIF --><!-- IF image_row.image.S_REPORTED --> g_reported<!-- ENDIF -->">
										<span class="genmed">{image_row.image.UC_THUMBNAIL}</span>
									</td>
								</tr>
								<tr>
									<td class="bg2" valign="top">
										<div class="gensmall" style="overflow: hidden;">
											<!-- IF image_row.image.CONTEST_RANK -->{L_CONTEST_RESULT}: <strong>{image_row.image.CONTEST_RANK}</strong><br /><!-- ENDIF -->
											<!-- IF image_row.image.UC_IMAGE_NAME -->{L_IMAGE_NAME}: {image_row.image.UC_IMAGE_NAME}<br /><!-- ENDIF -->
											<!-- IF image_row.image.POSTER -->{L_UPLOADED_BY_USER}: {image_row.image.POSTER}<br /><!-- ENDIF -->
											<!-- IF image_row.image.TIME -->{L_UPLOADED_ON_DATE}: {image_row.image.TIME}<br /><!-- ENDIF -->
											<!-- IF image_row.image.VIEW > -1 -->{L_VIEWS}: {image_row.image.VIEW}<br /><!-- ENDIF -->
											<!-- IF image_row.image.S_RATINGS -->{L_RATING}: <a href="{image_row.image.U_RATINGS}">{image_row.image.S_RATINGS}</a><br /><!-- ENDIF -->
											<!-- IF image_row.image.S_COMMENTS -->{image_row.image.L_COMMENTS}: <a href="{image_row.image.U_COMMENTS}">{image_row.image.S_COMMENTS}</a><br /><!-- ENDIF -->
											<!-- IF image_row.image.S_IP -->{L_IP}: {image_row.image.S_IP} &#187; <a href="{image_row.image.U_WHOIS}" onclick="popup(this.href, 750, 500); return false;">{L_WHOIS}</a><br /><!-- ENDIF -->
											<!-- IF image_row.image.U_REPORT or image_row.image.U_STATUS or image_row.image.U_MOVE or  image_row.image.U_EDIT or image_row.image.U_DELETE -->
											<a href="javascript: toggleElement( getElement('moderate_{image_row.image.IMAGE_ID}'));">{L_MODERATE}</a>
											<div id="moderate_{image_row.image.IMAGE_ID}" style="display: none;">
												<!-- IF image_row.image.U_REPORT -->&#187; <a href="{image_row.image.U_REPORT}" class="reported-images-number">{L_READ_REPORT}</a><br /><!-- ENDIF -->
												<!-- IF image_row.image.U_STATUS -->&#187; <a href="{image_row.image.U_STATUS}">{image_row.image.L_STATUS}</a><br /><!-- ENDIF -->
												<!-- IF image_row.image.U_MOVE -->&#187; <a href="{image_row.image.U_MOVE}">{L_MOVE}</a><br /><!-- ENDIF -->
												<!-- IF image_row.image.U_EDIT -->&#187; <a href="{image_row.image.U_EDIT}">{L_EDIT_IMAGE}</a><br /><!-- ENDIF -->
												<!-- IF image_row.image.U_DELETE -->&#187; <a href="{image_row.image.U_DELETE}">{L_DELETE_IMAGE}</a><br /><!-- ENDIF -->
											</div>
											<!-- ENDIF -->
										</div>
									</td>
								</tr>
							</table>
						</td>
						<!-- END image -->
						<!-- BEGIN no_image --> 
							<td class="bg2" valign="top" style="width: {S_COL_WIDTH};">
								<table width="100%" cellpadding="2" cellspacing="10" border="0" class="forumline"><tr>
								<td style="height: {S_THUMBNAIL_SIZE}px;" class="bg1"></td>
								</tr></table>
							</td> 
						<!-- END no_image -->
					</tr>
					<!-- END image_row -->
				</table>
			</li>
		</ul>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
<!-- ELSE -->
	<!-- IF S_IS_POSTABLE -->
	<div class="panel">
		<div class="inner"><span class="corners-top"><span></span></span>
		<strong>{L_NO_IMAGES_LONG}</strong>
		<span class="corners-bottom"><span></span></span></div>
	</div>
	<!-- ENDIF -->
<!-- ENDIF -->

<!-- IF S_IS_POSTABLE -->
	<form action="{S_ALBUM_ACTION}" method="post">
	<fieldset class="display-options">
			<!-- IF PREVIOUS_PAGE --><a href="{PREVIOUS_PAGE}" class="left-box {S_CONTENT_FLOW_BEGIN}">{L_PREVIOUS}</a><!-- ENDIF -->
			<!-- IF NEXT_PAGE --><a href="{NEXT_PAGE}" class="right-box {S_CONTENT_FLOW_END}">{L_NEXT}</a><!-- ENDIF -->
		<label>{L_SORT_BY} {S_SELECT_SORT_KEY}</label>
		<label>{S_SELECT_SORT_DIR} <input type="submit" name="sort" value="{L_GO}" class="button2" /></label>
	</fieldset>
	</form>
	<hr />
	<!-- IF .image_row -->
	<div class="topic-actions">
		<!-- IF U_UPLOAD_IMAGE -->
			<div class="buttons">
				<div class="<!-- IF S_IS_LOCKED -->locked-icon<!-- ELSE -->upload-icon<!-- ENDIF -->"><a href="{U_UPLOAD_IMAGE}" title="<!-- IF S_IS_LOCKED -->{L_ALBUM_LOCKED}<!-- ELSE -->{L_UPLOAD_IMAGE}<!-- ENDIF -->"><span></span><!-- IF S_IS_LOCKED -->{L_ALBUM_LOCKED}<!-- ELSE -->{L_UPLOAD_IMAGE}<!-- ENDIF --></a></div>
			</div>
		<!-- ENDIF -->
		<div class="pagination">
			{TOTAL_IMAGES}<!-- IF PAGINATION --> &bull; <a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a> &bull; <span>{PAGINATION}</span><!-- ENDIF -->
		</div>
	</div>
	<br />
	<!-- ENDIF -->
<!-- ENDIF -->

	<p></p><p><a href="{U_RETURN_LINK}" class="left-box {S_CONTENT_FLOW_BEGIN}" accesskey="r">{L_RETURN_TO} {S_RETURN_LINK}</a></p>
	<form method="post" id="jumpbox" action="{S_JUMPBOX_ACTION}" onsubmit="if(document.jumpbox.album_id.value == -1){return false;}">
		<fieldset class="jumpbox">
			<label for="album_id" accesskey="album_id">{L_JUMP_TO}:</label>
			<select name="album_id" id="album_id" onchange="if(this.options[this.selectedIndex].value != -1){ document.forms['jumpbox'].submit() }">
				{ALBUM_JUMPBOX}
			</select>
			<input type="submit" value="{L_GO}" class="button2" />
		</fieldset>
	</form>

<!-- IF S_DISPLAY_ONLINE_LIST -->
	<h3><a href="{U_VIEWONLINE}">{L_WHO_IS_ONLINE}</a></h3>
	<p><!-- IF CHEAT_LOGGED_IN_USER_LIST -->{CHEAT_LOGGED_IN_USER_LIST}<!-- ELSE -->{LOGGED_IN_USER_LIST}<!-- ENDIF --></p>
<!-- ENDIF -->
<!-- IF S_IS_POSTABLE -->
	<h3>{L_ALBUM_PERMISSIONS}</h3>
	<p><!-- BEGIN rules -->{rules.RULE}<br /><!-- END rules --></p>
<!-- ENDIF -->

<!--
	I request you retain the full copyright notice below including the link to www.flying-bits.org.
	This not only gives respect to the large amount of time given freely by the developer
	but also helps build interest, traffic and use of phpBB Gallery. If you (honestly) cannot retain
	the full copyright we ask you at least leave in place the "Powered by phpBB Gallery" line, with
	"phpBB Gallery" linked to www.flying-bits.org. If you refuse to include even this then support on my
	forums may be affected.

	phpBB Gallery, nickvergessen : 2009
//-->
<div class="copyright">Powered by <a href="http://www.flying-bits.org/">phpBB Gallery</a> &copy; 2007, 2009 <a href="http://www.flying-bits.org/">nickvergessen</a></div>
<!-- INCLUDE overall_footer.html -->