<!-- INCLUDE ucp_header.html -->

<h2>{L_TITLE}</h2>

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
	<p>{L_TITLE_EXPLAIN}</p>
	<form id="ucp_gallery" method="post" action="{S_UCP_ACTION}">
			<!-- IF .image_row -->
				<ul class="topiclist">
					<li class="header">
						<dl>
							<dt>{L_IMAGES}</dt>
							<dd class="mark">{L_MARK}</dd>
						</dl>
					</li>
				</ul>

				<ul class="topiclist cplist">
				<!-- BEGIN image_row -->
					<li class="row<!-- IF image_row.S_ROW_COUNT is odd --> bg1<!-- ELSE --> bg2<!-- ENDIF --><!-- IF image_row.S_REPORTED --> reported<!-- ENDIF -->">
						<dl>
							<dt>
								<!-- IF image_row.UC_FAKE_THUMBNAIL --><span style="float: left; text-align: center; width: {FAKE_THUMB_SIZE}px; padding-right: 5px;">{image_row.UC_FAKE_THUMBNAIL}</span><!-- ENDIF -->
								<dfn>{L_LAST_IMAGE}</dfn> {image_row.UC_IMAGE_NAME}<br />
								{L_UPLOADED_BY_USER} {image_row.UPLOADER}<br />
								{image_row.IMAGE_TIME}<br />
								{L_ALBUM}: <a href="{image_row.U_VIEW_ALBUM}" style="font-weight: bold;">{image_row.ALBUM_NAME}</a>
							</dt>
							<dd class="mark"><input type="checkbox" name="image_id_ary[]" value="{image_row.IMAGE_ID}" /></dd>
						</dl>
					</li>
				<!-- END image_row -->
				</ul>
				<div><a href="#" onclick="marklist('ucp_gallery', 'image_id_ary', true); return false;">{L_MARK_ALL}</a> :: <a href="#" onclick="marklist('ucp_gallery', 'image_id_ary', false); return false;">{L_UNMARK_ALL}</a></div>
			<!-- ELSE -->
				<ul class="topiclist">
					<li><p class="notopics">{L_NO_FAVORITES}</p></li>
				</ul>
			<!-- ENDIF -->

			<!-- IF .pagination or TOTAL_IMAGES -->
				<ul class="linklist">
					<li class="rightside pagination">
						<!-- IF TOTAL_IMAGES -->{TOTAL_IMAGES} &bull; <!-- ENDIF -->
						<!-- IF .pagination -->
							<!-- INCLUDE pagination.html -->
						<!-- ELSE -->
							{PAGE_NUMBER}
						<!-- ENDIF -->
					</li>
				</ul>
			<!-- ENDIF -->

		<fieldset class="display-actions">
			<select name="action">
				<option value="" selected="selected">{L_CHOOSE_ACTION}</option>
				<option value="remove_favorite">{L_REMOVE_FROM_FAVORITES}</option>
			</select>
			<input class="button2" type="submit" value="{L_SUBMIT}" />
		</fieldset>
	</form>
	<span class="corners-bottom"><span></span></span></div>
</div>

<!--
	I request you retain the full copyright notice below including the link to www.flying-bits.org.
	This not only gives respect to the large amount of time given freely by the developer
	but also helps build interest, traffic and use of phpBB Gallery. If you (honestly) cannot retain
	the full copyright I ask you at least leave in place the "Powered by phpBB Gallery" line, with
	"phpBB Gallery" linked to www.flying-bits.org. If you refuse to include even this then support on my
	forums may be affected.

	phpBB Gallery, nickvergessen : 2009
//-->

<div class="copyright">
	Powered by <a href="http://www.flying-bits.org/">phpBB Gallery</a> &copy; 2007, 2009 <a href="http://www.flying-bits.org/">nickvergessen</a>
	<!-- IF GALLERY_TRANSLATION_INFO --><br />{GALLERY_TRANSLATION_INFO}<!-- ENDIF -->
</div>

<!-- INCLUDE ucp_footer.html -->