<!-- INCLUDE gallery/gallery_header.html -->
<script type="text/javascript">
function getElement(iElementId)
{
	if (document.all) 
	{
		return document.all[iElementId];
	}
	if (document.getElementById)
	{
		return document.getElementById(iElementId);
	}
}

function toggleElement(oElement)
{
	if (oElement.style.display == "none")
	{
		oElement.style.display = "";
	}
	else
	{
		oElement.style.display = "none";
	}
}
</script>

<!-- IF S_HAS_SUBALBUM -->
	<!-- INCLUDE gallery/albumlist_body.html -->
	<br clear="all" />
<!-- ENDIF -->

<!-- IF S_IS_POSTABLE or S_NO_READ_ACCESS -->
	<div id="pageheader">
		<h2><a class="titles" href="{U_VIEW_ALBUM}">{ALBUM_NAME}</a></h2>

		<!-- IF ALBUM_CONTEST_START -->{ALBUM_CONTEST_START}<br /><!-- ENDIF -->
		<!-- IF ALBUM_CONTEST_RATING -->{ALBUM_CONTEST_RATING}<br /><!-- ENDIF -->
		<!-- IF ALBUM_CONTEST_END -->{ALBUM_CONTEST_END}<br /><br /><!-- ENDIF -->
		<!-- IF MODERATORS --><p class="moderators"><!-- IF S_SINGLE_MODERATOR -->{L_MODERATOR}<!-- ELSE -->{L_MODERATORS}<!-- ENDIF -->: {MODERATORS}</p><!-- ENDIF -->
		<!-- IF not S_IN_GALLERY_POPUP and U_MCP -->
			<p class="linkmcp">[ <a href="{U_MCP}">{L_MCP}</a> ]</p>
		<!-- ENDIF -->
		<!-- IF not S_IN_GALLERY_POPUP and U_EDIT_ALBUM --><p class="linkmcp">[ <a href="{U_EDIT_ALBUM}">{L_EDIT_ALBUM}</a> ]<!-- IF U_MCP -->&nbsp;<!-- ENDIF --></p><!-- ENDIF -->
		<!-- IF not S_IN_GALLERY_POPUP and U_CREATE_ALBUM --><p class="linkmcp">[ <a href="{U_CREATE_ALBUM}">{L_CREATE_SUBALBUM}</a> ]&nbsp;</p><!-- ENDIF -->
	</div>

	<br clear="all" /><br />
<!-- ENDIF -->

<div id="pagecontent">

<!-- IF S_IS_POSTABLE -->
	<!-- IF U_UPLOAD_IMAGE or TOTAL_IMAGES -->
		<table width="100%" cellspacing="1">
		<tr>
			<!-- IF not S_IN_GALLERY_POPUP and U_UPLOAD_IMAGE -->
				<td align="{S_CONTENT_FLOW_BEGIN}" valign="middle"><a href="{U_UPLOAD_IMAGE}">{UPLOAD_IMG}</a></td>
			<!-- ENDIF -->
			<!-- IF TOTAL_IMAGES -->
				<td class="nav" valign="middle" nowrap="nowrap">&nbsp;{PAGE_NUMBER}<br /></td>
				<td class="gensmall" nowrap="nowrap">&nbsp;[ {TOTAL_IMAGES} ]&nbsp;</td>
				<td class="gensmall" width="100%" align="{S_CONTENT_FLOW_END}" nowrap="nowrap"><!-- INCLUDE pagination.html --></td>
			<!-- ENDIF -->
		</tr>
		</table>
	<!-- ENDIF -->

<!-- IF .imageblock -->
	<!-- IF S_IN_GALLERY_POPUP -->
		<!-- INCLUDE gallery/imageblock_popup.html -->
	<!-- ELSE -->
		<!-- INCLUDE gallery/imageblock_body.html -->
	<!-- ENDIF -->
<!-- ELSE -->
	<!-- IF S_IS_POSTABLE -->
	<table class="tablebg" cellspacing="1" width="100%">
		<tr>
			<th align="center" colspan="{S_COLS}" nowrap="nowrap">{ALBUM_NAME}</th>
		</tr>
		<tr>
			<td class="row1" align="center" height="30"><span class="gen">{L_NO_IMAGES_LONG}</span></td>
		</tr>
	</table>
	<br clear="all" />
	<!-- ENDIF -->
<!-- ENDIF -->

	<!-- IF U_UPLOAD_IMAGE or TOTAL_IMAGES -->
		<table width="100%" cellspacing="1">
		<tr>
			<!-- IF not S_IN_GALLERY_POPUP and U_UPLOAD_IMAGE -->
				<td align="{S_CONTENT_FLOW_BEGIN}" valign="middle"><a href="{U_UPLOAD_IMAGE}">{UPLOAD_IMG}</a></td>
			<!-- ENDIF -->
			<!-- IF TOTAL_IMAGES -->
				<td class="nav" valign="middle" nowrap="nowrap">&nbsp;{PAGE_NUMBER}<br /></td>
				<td class="gensmall" nowrap="nowrap">&nbsp;[ {TOTAL_IMAGES} ]&nbsp;</td>
				<td class="gensmall" width="100%" align="{S_CONTENT_FLOW_END}" nowrap="nowrap"><!-- INCLUDE pagination.html --></td>
			<!-- ENDIF -->
		</tr>
		</table>
	<!-- ENDIF -->
<!-- ENDIF -->

		<br clear="all" />
</div>

<!-- INCLUDE breadcrumbs.html -->

<!-- IF not S_IN_GALLERY_POPUP and S_DISPLAY_ONLINE_LIST -->
	<br clear="all" />

	<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<td class="cat"><h4>{L_WHO_IS_ONLINE}</h4></td>
	</tr>
	<tr>
		<td class="row1"><p class="gensmall"><!-- IF CHEAT_LOGGED_IN_USER_LIST -->{CHEAT_LOGGED_IN_USER_LIST}<!-- ELSE -->{LOGGED_IN_USER_LIST}<!-- ENDIF --></p></td>
	</tr>
	</table>
<!-- ENDIF -->
<!-- IF not S_IN_GALLERY_POPUP and S_IS_POSTABLE -->

	<br clear="all" />

	<table width="100%" cellspacing="0">
	<tr>
		<td align="{S_CONTENT_FLOW_END}"><span class="gensmall"><!-- BEGIN rules -->{rules.RULE}<br /><!-- END rules --></span></td>
	</tr>
	</table>
<!-- ENDIF -->
<!-- IF not S_IN_GALLERY_POPUP -->
<br clear="all" />

<table width="100%" cellspacing="0">
<tr>
	<td><!-- IF S_DISPLAY_SEARCHBOX --><!-- INCLUDE searchbox.html --><!-- ENDIF --></td>
	<td align="{S_CONTENT_FLOW_END}">
	<form method="post" id="jumpbox" action="{S_JUMPBOX_ACTION}" onsubmit="if(document.jumpbox.album_id.value == -1){return false;}">

	<table cellspacing="0" cellpadding="0" border="0">
	<tr>
		<td nowrap="nowrap"><span class="gensmall">{L_JUMP_TO}:</span>&nbsp;<select name="album_id" id="album_id" onchange="if(this.options[this.selectedIndex].value != -1){ document.forms['jumpbox'].submit() }">
				{ALBUM_JUMPBOX}
			</select>&nbsp;<input class="btnlite" type="submit" value="{L_GO}" /></td>
	</tr>
	</table>

	</form>
	</td>
</tr>
</table>
<!-- ENDIF -->

<!-- INCLUDE gallery/gallery_footer.html -->