<!-- INCLUDE overall_header.html -->

<!-- IF S_DISPLAY_SEARCH -->
	<p class="searchbar">
		<span style="float: {S_CONTENT_FLOW_BEGIN};"><a href="{U_G_SEARCH_RECENT}">{L_VIEW_SEARCH_RECENT}</a> | <a href="{U_G_SEARCH_RANDOM}">{L_VIEW_SEARCH_RANDOM}</a><!-- IF U_G_SEARCH_COMMENTED --> | <a href="{U_G_SEARCH_COMMENTED}">{L_VIEW_SEARCH_COMMENTED}</a><!-- ENDIF --><!-- IF U_G_SEARCH_TOPRATED --> | <a href="{U_G_SEARCH_TOPRATED}">{L_VIEW_SEARCH_TOPRATED}</a><!-- ENDIF --><!-- IF U_G_SEARCH_CONTESTS --> | <a href="{U_G_SEARCH_CONTESTS}">{L_VIEW_SEARCH_CONTESTS}</a><!-- ENDIF --></span>
		<span style="float: {S_CONTENT_FLOW_END};"><a href="{U_GALLERY_SEARCH}">{L_SEARCH}</a><!-- IF S_USER_LOGGED_IN --> | <a href="{U_G_SEARCH_SELF}">{L_VIEW_SEARCH_SELF}</a><!-- ENDIF --></span>
	</p>
	<br />
<!-- ENDIF -->

<!-- IF U_MCP --><div style="float: right;">[<a href="{U_MCP}">{L_MCP}</a>&nbsp;]</div><br clear="all" /><!-- ENDIF -->

<!-- IF S_PERSONAL_GALLERY and U_USERS_PERSONAL_GALLERIES -->
<form method="post" name="charsearch" action="{U_USERS_PERSONAL_GALLERIES}">
	<table width="100%" cellspacing="1">
		<tr>
			<td align="{S_CONTENT_FLOW_BEGIN}"><span class="genmed">{L_USERNAME_BEGINS_WITH}: </span>
				<select name="first_char" onchange="this.form.submit();">
				{S_CHAR_OPTIONS}
				</select>&nbsp;<input type="submit" name="char" value="{L_DISPLAY}" class="btnlite" /></td>
		</tr>
	</table>
	{S_FORM_TOKEN}
</form>
<!-- ENDIF -->

<!-- INCLUDE gallery/albumlist_body.html -->
<br />

<!-- IF S_USERS_PERSONAL_GALLERIES -->
<table class="tablebg" cellspacing="1" style="width: 100%">
	<tr>
		<td class="row1"><p class="breadcrumbs"><!-- IF S_PERSONAL_GALLERY --><a href="{U_GALLERY_MOD}" class="cattitle">{L_GALLERY}</a>&nbsp;&lsaquo;&nbsp;{L_USERS_PERSONAL_ALBUMS}<!-- ELSE -->{L_GALLERY}&nbsp;&lsaquo;&nbsp;<a href="{U_USERS_PERSONAL_GALLERIES}" class="cattitle">{L_USERS_PERSONAL_ALBUMS}</a><!-- ENDIF --><!-- IF U_YOUR_PERSONAL_GALLERY -->&nbsp;&raquo;&nbsp;<a href="{U_YOUR_PERSONAL_GALLERY}" class="cattitle">{L_YOUR_PERSONAL_ALBUM}</a><!-- ENDIF --></p></td>
	</tr>
</table>
<br />
<!-- ENDIF -->

<!-- INCLUDE gallery/recent_body.html -->
<br />

<!-- INCLUDE breadcrumbs.html -->

<!-- IF S_DISPLAY_ONLINE_LIST and S_DISP_WHOISONLINE -->
	<br clear="all" />

	<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<td class="cat" colspan="2"><!-- IF U_VIEWONLINE --><h4><a href="{U_VIEWONLINE}">{L_WHO_IS_ONLINE}</a></h4><!-- ELSE --><h4>{L_WHO_IS_ONLINE}</h4><!-- ENDIF --></td>
	</tr>
	<tr>
	<!-- IF LEGEND -->
		<td class="row1" rowspan="2" align="center" valign="middle"><img src="{T_THEME_PATH}/images/whosonline.gif" alt="{L_WHO_IS_ONLINE}" /></td>
	<!-- ELSE -->
		<td class="row1" align="center" valign="middle"><img src="{T_THEME_PATH}/images/whosonline.gif" alt="{L_WHO_IS_ONLINE}" /></td>
	<!-- ENDIF -->
		<td class="row1" width="100%"><span class="genmed">{TOTAL_USERS_ONLINE} ({L_ONLINE_EXPLAIN})<br />{RECORD_USERS}<br /><br />{LOGGED_IN_USER_LIST}</span></td>
	</tr>
	<!-- IF LEGEND -->
		<tr>
			<td class="row1"><b class="gensmall">{L_LEGEND} :: {LEGEND}</b></td>
		</tr>
	<!-- ENDIF -->
	</table>
<!-- ENDIF -->

<!-- IF S_DISPLAY_BIRTHDAY_LIST and BIRTHDAY_LIST -->
	<br clear="all" />

	<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<td class="cat" colspan="2"><h4>{L_BIRTHDAYS}</h4></td>
	</tr>
	<tr>
		<td class="row1" align="center" valign="middle"><img src="{T_THEME_PATH}/images/whosonline.gif" alt="{L_BIRTHDAYS}" /></td>
		<td class="row1" width="100%"><p class="genmed">{L_CONGRATULATIONS}: <b>{BIRTHDAY_LIST}</b></p></td>
	</tr>
	</table>
<!-- ENDIF -->

<!-- IF TOTAL_IMAGES -->
	<br clear="all" />

	<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<td class="cat" colspan="2"><h4>{L_STATISTICS}</h4></td>
	</tr>
	<tr>
		<td class="row1"><img src="{T_THEME_PATH}/images/whosonline.gif" alt="{L_STATISTICS}" /></td>
		<td class="row1" width="100%" valign="middle"><p class="genmed">{TOTAL_IMAGES} | {TOTAL_COMMENTS}<!-- IF TOTAL_PGALLERIES --> | {TOTAL_PGALLERIES}<!-- IF NEWEST_PGALLERIES --> | {NEWEST_PGALLERIES}<!-- ENDIF --><!-- ENDIF --></p></td>
	</tr>
	</table>
<!-- ENDIF -->

<!-- IF not S_USER_LOGGED_IN and not S_IS_BOT and S_DISP_LOGIN -->
	<br clear="all" />

	<form method="post" action="{S_LOGIN_ACTION}">
	
	<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<td class="cat"><h4><a href="{U_LOGIN_LOGOUT}">{L_LOGIN_LOGOUT}</a></h4></td>
	</tr>
	<tr>
		<td class="row1" align="center"><span class="genmed">{L_USERNAME}:</span> <input class="post" type="text" name="username" size="10" />&nbsp; <span class="genmed">{L_PASSWORD}:</span> <input class="post" type="password" name="password" size="10" />&nbsp; <!-- IF S_AUTOLOGIN_ENABLED --> <span class="gensmall">{L_LOG_ME_IN}</span> <input type="checkbox" class="radio" name="autologin" /><!-- ENDIF -->&nbsp; <input type="submit" class="btnmain" name="login" value="{L_LOGIN}" /></td>
	</tr>
	</table>
	{S_FORM_TOKEN}
	</form>
<!-- ENDIF -->

<br clear="all" />

<!--
	I request you retain the full copyright notice below including the link to www.flying-bits.org.
	This not only gives respect to the large amount of time given freely by the developer
	but also helps build interest, traffic and use of phpBB Gallery. If you (honestly) cannot retain
	the full copyright I ask you at least leave in place the "Powered by phpBB Gallery" line, with
	"phpBB Gallery" linked to www.flying-bits.org. If you refuse to include even this then support on my
	forums may be affected.

	phpBB Gallery, nickvergessen : 2009
//-->
<div style="text-align: center; clear: both;"><span class="copyright">Powered by <a href="http://www.flying-bits.org/">phpBB Gallery</a> &copy; 2007, 2009 <a href="http://www.flying-bits.org/">nickvergessen</a></span></div>
<br clear="all" />
<!-- INCLUDE overall_footer.html -->