<!-- INCLUDE gallery/gallery_header.html -->

<!-- IF S_ALBUM_SELECT -->
<br />
<form method="post" id="mcp" action="{S_ALBUM_ACTION}">
	<div id="pagecontent">
		<table class="tablebg" width="100%" cellspacing="1">
		<tr>
			<th>{L_UPLOAD_IMAGE}</th>
		</tr>
		<tr>
			<td class="row1" align="center"><br /><p class="gen">{L_SELECT_ALBUM}: <select name="album_id">{S_ALBUM_SELECT}</select></p><br />
			{S_FORM_TOKEN}{S_HIDDEN_FIELDS}
			<input class="btnmain" type="submit" name="move" value="{L_SUBMIT}" /></td>
		</tr>
		</table>
	</div>
</form>
<!-- ELSEIF S_UPLOAD -->

<h2><a href="{U_VIEW_ALBUM}">{ALBUM_NAME}</a></h2>

<form name="postform" action="{S_ALBUM_ACTION}" method="post" enctype="multipart/form-data">
	<table width="100%" cellpadding="3" cellspacing="1" border="0" class="tablebg">
		<tr>
			<th colspan="2">{L_UPLOAD_IMAGE}</th>
		</tr>

		<!-- IF ERROR -->
			<tr>
				<td class="row2" colspan="2" align="center"><span class="genmed error">{ERROR}</span></td>
			</tr>
		<!-- ENDIF -->
		<!-- IF CAPTCHA_TEMPLATE -->
			<!-- INCLUDE {CAPTCHA_TEMPLATE} -->
		<!-- ENDIF -->
		<!-- IF not S_USER_LOGGED_IN -->
			<tr>
				<td class="row1" width="22%" height="28"><b class="genmed">{L_USERNAME}:</b></td>
				<td class="row2"><input class="inputbox autowidth" type="text" tabindex="1" name="username" value="{USERNAME}" size="60" maxlength="32" /></td>
			</tr>
		<!-- ENDIF -->
		<!-- IF S_COMMENTS_ENABLED -->
			<tr>
				<td class="row1" height="28"><b class="genmed">{L_COMMENTS}:</b></td>
				<td class="row2"><input type="checkbox" style="inputbox checkbox" name="allow_comments" id="allow_comments"<!-- IF S_ALLOW_COMMENTS --> checked="checked"<!-- ENDIF --> value="1" /> <span class="gen">{L_ALLOW_COMMENTS}</span></td>
			</tr>
		<!-- ENDIF -->
		<!-- IF CAPTCHA_TEMPLATE or not S_USER_LOGGED_IN or S_COMMENTS_ENABLED -->
			<tr>
				<td class="spacer" colspan="2" height="1"><img src="{ROOT_PATH}images/spacer.gif" alt="" width="1" height="1" /></td>
			</tr>
		<!-- ENDIF -->

		<tr>
			<td class="row1" width="22%" height="28"><b class="genmed">{L_MAX_DIMENSIONS}:</b></td>
			<td class="row2"><span class="gen">
				{L_FILE_SIZE}: {S_MAX_FILESIZE}<br />
				{L_IMAGE_WIDTH}: {S_MAX_WIDTH}<br />
				{L_IMAGE_HEIGHT}: {S_MAX_HEIGHT}
			</span></td>
		</tr>
		<tr>
			<td class="row1" width="22%" height="28"><b class="genmed">{L_ALLOWED_FILETYPES}:</b></td>
			<td class="row2"><span class="gen">{S_ALLOWED_FILETYPES}</span></td>
		</tr>
		<tr>
			<td class="spacer" colspan="2" height="1"><img src="{ROOT_PATH}images/spacer.gif" alt="" width="1" height="1" /></td>
		</tr>

		<!-- BEGIN upload_image -->
			<tr>
				<td class="row1" height="28"><span class="gen">{L_FILE}:</span></td>
				<td class="row2"><input class="inputbox autowidth" type="file" tabindex="1{upload_image.S_ROW_COUNT}" name="image_file_{upload_image.S_ROW_COUNT}" size="60" /></td>
			</tr>
			<!-- IF S_ALLOW_ROTATE -->
				<tr>
					<td class="row1" height="28"><span class="gen">{L_ROTATE_IMAGE}:</span></td>
					<td class="row2">
						<input type="radio" name="rotate[{upload_image.S_ROW_COUNT}]" id="rotate[{upload_image.S_ROW_COUNT}]_0" value="0" checked="checked" /> <span class="gen">{L_ROTATE_NONE}</span> &nbsp;
						<input type="radio" name="rotate[{upload_image.S_ROW_COUNT}]" id="rotate[{upload_image.S_ROW_COUNT}]_270" value="270" /> <span class="gen">{L_ROTATE_RIGHT}</span> &nbsp;
						<input type="radio" name="rotate[{upload_image.S_ROW_COUNT}]" id="rotate[{upload_image.S_ROW_COUNT}]_180" value="180" /> <span class="gen">{L_ROTATE_UPSIDEDOWN}</span> &nbsp;
						<input type="radio" name="rotate[{upload_image.S_ROW_COUNT}]" id="rotate[{upload_image.S_ROW_COUNT}]_90" value="90" /> <span class="gen">{L_ROTATE_LEFT}</span>
					</td>
				</tr>
			<!-- ENDIF -->
		<!-- END upload_image -->
		<tr>
			<td class="spacer" colspan="2" height="1"><img src="{ROOT_PATH}images/spacer.gif" alt="" width="1" height="1" /></td>
		</tr>
		<tr>
			<td class="cat" align="center" height="28" colspan="2"><input type="reset" accesskey="r"  tabindex="200" value="{L_RESET}" class="btnlite" />
				&nbsp;<input type="submit" accesskey="s" tabindex="201" name="submit" value="{L_SUBMIT}" class="btnmain" /></td>
		</tr>
	</table>
	{S_HIDDEN_FIELDS}{S_CAPTCHA_HIDDEN_FIELDS}
	{S_FORM_TOKEN}
</form>
<br clear="all" />

<!-- ELSE -->

<!-- INCLUDE gallery/posting_javascript.html -->

<h2><!-- IF U_VIEW_IMAGE --><a href="{U_VIEW_IMAGE}">{IMAGE_NAME}</a><!-- ELSE --><a href="{U_VIEW_ALBUM}">{ALBUM_NAME}</a><!-- ENDIF --></h2>

<form name="postform" action="{S_ALBUM_ACTION}" method="post" enctype="multipart/form-data">
	<table width="100%" cellpadding="3" cellspacing="1" border="0" class="tablebg">
		<tr>
			<th colspan="4"><!-- IF S_UPLOAD_EDIT -->{L_UPLOAD_IMAGE}<!-- ELSEIF S_EDIT -->{L_EDIT_IMAGE}<!-- ELSEIF S_REPORT -->{L_REPORT_IMAGE}<!-- ENDIF --></th>
		</tr>

		<!-- IF ERROR -->
			<tr>
				<td class="row2" colspan="4" align="center"><span class="genmed error">{ERROR}</span></td>
			</tr>
		<!-- ENDIF -->
		<!-- IF not S_USER_LOGGED_IN -->
			<tr>
				<td class="row1" width="22%" height="28"><b class="genmed">{L_USERNAME}:</b></td>
				<td class="row2" colspan="3"><input class="inputbox autowidth" type="text" tabindex="1" name="username" value="{USERNAME}" size="60" maxlength="32" /></td>
			</tr>
		<!-- ENDIF -->
		<!-- IF BBCODE_STATUS -->
			<tr>
				<td class="row1" width="22%" height="28"><b class="genmed">{L_BBCODES}:</b></td>
				<td class="row2" colspan="3">
				<script type="text/javascript">
				// <![CDATA[
					var form_name = 'postform';
					var text_name = 'message_0';
				// ]]>
				</script>
				<!-- DEFINE $S_SIGNATURE = 1 -->
				<table width="100%" cellspacing="0" cellpadding="0" border="0">
				<!-- INCLUDE posting_buttons.html -->
				</table>
				</td>
			</tr>
		<!-- ENDIF -->
		<!-- IF S_SMILIES_ALLOWED -->
			<tr>
				<td class="row1" width="22%" height="28"><b class="genmed">{L_SMILIES}:</b></td>
				<td class="row2" colspan="3"><span class="genmed">
					<!-- BEGIN smiley -->
						<a href="#" onclick="insert_text('{smiley.A_SMILEY_CODE}', true); return false;" style="line-height: 20px;"><img src="{smiley.SMILEY_IMG}" width="{smiley.SMILEY_WIDTH}" height="{smiley.SMILEY_HEIGHT}" alt="{smiley.SMILEY_CODE}" title="{smiley.SMILEY_DESC}" hspace="2" vspace="2" /></a>
					<!-- END smiley -->
					<!-- IF S_SHOW_SMILEY_LINK -->
						<br /><a class="nav" href="{U_MORE_SMILIES}" onclick="popup(this.href, 300, 350, '_phpbbsmilies'); return false;">{L_MORE_SMILIES}</a>
					<!-- ENDIF -->
				</span></td>
			</tr>
		<!-- ENDIF -->
		<!-- IF not S_REPORT -->
		<tr>
			<td class="spacer" colspan="4" height="1"><img src="{ROOT_PATH}images/spacer.gif" alt="" width="1" height="1" /></td>
		</tr>
		<!-- ENDIF -->
		<!-- BEGIN image -->
		<tr>
			<td width="22%" class="row1" valign="top" rowspan="<!-- IF S_ALLOW_ROTATE -->3<!-- ELSE -->2<!-- ENDIF -->">{image.U_IMAGE}</td>
			<td class="row2" valign="top" width="22%"><b class="genmed">{L_IMAGE_NAME}:</b></td>
			<td class="row1" valign="top"><span class="genmed">
				<!-- IF image.S_FIRST_ROW and (NUM_IMAGES > 1) -->
					<input type="checkbox" name="same_name" id="same_name" value="1" onchange="change_read_write();" /> {L_USE_SAME_NAME}<br />
					{L_USE_NUM} <input class="inputbox autowidth" type="text" id="image_num" name="image_num" size="5" onchange="update_all('image_name'); update_all('message');" onkeyup="update_all('image_name'); update_all('message');" value="1" /><br />
				<!-- ENDIF -->
				<input class="inputbox autowidth" type="text" tabindex="1{image.S_ROW_COUNT}" id="image_name_{image.S_ROW_COUNT}" name="image_name[{image.S_ROW_COUNT}]" value="{image.IMAGE_NAME}"<!-- IF image.S_FIRST_ROW --> onchange="update_all('image_name');" onselect="update_all('image_name');" onclick="update_all('image_name');" onkeyup="update_all('image_name');"<!-- ENDIF --> size="60" maxlength="32" />
			</span></td>
			<!-- IF image.S_FIRST_ROW -->
			<td class="row1" valign="top" rowspan="{COLOUR_ROWSPAN}">
				<!-- IF S_BBCODE_ALLOWED -->
					<script type="text/javascript">
					// <![CDATA[
						colorPalette('v', 7, 6)
					// ]]>
					</script>
				<!-- ENDIF -->
			</td>
			<!-- ENDIF -->
		</tr>
		<tr>
			<td class="row2" valign="top" width="22%"><b class="genmed">{L_IMAGE_DESC}:</b></td>
			<td class="row1" valign="top"><span class="genmed">
				{L_DESCRIPTION_LENGTH}<br />
				<textarea name="message[{image.S_ROW_COUNT}]" id="message_{image.S_ROW_COUNT}" rows="4" cols="76" tabindex="3" onchange="set_text_field({image.S_ROW_COUNT});<!-- IF image.S_FIRST_ROW --> update_all('message');<!-- ENDIF -->" onselect="set_text_field({image.S_ROW_COUNT});<!-- IF image.S_FIRST_ROW --> update_all('message');<!-- ENDIF --> storeCaret(this);" onclick="set_text_field({image.S_ROW_COUNT});<!-- IF image.S_FIRST_ROW --> update_all('message');<!-- ENDIF --> storeCaret(this);" onkeyup="set_text_field({image.S_ROW_COUNT});<!-- IF image.S_FIRST_ROW --> update_all('message');<!-- ENDIF --> storeCaret(this);" class="inputbox">{image.IMAGE_DESC}</textarea>
			</span></td>
		</tr>
		<!-- IF S_ALLOW_ROTATE -->
		<tr>
			<td class="row2" valign="top" width="22%"><b class="genmed">{L_ROTATE_IMAGE}:</b></td>
			<td class="row1" valign="top"><span class="genmed"><input type="radio" name="rotate[{image.S_ROW_COUNT}]" id="rotate_{image.S_ROW_COUNT}_0" value="0" checked="checked" /> <label for="rotate_{image.S_ROW_COUNT}_0">{L_ROTATE_NONE}</label> &nbsp;
				<input type="radio" name="rotate[{image.S_ROW_COUNT}]" id="rotate_{image.S_ROW_COUNT}_270" value="270" /> <label for="rotate_{image.S_ROW_COUNT}_270">{L_ROTATE_RIGHT}</label> &nbsp;
				<input type="radio" name="rotate[{image.S_ROW_COUNT}]" id="rotate_{image.S_ROW_COUNT}_180" value="180" /> <label for="rotate_{image.S_ROW_COUNT}_180">{L_ROTATE_UPSIDEDOWN}</label> &nbsp;
				<input type="radio" name="rotate[{image.S_ROW_COUNT}]" id="rotate_{image.S_ROW_COUNT}_90" value="90" /> <label for="rotate_{image.S_ROW_COUNT}_90">{L_ROTATE_LEFT}</label></span></td>
		</tr>
		<!-- ENDIF -->
		<!-- END image -->
		<!-- IF S_REPORT -->
		<tr>
			<td class="row2" valign="top" width="22%"><b class="genmed">{L_REPORT_IMAGE}:</b></td>
			<td class="row1" valign="top"><span class="genmed"><textarea name="message" id="message" rows="4" cols="76" tabindex="3" class="inputbox"></textarea></span></td>
		</tr>
		<!-- ENDIF -->
		<tr>
			<td class="spacer" colspan="4" height="1"><img src="{ROOT_PATH}images/spacer.gif" alt="" width="1" height="1" /></td>
		</tr>
		<!-- IF S_MOVE_PERSONAL or S_COMMENTS_ENABLED or S_CHANGE_AUTHOR -->
		<!-- IF S_MOVE_PERSONAL -->
			<tr>
				<td class="row1" height="28"><b class="genmed">{L_MOVE_TO_PERSONAL}:</b><br />
					<span class="gen"><!-- IF S_MOVE_MODERATOR -->{L_MOVE_TO_PERSONAL_MOD}<!-- ELSE -->{L_MOVE_TO_PERSONAL_EXPLAIN}<!-- ENDIF --></span></td>
				<td class="row2" colspan="3"><input type="radio" name="move_to_personal" id="move_to_personal" value="1" /> <span class="gen">{L_YES}</span> <input type="radio" name="move_to_personal" id="move_to_personal" value="0" checked="checked" /> <span class="gen">{L_NO}</span></td>
			</tr>
		<!-- ENDIF -->
		<!-- IF S_COMMENTS_ENABLED -->
			<tr>
				<td class="row1" height="28"><b class="genmed">{L_COMMENTS}:</b></td>
				<td class="row2" colspan="3"><input type="checkbox" style="inputbox checkbox" name="allow_comments" id="allow_comments"<!-- IF S_ALLOW_COMMENTS --> checked="checked"<!-- ENDIF --> value="1" /> <span class="gen">{L_ALLOW_COMMENTS}</span></td>
			</tr>
		<!-- ENDIF -->
		<!-- IF S_CHANGE_AUTHOR and U_FIND_USERNAME -->
			<tr>
				<td class="row1" height="28"><b class="genmed">{L_CHANGE_AUTHOR}:</b></td>
				<td class="row2" colspan="3"><input type="text" class="inputbox autowidth" name="change_author" id="change_author" value="" size="32" /> <span class="gen">[ <a href="{U_FIND_USERNAME}" onclick="find_username(this.href); return false;">{L_FIND_USERNAME}</a> ]</span></td>
			</tr>
		<!-- ENDIF -->
		<tr>
			<td class="spacer" colspan="4" height="1"><img src="{ROOT_PATH}images/spacer.gif" alt="" width="1" height="1" /></td>
		</tr>
		<!-- ENDIF -->
		<tr>
			<td class="cat" align="center" height="28" colspan="4"><input type="reset" accesskey="r"  tabindex="200" value="{L_RESET}" class="btnlite" />
				&nbsp;<input type="submit" accesskey="s" tabindex="201" name="submit" value="{L_SUBMIT}" class="btnmain" /></td>
		</tr>
	</table>
	{S_HIDDEN_FIELDS}
	{S_FORM_TOKEN}
</form>
<br clear="all" />
<!-- ENDIF -->

<!-- INCLUDE gallery/gallery_footer.html -->