<!-- INCLUDE ucp_header.html -->
</form>
<!-- IF S_PERSONAL_SETTINGS -->
	<table class="tablebg" width="100%" cellspacing="1">
		<tr>
			<th colspan="4">{L_TITLE}</th>
		</tr>
		<tr>
			<td class="row1" colspan="4"><p class="gensmall">{L_TITLE_EXPLAIN}</p></td>
		</tr>
	</table>
	<br />
	<form id="ucp_gallery" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>

		<table class="tablebg" width="100%" cellspacing="1">
		<tr>
			<th colspan="2" valign="middle">{L_TITLE}</th>
		</tr>
		<!-- IF ERROR -->
			<tr>
				<td class="row3" colspan="2" align="center"><span class="gensmall error">{ERROR}</span></td>
			</tr>
		<!-- ENDIF -->
		<tr>
			<td class="row1" width="50%"><b class="genmed">{L_WATCH_OWN}:</b></td>
			<td class="row2"><input type="radio" class="radio" name="watch_own" value="1"<!-- IF S_WATCH_OWN --> checked="checked"<!-- ENDIF --> /><span class="gen">{L_YES}</span>&nbsp; &nbsp;<input type="radio" class="radio" name="watch_own" value="0"<!-- IF not S_WATCH_OWN --> checked="checked"<!-- ENDIF --> /><span class="gen">{L_NO}</span></td>
		</tr>
		<tr>
			<td class="row1" width="50%"><b class="genmed">{L_WATCH_COM}:</b></td>
			<td class="row2"><input type="radio" class="radio" name="watch_com" value="1"<!-- IF S_WATCH_COM --> checked="checked"<!-- ENDIF --> /><span class="gen">{L_YES}</span>&nbsp; &nbsp;<input type="radio" class="radio" name="watch_com" value="0"<!-- IF not S_WATCH_COM --> checked="checked"<!-- ENDIF --> /><span class="gen">{L_NO}</span></td>
		</tr>
		<tr>
			<td class="row1" width="50%"><b class="genmed">{L_WATCH_FAVO}:</b></td>
			<td class="row2"><input type="radio" class="radio" name="watch_favo" value="1"<!-- IF S_WATCH_FAVO --> checked="checked"<!-- ENDIF --> /><span class="gen">{L_YES}</span>&nbsp; &nbsp;<input type="radio" class="radio" name="watch_favo" value="0"<!-- IF not S_WATCH_FAVO --> checked="checked"<!-- ENDIF --> /><span class="gen">{L_NO}</span></td>
		</tr>
		<tr>
			<td class="cat" colspan="2" align="center">{S_HIDDEN_FIELDS}<input class="btnmain" type="submit" name="submit" value="{L_SUBMIT}" />&nbsp;&nbsp;<input class="btnlite" type="reset" value="{L_RESET}" name="reset" /></td>
		</tr>
		</table>
	</form>
<!-- ENDIF -->

<!-- IF S_INFO_CREATE -->
<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<th colspan="4">{L_TITLE}</th>
	</tr>
	<tr>
		<td class="row1" colspan="4"><p class="gensmall">{L_TITLE_EXPLAIN}</p></td>
	</tr>
	<tr>
		<td class="cat" colspan="4" align="{S_CONTENT_FLOW_END}">
			<form id="ucp" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>
				{S_HIDDEN_FIELDS}
				<input type="submit" name="submit" value="{L_CREATE_PERSONAL_ALBUM}" class="button1" />
				{S_FORM_TOKEN}
			</form>
		</td>
	</tr>
</table>
<!-- ENDIF -->

<!-- IF S_CREATE_SUBALBUM || S_EDIT_SUBALBUM -->
<form id="acp_gallery" method="post" action="{U_ACTION}">
<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<th colspan="4">{L_TITLE}</th>
	</tr>
	<tr>
		<td class="row2" colspan="4"><p class="gensmall">{L_TITLE_EXPLAIN}</p></td>
	</tr>
	<!-- IF not S_PERSONAL_ALBUM -->
		<tr>
			<td class="row1" colspan="2"><b class="gensmall">{L_ALBUM_PARENT}:</b></td>
			<td class="row1" colspan="2"><p class="gensmall"><select id="parent_id" name="parent_id">{S_PARENT_OPTIONS}</select></p></td>
		</tr>
		<tr>
			<td class="row1" colspan="2"><b class="gensmall">{L_ALBUM_NAME}:</b></td>
			<td class="row1" colspan="2"><p class="gensmall"><input class="inputbox" type="text" id="album_name" name="album_name" value="{ALBUM_NAME}" maxlength="255" /></p></td>
		</tr>
	<!-- ENDIF -->
	<tr>
		<td class="row1" colspan="2"><b class="gensmall">{L_ALBUM_DESC}:</b></td>
		<td class="row1" colspan="2"><p class="gensmall"><textarea class="inputbox" id="album_desc" name="album_desc" rows="5" cols="45">{ALBUM_DESC}</textarea>
		<br/>
		<input type="checkbox" class="radio" name="desc_parse_bbcode"<!-- IF S_DESC_BBCODE_CHECKED --> checked="checked"<!-- ENDIF --> /> {L_PARSE_BBCODE}
		<input type="checkbox" class="radio" name="desc_parse_smilies"<!-- IF S_DESC_SMILIES_CHECKED --> checked="checked"<!-- ENDIF --> /> {L_PARSE_SMILIES}
		<input type="checkbox" class="radio" name="desc_parse_urls"<!-- IF S_DESC_URLS_CHECKED --> checked="checked"<!-- ENDIF --> /> {L_PARSE_URLS}</p></td>
	</tr>
	<tr>
		<td class="cat" colspan="4" align="{S_CONTENT_FLOW_END}">
			<form id="ucp" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>
				{S_HIDDEN_FIELDS}
				<input type="submit" name="submit" value="{L_CREATE_PERSONAL_ALBUM}" class="button1" /> &nbsp;
				{S_FORM_TOKEN}
			</form>
		</td>
	</tr>
</table>
	{S_FORM_TOKEN}
</form>
<!-- ENDIF -->

<!-- IF S_MANAGE_SUBALBUMS -->
<form id="albums" method="post" action="{U_CREATE_SUBALBUM}">
<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<th colspan="3">{L_TITLE}</th>
	</tr>
	<tr>
		<td class="row2" colspan="3"><b class="genmed">{NAVIGATION}<!-- IF S_ALBUM --> [<a href="{U_EDIT}">{L_EDIT}</a> | <a href="{U_DELETE}">{L_DELETE}</a> | <a href="{U_GOTO}">{L_GOTO}</a> | <a href="{U_UPLOAD}">{L_UPLOAD_IMAGE}</a>]<!-- ENDIF --></b></td>
	</tr>
	<!-- IF .album_row or U_CREATE_SUBALBUM -->
	<tr>
		<td class="cat" colspan="3"><b class="genmed"><!-- IF .album_row -->{L_ATTACHED_SUBALBUMS}<!-- ELSE -->{L_NO_SUBALBUMS}<!-- ENDIF --></b></td>
	</tr>
	<!-- ENDIF -->
	<!-- BEGIN album_row -->
		<!-- IF album_row.S_ROW_COUNT is even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF -->
			<td style="padding: 4px;" width="20" align="center" valign="middle"><img src="{album_row.FOLDER_IMAGE}" alt="" /></td>
			<td style="padding: 4px;" width="100%" valign="top">
				<p class="topictitle"><a href="{album_row.U_ALBUM}">{album_row.ALBUM_NAME}</a></p>
				<!-- IF album_row.ALBUM_DESCRIPTION --><p class="gensmall"><br />{album_row.ALBUM_DESCRIPTION}</p><!-- ENDIF -->
			</td>
			<td style="padding: 4px;" align="{S_CONTENT_FLOW_BEGIN}" valign="top" nowrap="nowrap">
					<!-- IF album_row.S_FIRST_ROW && not album_row.S_LAST_ROW -->
						{ICON_MOVE_UP_DISABLED}
						<a href="{album_row.U_MOVE_DOWN}">{ICON_MOVE_DOWN}</a>
					<!-- ELSEIF not album_row.S_FIRST_ROW && not album_row.S_LAST_ROW-->
						<a href="{album_row.U_MOVE_UP}">{ICON_MOVE_UP}</a>
						<a href="{album_row.U_MOVE_DOWN}">{ICON_MOVE_DOWN}</a>
					<!-- ELSEIF album_row.S_LAST_ROW && not album_row.S_FIRST_ROW -->
						<a href="{album_row.U_MOVE_UP}">{ICON_MOVE_UP}</a>
						{ICON_MOVE_DOWN_DISABLED}
					<!-- ELSE -->
						{ICON_MOVE_UP_DISABLED}
						{ICON_MOVE_DOWN_DISABLED}
					<!-- ENDIF -->
					<a href="{album_row.U_EDIT}">{ICON_EDIT}</a>
					<a href="{album_row.U_DELETE}">{ICON_DELETE}</a>
			</td>
		</tr>
	<!-- END album_row -->
	<!-- IF U_CREATE_SUBALBUM -->
	<tr>
		<td class="cat" colspan="3" align="{S_CONTENT_FLOW_END}">
			<input class="button2" name="addforum" type="submit" value="{L_CREATE_SUBALBUM}" /> &nbsp;
		</td>
	</tr>
	<!-- ENDIF -->
</table>
	{S_FORM_TOKEN}
</form>
<!-- ENDIF -->

<!-- IF S_MANAGE_FAVORITES or S_MANAGE_SUBSCRIPTIONS -->
	<table class="tablebg" width="100%" cellspacing="1">
		<tr>
			<th colspan="4">{L_TITLE}</th>
		</tr>
		<tr>
			<td class="row1" colspan="4"><p class="gensmall">{L_TITLE_EXPLAIN}</p></td>
		</tr>
	</table>
	<br />
		<form id="ucp_gallery" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>

		<!-- IF .album_row -->
		<table class="tablebg" width="100%" cellspacing="1">
			<tr>
				<th nowrap="nowrap">{L_ALBUMS}</th>
				<th width="37%" nowrap="nowrap">&nbsp;{L_LAST_IMAGE}&nbsp;</th>
				<th width="5%" nowrap="nowrap">&nbsp;{L_MARK}&nbsp;</th>
			</tr>
			<!-- BEGIN album_row -->
			<tr>

				<td class="row1">
					<a href="{album_row.U_VIEW_ALBUM}" class="topictitle">{album_row.ALBUM_NAME}</a><br />
					<span>{album_row.ALBUM_DESC}</span>
				</td>
				<td class="row1" width="150" align="center">
					<!-- IF album_row.UC_FAKE_THUMBNAIL --><span style="float: left; text-align: center; width: {FAKE_THUMB_SIZE}px; padding-right: 5px;">{album_row.UC_FAKE_THUMBNAIL}</span><!-- ENDIF -->
					<!-- IF album_row.LAST_IMAGE -->
						{L_POST_BY_AUTHOR} {album_row.UPLOADER}<br />
						{album_row.LAST_IMAGE_TIME}
					<!-- ENDIF -->
				</td>
				<td class="row2" align="center">&nbsp;<input type="checkbox" name="album_id_ary[]" value="{album_row.ALBUM_ID}" />&nbsp;</td>
			</tr>
			<!-- END album_row -->
		</table>
		<table width="100%" cellspacing="2" cellpadding="2" border="0" align="center">
			<tr>
				<td align="right" valign="top" nowrap="nowrap"><b class="gensmall"><a href="#" onclick="marklist('ucp_gallery', 'album_id_ary', true); return false;">{L_MARK_ALL}</a> :: <a href="#" onclick="marklist('ucp_gallery', 'album_id_ary', false); return false;">{L_UNMARK_ALL}</a></b></td>
			</tr>
		</table>
		<br />
		<!-- ENDIF -->

		<table class="tablebg" width="100%" cellspacing="1">
			<tr>
				<!-- IF DISP_FAKE_THUMB --><th width="4%" nowrap="nowrap">&nbsp;</th><!-- ENDIF -->
				<th nowrap="nowrap">{L_IMAGES}</th>
				<!-- IF not S_MANAGE_FAVORITES --><th width="37%" nowrap="nowrap">&nbsp;{L_LAST_COMMENT}&nbsp;</th><!-- ENDIF -->
				<th width="5%" nowrap="nowrap">&nbsp;{L_MARK}&nbsp;</th>
			</tr>
			<!-- BEGIN image_row -->
			<tr>

				<!-- IF image_row.UC_FAKE_THUMBNAIL --><td class="row1" width="{FAKE_THUMB_SIZE}" align="center"><span style="float: left; text-align: center; width: {FAKE_THUMB_SIZE}px; padding-right: 5px;">{image_row.UC_FAKE_THUMBNAIL}</span></td><!-- ENDIF -->
				<td class="row1">
					{image_row.UC_IMAGE_NAME}<br />
					<span>{L_POST_BY_AUTHOR} {image_row.UPLOADER}<br />
					{image_row.IMAGE_TIME}<br />
					{L_ALBUM}: <a href="{image_row.U_VIEW_ALBUM}" style="font-weight: bold;">{image_row.ALBUM_NAME}</a></span>
				</td>
				<!-- IF not S_MANAGE_FAVORITES --><td class="row1" width="150" align="center">&nbsp;
					<!-- IF image_row.COMMENT -->
						{L_POST_BY_AUTHOR} {image_row.LAST_COMMENT_BY}<br />
						{image_row.LAST_COMMENT_TIME}
					<!-- ENDIF -->
				&nbsp;</td><!-- ENDIF -->
				<td class="row2" align="center">&nbsp;<input type="checkbox" name="image_id_ary[]" value="{image_row.IMAGE_ID}" />&nbsp;</td>
			</tr>
			<!-- BEGINELSE -->
			<tr>
				<td class="row1" colspan="<!-- IF S_MANAGE_FAVORITES -->3<!-- ELSE -->4<!-- ENDIF -->">
					<span><!-- IF S_MANAGE_FAVORITES -->{L_NO_FAVORITES}<!-- ELSE -->{L_NO_SUBSCRIPTIONS}<!-- ENDIF --></span>
				</td>
			</tr>
			<!-- END image_row -->
			<tr>
				<td class="cat" colspan="6" align="right">
					<select name="action">
						<option value="" selected="selected">{L_CHOOSE_ACTION}</option>
						<!-- IF S_MANAGE_FAVORITES -->
							<option value="remove_favorite">{L_REMOVE_FROM_FAVORITES}</option>
						<!-- ELSE -->
							<option value="unsubscribe">{L_UNSUBSCRIBE}</option>
						<!-- ENDIF -->
					</select>
					<input class="btnmain" type="submit" value="{L_SUBMIT}" />
				</td>
			</tr>
		</table>
		<table width="100%" cellspacing="2" cellpadding="2" border="0" align="center">
			<tr>
				<td align="right" valign="top" nowrap="nowrap"><b class="gensmall"><a href="#" onclick="marklist('ucp_gallery', 'image_id_ary', true); return false;">{L_MARK_ALL}</a> :: <a href="#" onclick="marklist('ucp_gallery', 'image_id_ary', false); return false;">{L_UNMARK_ALL}</a></b></td>
			</tr>
		</table>
	</form>
<!-- ENDIF -->

<!--
	I request you retain the full copyright notice below including the link to www.flying-bits.org.
	This not only gives respect to the large amount of time given freely by the developer
	but also helps build interest, traffic and use of phpBB Gallery. If you (honestly) cannot retain
	the full copyright I ask you at least leave in place the "Powered by phpBB Gallery" line, with
	"phpBB Gallery" linked to www.flying-bits.org. If you refuse to include even this then support on my
	forums may be affected.

	phpBB Gallery, nickvergessen : 2009
//-->
<div style="text-align: center; clear: both;"><span class="copyright">Powered by <a href="http://www.flying-bits.org/">phpBB Gallery</a> &copy; 2007, 2009 <a href="http://www.flying-bits.org/">nickvergessen</a></span></div>
<br clear="all" />
<form name="ucp" id="ucp" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>
<!-- INCLUDE ucp_footer.html -->