<!--
	I request you retain the full copyright notice below including the link to www.flying-bits.org.
	This not only gives respect to the large amount of time given freely by the developer
	but also helps build interest, traffic and use of phpBB Gallery. If you (honestly) cannot retain
	the full copyright I ask you at least leave in place the "Powered by phpBB Gallery" line, with
	"phpBB Gallery" linked to www.flying-bits.org. If you refuse to include even this then support on my
	forums may be affected.

	phpBB Gallery, nickvergessen : 2009
//-->
<!-- IF S_IN_GALLERY_POPUP -->

	<a href="#" onclick="window.close(); return false;">{L_CLOSE_WINDOW}</a>
	<!-- INCLUDE simple_footer.html -->

<!-- ELSE -->
	<div class="copyright">
		Powered by <a href="http://www.flying-bits.org/">phpBB Gallery</a> &copy; 2007, 2009 <a href="http://www.flying-bits.org/">nickvergessen</a>
		<!-- IF GALLERY_TRANSLATION_INFO --><br />{GALLERY_TRANSLATION_INFO}<!-- ENDIF -->
	</div>

	<!-- INCLUDE overall_footer.html -->
<!-- ENDIF -->