<!-- IF .exif_value -->
<script type="text/javascript">
function getElement(iElementId)
{
	if (document.all) 
	{
		return document.all[iElementId];
	}
	if (document.getElementById)
	{
		return document.getElementById(iElementId);
	}
}

function toggleElement(oElement)
{
	if (oElement.style.display == "none")
	{
		oElement.style.display = "";
	}
	else
	{
		oElement.style.display = "none";
	}
}
</script>
<table class="tablebg" cellspacing="1" width="100%">
	<tr>
		<th colspan="2">{L_EXIF_DATA}<!-- IF not S_VIEWEXIF --> - <a href="javascript: toggleElement(getElement('exif_data_fieldset'));">{L_SHOW_EXIF}</a><!-- ENDIF --></th>
	</tr>
</table>
<table class="tablebg" cellspacing="1" width="100%" id="exif_data_fieldset"<!-- IF not S_VIEWEXIF --> style="display: none;"<!-- ENDIF -->>
	<!-- BEGIN exif_value -->
		<tr class="row1">
			<td width="25%" align="right"><span class="genmed">{exif_value.EXIF_NAME}:</span></td>
				<td><span class="genmed">{exif_value.EXIF_VALUE}</span></td>
		</tr>
	<!-- END exif_value -->
</table>
<br clear="all" />
<!-- ENDIF -->
